{% extends 'frontend/base.html' %}

{% block content %}

<div class="d-flex flex-column-fluid">
                            <!--begin::Container-->
                            <div class="container">
                                <!--begin::Card-->
                                <div class="card card-custom gutter-b">
                                    <div class="card-body card-body py-10 px-10">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="card border-0 text-center features feature-clean">
                                                    <div class="icons text-primary text-center mx-auto">
                                                        <!--<i class="uil uil-phone d-block rounded h3 mb-0"></i>-->


                                                        <span class="svg-icon svg-icon-primary svg-icon-5x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Devices\iPhone-X.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"/>
                                                            <path d="M8,2.5 C7.30964406,2.5 6.75,3.05964406 6.75,3.75 L6.75,20.25 C6.75,20.9403559 7.30964406,21.5 8,21.5 L16,21.5 C16.6903559,21.5 17.25,20.9403559 17.25,20.25 L17.25,3.75 C17.25,3.05964406 16.6903559,2.5 16,2.5 L8,2.5 Z" fill="#000000" opacity="0.3"/>
                                                            <path d="M8,2.5 C7.30964406,2.5 6.75,3.05964406 6.75,3.75 L6.75,20.25 C6.75,20.9403559 7.30964406,21.5 8,21.5 L16,21.5 C16.6903559,21.5 17.25,20.9403559 17.25,20.25 L17.25,3.75 C17.25,3.05964406 16.6903559,2.5 16,2.5 L8,2.5 Z M8,1 L16,1 C17.5187831,1 18.75,2.23121694 18.75,3.75 L18.75,20.25 C18.75,21.7687831 17.5187831,23 16,23 L8,23 C6.48121694,23 5.25,21.7687831 5.25,20.25 L5.25,3.75 C5.25,2.23121694 6.48121694,1 8,1 Z M9.5,1.75 L14.5,1.75 C14.7761424,1.75 15,1.97385763 15,2.25 L15,3.25 C15,3.52614237 14.7761424,3.75 14.5,3.75 L9.5,3.75 C9.22385763,3.75 9,3.52614237 9,3.25 L9,2.25 C9,1.97385763 9.22385763,1.75 9.5,1.75 Z" fill="#000000" fill-rule="nonzero"/>
                                                            </g>
                                                            </svg><!--end::Svg Icon--></span>



                                                    </div>
                                                    <div class="mt-3">
                                                        <h3 class="fw-bold font-solaimanlipi">টেলিফোন</h3>
                                                        <p class="text-muted">Start working with Dhaka Wasa that can<br> provide everything</p>
                                                        <a href="tel:+152534-468-854" class="text-primary">+88-02-8117829-31</a>
                                                    </div>
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                                <div class="card border-0 text-center features feature-clean">
                                                    <div class="icons text-primary text-center mx-auto">
                                                        <!--<i class="uil uil-envelope d-block rounded h3 mb-0"></i>-->
                                                        <span class="svg-icon svg-icon-primary svg-icon-5x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Communication\Mail.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"/>
                                                            <path d="M5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z" fill="#000000"/>
                                                            </g>
                                                            </svg><!--end::Svg Icon--></span>
                                                    </div>
                                                    <div class="mt-3">
                                                        <h5 class="fw-bold">Email</h5>
                                                        <p class="text-muted">Start working with Dhaka Wasa that can<br> provide everything</p>
                                                        <a href="mailto:contact@example.com" class="text-primary">contact@example.com</a>
                                                    </div>
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                                <div class="card border-0 text-center features feature-clean">
                                                    <div class="icons text-primary text-center mx-auto">
                                                        <!--<i class="uil uil-map-marker d-block rounded h3 mb-0"></i>-->
                                                        <span class="svg-icon svg-icon-primary svg-icon-5x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Map\Marker1.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"/>
                                                            <path d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z" fill="#000000" fill-rule="nonzero"/>
                                                            </g>
                                                            </svg><!--end::Svg Icon-->
                                                        </span>

                                                    </div>
                                                    <div class="mt-3">
                                                        <h3 class="fw-bold font-solaimanlipi">অবস্থান</h3>
                                                        <p class="text-muted font-solaimanlipi fs-15">ওয়াসা ভবন, ৯৮,কাজী নজরুল ইসলাম এভিনিউ<br>
                                                            কাওরান বাজার, ঢাকা-১২১৫.</p>
                                                        <a href="https://goo.gl/maps/AnDW7S45ECbfhXs9A" target="_blank" class="text-primary">View on Google map</a>
                                                    </div>
                                                </div>
                                            </div><!--end col-->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Card-->
                            </div>
                            <!--end::Container-->
                        </div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    $(document).ready(function(){

        $('#communication').addClass('active');
    });


</script>


{% endblock extra_script %}
