{% load static %}

  <div class="container">
                        <!--begin::Footer-->
                        <div class="footer py-4 px-4 d-flex flex-lg-column" id="kt_footer">
                            <!--begin::Container-->
                            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                                <!--begin::Copyright-->
                                <div class="text-white order-2 order-md-1">
                                    <span class="text-muted font-weight-bold mr-2">2021©</span>
                                    <a href="#" target="_blank" class="text-white text-uppercase"> Dhaka Wasa</a>
                                </div>
                                <!--end::Copyright-->
                                <!--begin::Nav-->
                                <div class="nav nav-white order-1 order-md-2" style="color:#fff">
                                               <strong>Developed By: <a href="https://www.bdtask.com/" target="_blank"><img class="z-index-2"
                                                                                         src="{% static 'assets/logo/logo.jpeg'%}"
                                                                                         alt="Image Description"
                                                                                         data-pagespeed-url-hash="799927880"
                                                                                         style="height: 28px;"></a>
                                </div>
                                <!--end::Nav-->
                            </div>
                            <!--end::Container-->
                        </div>
                        <!--end::Footer-->
                    </div>



