{% extends 'frontend/base.html' %}

{% block content %}

 <div class="d-flex flex-column-fluid">
                            <!--begin::Container-->
                            <div class="container">
                                <!--begin::Card-->
                                <div class="card card-custom gutter-b">
                                    <div class="card-body fs-14 py-16">
                                        <div class="row justify-content-center">
                                            <div class="col-md-8">
                                                <h4 class="mb-5 font-weight-bold text-primary text-center">Guidelines</h4>
                                                <h3 class="text-center mb-10">Procedures and guidelines for enlistment/renewal/upgrading<br> of license for a contractor in DWASA.</h3>
                                                <p class="mb-7">In order to enlistment/renewal/upgrading the license of contractor for civil goods and works/electromechanical goods and works under the limited tendering method as per rules 52 of the PPR-08, the following procedures & guidelines shall be followed.</p>
                                                <h5 class="mb-3">1. Advertisement</h5>
                                                <p class="mb-7">Invitation for enlistment/renewal will be advertised in at least one Bangla language national
                                                    newspaper and in one English language national newspaper, both shall have a wide
                                                    circulation within Bangladesh. The procedures and contains in the advertisement shall be followed
                                                    according to the rules 52 of PPR-08. The advertisement will be the part of the application for
                                                    enlistment/renewal/upgrading the license for contractors in DWASA. The format attached with this
                                                    document may be used as the notice of the advertisement.</p>
                                                <h5 class="mb-3">2. Application Form </h5>
                                                <p class="mb-7">Application for enlistment/renewal/upgrading of the license must be in the prescribed form. The
                                                    application form shell contain sufficient information in order to verify potential Contractor meets the
                                                    requirements specified in rules in order to verify potential Contractor meets the requirements
                                                    specified in rules 52 of the PPR-08 The form enclosed herewith shall be used as a standard form
                                                    for enlistment/renewal/upgrading of license for the contractor in DWASA</p>
                                                <h5 class="mb-3">3. Selling of Application Form</h5>
                                                <p class="mb-7">The price of the application form shall be determined Tk. 1000- (One Thousand) only. The office of
                                                    the Deputy Secretary (Administration Division-2) will make available the Application Form for sale
                                                    trough Accounts Division at a price Tk. 1000/- only to the interested applicants/contractors, The
                                                    Application Form shall be sold up to the deadline for selling the applications set out in the
                                                    advertisement notice.</p>
                                                <h5 class="mb-3">4. Category of Application </h5>
                                                <p class="mb-7">
                                                    According to the natures of procurement, there shall be two (2) groups of applicants namely (i)
                                                    contractor for Civil goods and works, (ii) Contractor for Electromechanical goods and works with
                                                    three (3) category i.e. Class-I, Class-II, and Class III each The category shall be classified as
                                                </p>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered mb-7">
                                                        <thead>
                                                            <tr>
                                                                <th>Sl</th>
                                                                <th>Group of Applicant</th>
                                                                <th>Class-1 From 20 (twenty) lakh to above</th>
                                                                <th>Class-ll From 20(twenty) lakh to 10(ten) lakh</th>
                                                                <th>Class-lll Less the 10(ten) lakh</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th>1</th>
                                                                <td>Contractor for Civil.</td>
                                                                <td>Procurement of goods and civil works of value Tk. 20 lakh to above</td>
                                                                <td>Procurement of goods and civil works of value Tk. 10 to 20 lakh.</td>
                                                                <td>Procurement of goods and civil works of value Tk. less than 10 lakh</td>
                                                            </tr>
                                                            <tr>
                                                                <th>2</th>
                                                                <td>Contractor for Electrical/Mechanical group</td>
                                                                <td>Procurement of goods and Electrical/Mechanical
                                                                    Works of value Tk. 20 lakh to above</td>
                                                                <td>Procurement of goods and Electrical/Mechanical
                                                                    Works of value Tk. 10 lakh to 20 lakh.</td>
                                                                <td>Procurement of goods and Electrical/Mechanical
                                                                    Works of value Tk. less than 10 lakh </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <h5 class="mb-3">5. Fees</h5>
                                                <p class="mb-7">
                                                    A necessary fee (non-refundable) shall be charged to the applicant/contractor for enlistment renewal/upgrading of license as per the following:
                                                </p>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered mb-7">
                                                        <thead>
                                                            <tr>
                                                                <th>Sl</th>
                                                                <th>Purpose</th>
                                                                <th>Class-l</th>
                                                                <th>Class-ll</th>
                                                                <th>Class-lll</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th colspan="5" class="font-weight-medium">A. Enlistment fee</th>
                                                            </tr>
                                                            <tr>
                                                                <th>1</th>
                                                                <td>For Contractor of civil goods and works</td>
                                                                <td>TK. 5,000 </td>
                                                                <td>TK. 4,000 </td>
                                                                <td>TK. 3,000 </td>
                                                            </tr>
                                                            <tr>
                                                                <th>2</th>
                                                                <td>For contractor of electro-mechanical goods and works.</td>
                                                                <td>TK. 5,000 </td>
                                                                <td>TK. 4,000 </td>
                                                                <td>TK. 3,000 </td>
                                                            </tr>
                                                            <tr>
                                                                <th colspan="5" class="font-weight-medium">B. Renewal fee</th>
                                                            </tr>
                                                            <tr>
                                                                <th>1</th>
                                                                <td>For contractor of civil goods and works.</td>
                                                                <td>TK. 2,000 </td>
                                                                <td>TK. 1,500 </td>
                                                                <td>TK. 1,000 </td>
                                                            </tr>
                                                            <tr>
                                                                <th>2</th>
                                                                <td>For contractor of electro-mechanical goods and works</td>
                                                                <td>TK. 2,000 </td>
                                                                <td>TK. 1,500 </td>
                                                                <td>TK. 1,000 </td>
                                                            </tr>
                                                            <tr>
                                                                <th colspan="2" class="font-weight-medium">C. Upgrading</th>
                                                                <th class="font-weight-medium">From class<br>
                                                                    <span class="font-weight-normal">ii to class i</span></th>
                                                                <th class="font-weight-medium">From class<br>
                                                                    <span class="font-weight-normal">iii to class ii</span></th>
                                                                <th></th>
                                                            </tr>
                                                            <tr>
                                                                <th>1</th>
                                                                <td>For contractor of civil goods and work</td>
                                                                <td>TK. 5,000 </td>
                                                                <td>TK. 4,000 </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <th>2</th>
                                                                <td>For contractor of electro-mechanical goods and works</td>
                                                                <td>TK. 5,000 </td>
                                                                <td>TK. 4,000 </td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <p class="mb-7">fee in the form of pay order or bank draft from any scheduled bank shall be charged to the application at the time of submission of application. No application is acceptable without a necessary fee.</p>
                                                <h5 class="mb-3">6. Receiving of application</h5>
                                                <p class="mb-7">
                                                    The application form for enlistment/renewal/upgrading of a license shall be received in a sealed envelope either delivered by hand or courier mail to the office of the Deputy Secretary (Administration Division-2). The authority reserves the right to accept or reject the late applications. The officer receiving the application shall maintain a register to record the received application (s) and he will issue a receipt, to the applicant(s), with receiving details number who wishes to get a receipt, starting name & address of the applicant/contractor and the date and time of receipt of the application.
                                                </p>
                                                <p class="mb-7">
                                                    All applications received shall be kept in a secured and safe place with the Deputy Secretary (Administration Division-2) as its custodian. On the deadline for submission of applications, the received applications shall be submitted by the concerned receiving officer to the convener of the enlistment committee for evaluation and recommendation.
                                                </p>
                                                <h5 class="mb-3">7. Enlistment committee:</h5>
                                                <p class="mb-7">
                                                    The evaluation of the application for enlistment/renewal/upgrading of license for a contractor may require the appointment of an enlistment committee. The following six(6) members enlistment committee may be formed to handle the evaluation of the application and enlistment/renewal process.
                                                </p>
                                                <table class="table mb-7 table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td class="font-weight-medium">1. Deputy managing director (Admin)</td>
                                                            <td class="nowrap">Convener</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-weight-medium">2. Commercial manager</td>
                                                            <td class="nowrap">Member</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-weight-medium">3. Superintending engineer (RPE & M circle)</td>
                                                            <td class="nowrap">Member</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-weight-medium">4. Superintending engineer savar (R & D) circle</td>
                                                            <td class="nowrap">Member</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-weight-medium">5. Superintending engineer (P & D circle)</td>
                                                            <td class="nowrap">Member</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-weight-medium">6. Assistant Director (Adm.), Director pf Textile, BTMC Bhaban (5th floor), 7-9 Kawran Bazar, Dhaka-1215</td>
                                                            <td class="nowrap">Member</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-weight-medium">7. Deputy Secretary (Administration Division-2)</td>
                                                            <td class="nowrap">Member-Secretary</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <h5 class="mb-3">8. The Evaluation Process</h5>
                                                <p class="mb-7">
                                                    (a) The Enlistment Committee will study the requirements set out in the application of
                                                    the enlistment/renewal/ upgrading of license or contractor and use the checklist as given
                                                    in Annex-1 for assess/evaluation the application. The Committee will assess/evaluate the
                                                    predefined minimum requirements regarding General Requirement, Professional and
                                                    Technical Capacity, Financial Capacity, Legal Capacity, and Taxation Status of the
                                                    applicant. The following notes are intended to give guidance on some of the principal
                                                    issues confronting the Enlistment committee.
                                                </p>
                                                <ul class="policy-ul">
                                                    <li class="mb-3">
                                                        <h6>Assessment of the General requirement</h6>
                                                        All applicants or firms applying for enlistment/renewal/ upgrading of license are required to provide general information to show their identity. The procedure requires to
                                                        set pass/fail criteria which, if all are not met substantially by the applicants, would cause
                                                        them to be disqualified.</li>
                                                    <li class="mb-3">
                                                        <h6>Assessment of the Professional and Technical Capacity</h6>
                                                        The criteria adopted must relate to characteristics that are essential to ensure satisfactory execution of the work/contract. Basically, the criteria shall be chosen so that applicants that are qualified to carry out the work/contract are permitted to take part in the tender is invited. The criteria must also be set so that they neither inhabit competition nor limit the number of eligible applicants to be enlisted
                                                        Experience requirements shall be stipulated as a minimum value of executed works/ contracts carried over a stated period normally 5 years. The managerial and technical competence of a contractor is largely related to the key personnel who is responsible for supervising intending work/ contract i.c. manager of the firm but it bears comparatively less importance for procurement of goods. Generally, the experience of a manager may be considered as the indicator to ascertain the competence of the key personnel.</li>
                                                    <li class="mb-3">
                                                        <h6>Assessment of Financial Soundness : </h6>
                                                        The purpose of assessing the financial soundness of the Applicants(s) is to
                                                        ensure that the applicant's financial standing its a whole does not have structural weakness
                                                        the mat may result in the applicant's financial inability to perform and to give an indication of
                                                        its scope and value of the work/contract the applicant would be able to undertake. It may
                                                        he necessary to look at trends in key figures over a number of years and to make
                                                        comparisons of the applicant's annual activities to the same applicant's result from
                                                        previous years. Nevertheless, audited financial statements or balance sheets should be
                                                        sought as a general guide to the financial situation of the applicant(s) to be sought in a
                                                        prescribed proforma.
                                                    </li>
                                                    <li>
                                                        <h6>Legal Status:</h6>
                                                        It should be confirmed that the applicant is legally entitled to enter into any contract
                                                        that might arise from the procurement proceedings. This means that there is no existing
                                                        order of any judicial court that prevents either a person or firm of employees of the firm from
                                                        entering into and or signing a contract. Such reason might be that a privately owned
                                                        company was bankrupt and as a result, the person owning the company and the
                                                        company itself was banned by a court from entering into any contract.
                                                    </li>
                                                    <li>
                                                        <h6>Taxation:</h6>
                                                        The applicant should fulfill their obligation to pay taxes and social security obligations
                                                        under relevant national regulations. Documentary evidence issued by the competent
                                                        authority shall be checked and confirmed that the requirements are met by the applicant(s).
                                                    </li>
                                                </ul>
                                                <p class="mb-7">
                                                    <span class="m-0 font-weight-medium">(b) Clarification: </span>
                                                    The committee is permitted to seek clarifications from Applicants in order to facilitate
                                                    the examination and evaluation of applications. The request for clarification shall be
                                                    made in writing to the applicant(s).

                                                </p>
                                                <p class="mb-7">
                                                    <span class="m-0 font-weight-medium">(c) Report: </span>
                                                    Upon completion of the evaluation of the application, the committee shall prepare a report with recommendations and submit it to the Managing Director. The report shall state the applicants(s) or firms who have achieved the required level are to be considered for enlistment as contractors in DWASA/ considered for renewal of the license of contractors upgrade the category of license. No restriction on the number of qualified firms shall be permitted.  A qualified firm is one that meets all the
                                                    requirements of each qualification criteria. The evaluation sheet should address the pass-fail criteria. Disqualification of the applicant who fails to meet the criteria should be explained. A summary sheet should be prepared to show the classification and category
                                                    Who has met the requirement for enlistment as contractors? All members of the EnlistmentCommittee, with their name and designation, clearly stated therein, shall sign in the evaluation report,
                                                </p>
                                                <h5 class="mb-3">9. Renewal</h5>
                                                <p class="mb-7">
                                                    The existing enlisted contractors may request in writing for renewal of their license
                                                    giving up-to-date information using the same form as used for enlistment. They must
                                                    submit the existing license to the concerned office attested with the renewal application.
                                                    The receiving office will give a receipt to contractors which will be treated as their existing
                                                    license until the decision for renewal is finalized. The enlistment committee assesses/evaluates
                                                    the application for	renewal following the same guidelines as described in SI-B. The
                                                    renewal of the license will be done for a year only each time.
                                                </p>
                                                <h5 class="mb-3">10. Upgrade </h5>
                                                <p class="mb-7">
                                                    The existing contractors may request to upgrade their license providing up-to-date
                                                    information/document using the same form as used for enlistment. Subject to satisfactory
                                                    performance a license of a contractor may be upgraded from Class-III to Class-11 to
                                                    Class-II to Class-I The same guidelines /procedures as described in SI. 8 & 9 will be followed in
                                                    of upgrading the license.
                                                </p>
                                                <h5 class="mb-3">11. Approval of enlistment/renewal list</h5>
                                                <p class="mb-7">
                                                    The Enlistment committee will submit the evaluation report with its recommendation to
                                                    the approving authority. The report shall be finalized timely in order to enlist/ renewal of
                                                    license of contractors. Once the list is approved by the authority the applicant shall be
                                                    informed stating the classification of enlistment/renewal in writing.
                                                </p>
                                                <h5 class="mb-3">12. License</h5>
                                                <p class="mb-7">
                                                    A license containing the particulars of the contractor's i.e. License no. with issuing
                                                    date, Name of the Contractors, Address, Classification of a license, Validity period, etc. with
                                                    a photograph of the contractors shall be issued properly signing by me Rumor I
                                                    and the issuing officer. The shape and size of the license may be made as follows
                                                </p>
                                                <div class="row">
                                                    <div class="col-sm-6 mb-7">
                                                        <img src="assets/img/license-01.jpg" alt="" class="img-fluid">
                                                    </div>
                                                    <div class="col-sm-6 mb-7">
                                                        <img src="assets/img/license-02.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                                <!--                                                                                                <div class="row">
                                                                                                                                                    <div class="col-md-6">
                                                                                                                                                        <div class="license-box mb-7">
                                                                                                                                                            <div class="d-flex mb-5">
                                                                                                                                                                <div class="mr-2">License No.........................</div>
                                                                                                                                                                <div>Issue date.........................</div>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="d-flex mb-7">
                                                                                                                                                                <div class="monogram mr-3">
                                                                                                                                                                    Monogram
                                                                                                                                                                </div>
                                                                                                                                                                <div class="address-text">Dhaka Water supply and Sewerage Authority 98-Kazi Nazrul Islam Avenue, (WASA Bhaban) Karwanbazar, Dhaka-1215</div>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="mb-7">Ms...........................................................................................................</div>
                                                                                                                                                            <div class="mb-5">Address..............................................................................................</div>
                                                                                                                                                            <div class="d-flex mb-7 mt-15">
                                                                                                                                                                <div class="mr-2">Group.....................................</div>
                                                                                                                                                                <div>Category...............................</div>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="mb-4">Issuing Officer.....................................</div>
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                                                                                                                                                    <div class="col-md-6">
                                                                                                                                                        <div class="license-box mb-7">
                                                                                                                                                            <div class="d-flex mb-3">
                                                                                                                                                                <div class="mr-2">License No.........................</div>
                                                                                                                                                                <div>Issue date.........................</div>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="d-flex mb-3">
                                                                                                                                                                <div class="monogram mr-3">
                                                                                                                                                                    Photo
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="d-flex mb-5">
                                                                                                                                                                <div class="mr-2">Ms.............................................</div>
                                                                                                                                                                <div>Address.....................................</div>
                                                                                                                                                            </div>
                                                                                                                                                            is hereby enlisted as a contractor for electro-mechanical goods and works for a category Class-i/Class-ii/Class-iii in Dhaka Water Supply and Sewerage Authority. This license will abide by the Public Procurement Rules 2008.
                                                                                                                                                            <div class="mt-5">This license is valid upto.....................................</div>
                                                                                                                                                            <div class="text-right mt-3">Authorized officer.............</div>
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                                                                                                                                                </div>-->
                                                <h5 class="mb-3">13. Enlistment/renewal once a year</h5>
                                                <p class="mb-7">
                                                    The enlistment/renewal of the license of the contractor for civil goods and works/
                                                    electro-mechanical goods and works shall be done once a year, preferably on the
                                                    the month of July.
                                                </p>
                                                <h5 class="mb-3">14. Held-up/Cancellation of license</h5>
                                                <p class="mb-7">
                                                    Dhaka WASA may held-up the license for time being or cancel permanently if
                                                    DWASA have reasons to believe that the contractor's performance is not satisfactory due
                                                    to the following :
                                                </p>
                                                <ul class="policy-ul mb-7">
                                                    <li class="mb-3">Failure to comply with the instruction of implementing office.</li>
                                                    <li class="mb-3">Poor performance in implementing work/contract.</li>
                                                    <li class="mb-3">Corrupt, fraudulent, collusive, or coercive practices.</li>
                                                    <li class="mb-3">Misconduct.</li>
                                                    <li class="mb-3">Activities against DWASA's interest.</li>
                                                    <li class="mb-3">Lack of diligence in the execution of work/contract.</li>
                                                </ul>
                                                <h5 class="mb-3">15. Withdrawal of punishment</h5>
                                                <p class="mb-7">
                                                    If the license of a contractor is held-up or canceled, the contractors may appeal
                                                    to withdraw the punishment explaining justification in favor to them. The-enlistment
                                                    the committee will go through the appeal and if the explanation is found satisfactory the
                                                    punishment will be withdrawn.
                                                </p>
                                                <h5 class="mb-3">16. The Public Procurement Rules 2008(Rule-52)</h5>
                                                <p class="mb-7">
                                                    The rules & procedures stated in this chapter will	be followed for the
                                                    enlistment/renewal/upgrading process. If there is any discrepancy between any
                                                    rules/terms as stated in this chapter & the public procurement rules, the latter will govern.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Card-->
                            </div>
                            <!--end::Container-->
                        </div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    $(document).ready(function(){

        $('#principles').addClass('active');
    });


</script>


{% endblock extra_script %}

