{% load static %}
<div id="kt_header" class="header header-fixed">
                <!--begin::Container-->
                <div class="container d-flex align-items-stretch justify-content-between">
                    <!--begin::Left-->
                    <div class="d-flex align-items-stretch mr-3">
                        <!--begin::Header Logo-->
                        <div class="header-logo">
                            <a href="{% url 'home' %}">
                                <img alt="Logo" src="{% static 'frontend/assets/img/wasa-logo.png' %}"
                                     class="logo-default max-h-60px"/>
                            </a>
                        </div>
                        <!--end::Header Logo-->
                        <!--begin::Header Menu Wrapper-->
                        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                            <!--begin::Header Menu-->
                            <div id="kt_header_menu"
                                 class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
                                <!--begin::Header Nav-->
                                <ul class="menu-nav">
                                    <li class="menu-item menu-item-submenu menu-item-rel" id="home">
                                        <a href="{% url 'home' %}" class="menu-link">
                                            <span class="menu-text">হোম</span>
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click"
                                        aria-haspopup="true" id="application">
                                        <a href="javascript:;" class="menu-link menu-toggle">
                                            <span class="menu-text">আবেদন</span>
                                            <i class="menu-arrow"></i>
                                        </a>
                                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                            <ul class="menu-subnav">
<!--                                                {% if not request.user.phone %}-->
<!--                                                 <li class="menu-item" aria-haspopup="true">-->
<!--                                                    <a href="{% url 'phone-register-new' %}" class="menu-link">-->
<!--                                                        <span class="menu-text">রেজিস্ট্রেশন</span>-->
<!--                                                        <span class="menu-desc"></span>-->
<!--                                                    </a>-->
<!--                                                </li>-->
<!--                                                {% endif %}-->

                                                <li class="menu-item" aria-haspopup="true">
                                                    <a href="{% url 'enrollment-step-1' %}" class="menu-link">
                                                        <span class="menu-text">তালিকাভুক্তি</span>
                                                        <span class="menu-desc"></span>
                                                    </a>
                                                </li>
                                                <li class="menu-item" aria-haspopup="true">
                                                    <a target="_blank" href="{% url 'renewal-step-1' %}" class="menu-link">
                                                        <span class="menu-text">নবায়ন</span>
                                                        <span class="menu-desc"></span>
                                                    </a>
                                                </li>
                                                <li class="menu-item" aria-haspopup="true">
                                                    <a target="_blank" href="{% url 'renewal-step-1' %}" class="menu-link">
                                                        <span class="menu-text">লাইসেন্স আপগ্রেড</span>
                                                        <span class="menu-desc"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="menu-item menu-item-submenu menu-item-rel" id="notice">
                                        <a href="{% url 'notice' %}" class="menu-link">
                                            <span class="menu-text">নোটিশ</span>
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item-submenu menu-item-rel" id="communication">
                                        <a href="{% url 'contact' %}" class="menu-link">
                                            <span class="menu-text">যোগাযোগ</span>
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item-submenu menu-item-rel" id="principles">
                                        <a href="{% url 'guideline' %}" class="menu-link">
                                            <span class="menu-text">নিয়মাবলী</span>
                                        </a>
                                    </li>

                                    {% if not request.user.phone %}
                                    <li class="menu-item menu-item-submenu menu-item-rel">
                                        <a href="{% url 'phone-login' %}" class="menu-link">
                                            <span class="menu-text">লগইন </span>
                                        </a>
                                    </li>

                                   

                                    {% endif %}



                                    {% if request.user.phone %}

                                    <li class="menu-item menu-item-submenu menu-item-rel" id="download">
                                        <a href="{% url 'download' %}" class="menu-link">
                                            <span class="menu-text">ডাউনলোড  </span>
                                        </a>
                                    </li>

<!--                                    <li class="menu-item menu-item-submenu menu-item-rel">-->
<!--                                        <a href="{% url 'phone-logout' %}" class="menu-link">-->
<!--                                            <span class="menu-text">লগআউট  </span>-->
<!--                                        </a>-->
<!--                                    </li>-->
                                    {% endif %}


                                </ul>
                                <!--end::Header Nav-->
                            </div>
                            <!--end::Header Menu-->
                        </div>
                        <!--end::Header Menu Wrapper-->
                    </div>
                    <!--end::Left-->
                    <!--begin::Topbar-->
                    <div class="topbar">
                        <!--begin::Search-->
                        <div class="dropdown">
                            <!--begin::Toggle-->
                            <!--                                    <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">-->
                            <!--                                        <div class="btn btn-icon btn-hover-transparent-white btn-lg btn-dropdown mr-1">-->
                            <!--                                            <span class="svg-icon svg-icon-xl">-->
                            <!--                                                &lt;!&ndash;begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg&ndash;&gt;-->
                            <!--                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
                            <!--                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
                            <!--                                                <rect x="0" y="0" width="24" height="24" />-->
                            <!--                                                <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />-->
                            <!--                                                <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />-->
                            <!--                                                </g>-->
                            <!--                                                </svg>-->
                            <!--                                                &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
                            <!--                                            </span>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--end::Toggle-->
                            <!--begin::Dropdown-->
                            <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
                                <div class="quick-search quick-search-dropdown" id="kt_quick_search_dropdown">
                                    <!--begin:Form-->
                                    <form method="get" class="quick-search-form">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <span class="svg-icon svg-icon-lg">
                                                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     width="24px" height="24px" viewBox="0 0 24 24"
                                                                     version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none"
                                                                   fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24"/>
                                                                <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                                                      fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                                                <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                                                      fill="#000000" fill-rule="nonzero"/>
                                                                </g>
                                                                </svg>
                                                                <!--end::Svg Icon-->
                                                            </span>
                                                        </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Search..."/>
                                            <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="quick-search-close ki ki-close icon-sm text-muted"></i>
                                                        </span>
                                            </div>
                                        </div>
                                    </form>
                                    <!--end::Form-->
                                    <!--begin::Scroll-->
                                    <div class="quick-search-wrapper scroll" data-scroll="true" data-height="325"
                                         data-mobile-height="200"></div>
                                    <!--end::Scroll-->
                                </div>
                            </div>
                            <!--end::Dropdown-->
                        </div>
                        <!--end::Search-->
                        <!--begin::Languages-->
                        <div class="dropdown">
                            <!--begin::Toggle-->
                            <!--                                    <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">-->
                            <!--                                        <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1">-->
                            <!--                                            <img class="h-20px w-20px rounded-sm" src="{% static 'frontend/assets/img/flags/226-united-states.svg' %}" alt="" />-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--end::Toggle-->
                            <!--begin::Dropdown-->
                            <!--                                    <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">-->
                            <!--                                        &lt;!&ndash;begin::Nav&ndash;&gt;-->
                            <!--                                        <ul class="navi navi-hover py-4">-->
                            <!--                                            &lt;!&ndash;begin::Item&ndash;&gt;-->
                            <!--                                            <li class="navi-item">-->
                            <!--                                                <a href="#" class="navi-link">-->
                            <!--                                                    <span class="symbol symbol-20 mr-3">-->
                            <!--                                                        <img src="assets/img/flags/226-united-states.svg" alt="" />-->
                            <!--                                                    </span>-->
                            <!--                                                    <span class="navi-text">English</span>-->
                            <!--                                                </a>-->
                            <!--                                            </li>-->
                            <!--                                            &lt;!&ndash;end::Item&ndash;&gt;-->
                            <!--                                            &lt;!&ndash;begin::Item&ndash;&gt;-->
                            <!--                                            <li class="navi-item active">-->
                            <!--                                                <a href="#" class="navi-link">-->
                            <!--                                                    <span class="symbol symbol-20 mr-3">-->
                            <!--                                                        <img src="assets/img/flags/128-spain.svg" alt="" />-->
                            <!--                                                    </span>-->
                            <!--                                                    <span class="navi-text">Spanish</span>-->
                            <!--                                                </a>-->
                            <!--                                            </li>-->
                            <!--                                            &lt;!&ndash;end::Item&ndash;&gt;-->
                            <!--                                            &lt;!&ndash;begin::Item&ndash;&gt;-->
                            <!--                                            <li class="navi-item">-->
                            <!--                                                <a href="#" class="navi-link">-->
                            <!--                                                    <span class="symbol symbol-20 mr-3">-->
                            <!--                                                        <img src="assets/img/flags/162-germany.svg" alt="" />-->
                            <!--                                                    </span>-->
                            <!--                                                    <span class="navi-text">German</span>-->
                            <!--                                                </a>-->
                            <!--                                            </li>-->
                            <!--                                            &lt;!&ndash;end::Item&ndash;&gt;-->
                            <!--                                            &lt;!&ndash;begin::Item&ndash;&gt;-->
                            <!--                                            <li class="navi-item">-->
                            <!--                                                <a href="#" class="navi-link">-->
                            <!--                                                    <span class="symbol symbol-20 mr-3">-->
                            <!--                                                        <img src="assets/img/flags/063-japan.svg" alt="" />-->
                            <!--                                                    </span>-->
                            <!--                                                    <span class="navi-text">Japanese</span>-->
                            <!--                                                </a>-->
                            <!--                                            </li>-->
                            <!--                                            &lt;!&ndash;end::Item&ndash;&gt;-->
                            <!--                                            &lt;!&ndash;begin::Item&ndash;&gt;-->
                            <!--                                            <li class="navi-item">-->
                            <!--                                                <a href="#" class="navi-link">-->
                            <!--                                                    <span class="symbol symbol-20 mr-3">-->
                            <!--                                                        <img src="assets/img/flags/195-france.svg" alt="" />-->
                            <!--                                                    </span>-->
                            <!--                                                    <span class="navi-text">French</span>-->
                            <!--                                                </a>-->
                            <!--                                            </li>-->
                            <!--                                            &lt;!&ndash;end::Item&ndash;&gt;-->
                            <!--                                        </ul>-->
                            <!--                                        &lt;!&ndash;end::Nav&ndash;&gt;-->
                            <!--                                    </div>-->
                            <!--end::Dropdown-->
                        </div>
                        <!--end::Languages-->
                        <!--begin::User-->
                        <div class="dropdown">
                            <!--begin::Toggle-->
                            <div class="topbar-item">
                                <div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto"
                                     id="kt_quick_user_toggle">
                                    <!--                                            <span class="text-white opacity-70 font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>-->

<!--                                    {% if request.user %}-->
<!--                                    <span class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">{{ request.user.phone }}</span>-->
<!--                                    {% endif %}-->
                                    {% if request.user.phone %}
                                    <div class="topbar-item">
                                        <div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<!--                                            <span class="text-white opacity-70 font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>-->
                                            <span class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">{{ request.user.username }}</span>

                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="">
                                            <a class="dropdown-item" href="{% url 'phone-logout' %}">লগআউট</a>
                                        </div>
                                    </div>

                                    {% endif %}


















                                </div>
                            </div>
                            <!--end::Toggle-->
                        </div>
                        <!--end::User-->
                    </div>
                    <!--end::Topbar-->
                </div>
                <!--end::Container-->
            </div>