{% load static %}
<div class="container">
    <div class="subheader2 p-6 subheader-transparent text-center text-white" id="kt_subheader">
        <div class="row align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <div class="d-md-flex justify-content-center align-items-center">
                    <div class="subheader-logo text-center mr-xl-30">
                        <img src="{% static 'frontend/assets/img/wasa-logo.png' %}" alt="">
                    </div>
                    <div>
                        <h1 class="font-weight-bold mb-2">ঢাকা পানি সরবরাহ ও পয়ঃনিষ্কাশন কর্তৃপক্ষ</h1>
                        <p>
                            ওয়াসা ভবন, ৯৮,কাজী নজরুল ইসলাম এভিনিউ
                            <br>
                            কাওরান বাজার, ঢাকা-১২১৫.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                {% if request.user.phone %}
                <div class="ml-10 text-md-right mt-20" style="font-size: 17px;">
                    {{ request.user.username }}
                    <br>
                    {{ request.user.phone }}
                    <br>
                    <a href="{% url 'phone-logout' %}" class="text-warning">লগ আউট</a>
                </div>
                {% else %}

                <div class="ml-10 text-md-right" style="margin-top:28%;">
                    <span style="font-size:18px;">ঢাকা ওয়াসা হটলাইনঃ </span><strong><span style="font-size:16px;"><i
                        class="fas fa-phone-volume" style="color:white;font-size:21px;"> ১৬১৬২</i></span></strong>


                </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>


<!--begin::Header Mobile-->
<div id="kt_header_mobile" class="header-mobile">
    <!--begin::Logo-->
    <!-- <a href="index.html">
<img alt="Logo" src="assets/img/wasa-logo.png" class="logo-default max-h-40px">
</a> -->
    <!--end::Logo-->
    <!--begin::Toolbar-->
    <div class="d-flex align-items-center ml-auto">
        <button class="btn p-0 burger-icon burger-icon-left ml-4" id="kt_header_mobile_toggle">
            <span></span>
        </button>
    </div>
    <!--end::Toolbar-->
</div>
<!--end::Header Mobile-->
<!--begin::Header-->
<div id="kt_header" class="header header-fixed border-0">
    <!--begin::Container-->
    <div class="container">
        <div class="d-flex align-items-stretch justify-content-center" style="background: #658407;height: 80px;">
            <!--begin::Left-->
            <div class="d-flex align-items-stretch mr-3">
                <!--begin::Header Logo-->
                <!-- <div class="header-logo">
            <a href="index.html">
                <img alt="Logo" src="assets/img/wasa-logo.png" class="logo-default max-h-60px">
                <img alt="Logo" src="assets/img/wasa-logo.png" class="logo-sticky max-h-60px">
            </a>
        </div> -->
                <!--end::Header Logo-->
                <!--begin::Header Menu Wrapper-->
                <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                    <!--begin::Header Menu-->
                    <div id="kt_header_menu"
                         class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
                        <!--begin::Header Nav-->
                        <ul class="menu-nav">
                            <li class="menu-item menu-item-submenu menu-item-rel">
                               <li class="menu-item menu-item-submenu menu-item-rel" id="home">
                                                    <a href="{% url 'home' %}" class="menu-link">
                                    <span class="menu-text">হোম</span>
                                </a>
                            </li>
                            <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click"
                                aria-haspopup="true">
                                <a href="javascript:;" class="menu-link menu-toggle">
                                    <span class="menu-text">আবেদন</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                    <ul class="menu-subnav">
                                        <li class="menu-item" aria-haspopup="true">
                                             <li class="menu-item" aria-haspopup="true">
                                                                <a href="{% url 'enrollment-step-1' %}" class="menu-link">
                                                <span class="menu-text">তালিকাভুক্তি</span>
                                                <span class="menu-desc"></span>
                                            </a>
                                        </li>
                                        <li class="menu-item" aria-haspopup="true">
                                           <li class="menu-item" aria-haspopup="true">
                                                                <a href="{% url 'renewal-step-1' %}" class="menu-link">
                                                <span class="menu-text">নবায়ন</span>
                                                <span class="menu-desc"></span>
                                            </a>
                                        </li>
                                        <li class="menu-item" aria-haspopup="true">
                                           <li class="menu-item" aria-haspopup="true">
                                                                <a href="{% url 'license-upgrade-step-1' %}" class="menu-link">
                                                <span class="menu-text">লাইসেন্স আপগ্রেড</span>
                                                <span class="menu-desc"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item menu-item-submenu menu-item-rel">
                                <li class="menu-item menu-item-submenu menu-item-rel" id="notice">
                                                    <a href="{% url 'notice' %}" class="menu-link">
                                    <span class="menu-text">নোটিশ</span>
                                </a>
                            </li>
                            <li class="menu-item menu-item-submenu menu-item-rel">
                                 <li class="menu-item menu-item-submenu menu-item-rel" id="communication">
                                                    <a href="{% url 'contact' %}" class="menu-link">
                                    <span class="menu-text">যোগাযোগ</span>
                                </a>
                            </li>
                            <li class="menu-item menu-item-submenu menu-item-rel">
                                 <li class="menu-item menu-item-submenu menu-item-rel" id="principles">
                                                    <a href="{% url 'guideline' %}" class="menu-link">
                                    <span class="menu-text">গাইডলাইন</span>
                                </a>
                            </li>


                             {% if  request.user.phone %}
                                         <li class="menu-item menu-item-submenu menu-item-rel" id="download">
                                                    <a href="{% url 'download' %}" class="menu-link">
                                            <span class="menu-text">ডাউনলোড</span>
                                        </a>
                                                </li>

                                        {% endif %}

                                    {% if not request.user.phone %}
                                        <li class="menu-item menu-item-submenu menu-item-rel">
                                            <a href="{% url 'phone-login' %}" class="menu-link">
                                                <span class="menu-text">লগইন </span>
                                            </a>
                                        </li>

                                    {% endif %}

                        </ul>
                        <!--end::Header Nav-->
                    </div>
                    <!--end::Header Menu-->
                </div>
                <!--end::Header Menu Wrapper-->
            </div>
            <!--end::Left-->
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Header-->
<!--begin::Entry-->

