.messages {
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: initial;
    background-color: aliceblue;
}
.center_div{
    margin: 0 auto;
    width:60%;
}

/* tagsinput css */

.bootstrap-tagsinput{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.label-info{
    background-color: #02061b;
    border :2px solid #02061b;

}
.label {
    display: inline-block;
    padding: .25em .4em;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,
    border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* card dashboard */

.wrapper-wagtail {
    padding: 10px 0;

}
/* Bootstrap CSS  */
html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 10px;
    margin-right : 0px;
}
.margin-b{
margin-bottom: 40px;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1650px;
    }
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .offset-md-0 {
        margin-left: 0;
    }
    .offset-md-1 {
        margin-left: 8.333333%;
    }
    .offset-md-2 {
        margin-left: 16.666667%;
    }
    .offset-md-3 {
        margin-left: 25%;
    }
    .offset-md-4 {
        margin-left: 33.333333%;
    }
    .offset-md-5 {
        margin-left: 41.666667%;
    }
    .offset-md-6 {
        margin-left: 50%;
    }
    .offset-md-7 {
        margin-left: 58.333333%;
    }
    .offset-md-8 {
        margin-left: 66.666667%;
    }
    .offset-md-9 {
        margin-left: 75%;
    }
    .offset-md-10 {
        margin-left: 83.333333%;
    }
    .offset-md-11 {
        margin-left: 91.666667%;
    }
}
@media (min-width: 992px) {
    .col-lg {
        -ms-flex-
        preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 19%;
    }
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .offset-lg-0 {
        margin-left: 0;
    }
    .offset-lg-1 {
        margin-left: 8.333333%;
    }
    .offset-lg-2 {
        margin-left: 16.666667%;
    }
    .offset-lg-3 {
        margin-left: 25%;
    }
    .offset-lg-4 {
        margin-left: 33.333333%;
    }
    .offset-lg-5 {
        margin-left: 41.666667%;
    }
    .offset-lg-6 {
        margin-left: 50%;
    }
    .offset-lg-7 {
        margin-left: 58.333333%;
    }
    .offset-lg-8 {
        margin-left: 66.666667%;
    }
    .offset-lg-9 {
        margin-left: 75%;
    }
    .offset-lg-10 {
        margin-left: 83.333333%;
    }
    .offset-lg-11 {
        margin-left: 91.666667%;
    }
}
.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
h4,
.h4 {
    font-size: 1.5rem;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.custom-card {
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.133);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px;
    transition: all 200ms;
    background: #1a5b62;
}
.custom-card:hover {
    transform: scale(1.1);
    border-bottom: 2px solid #013f7a;
    font-weight: bolder;
}
.custom-card .card--image-box {
    max-width: 60px;
}
.card--image-box img {
    width: 100%;
}
.t--total-color {
    color: #565987;
}
.t--success-color {
    color: #009626;
}
.t--product-color {
    color: #e55a76;
}
.t--category-color {
    color: #539e75;
}
.t--deliver-color {
    color: rgba(0, 223, 147, 0.85);
}
.t--pending-color {
    color: #63a6fd;
}
.card--content-box h4 {
    font-size: 22px;
    font-weight: 800;
    margin-top: 6px;
    margin-bottom: 2px;
    color:#fff;
}
.card--content-box p {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
.custom-table {
    border: 1px solid #000 !important;
}
.custom-table thead th,
.custom-table tbody td {
    text-align: center;
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
}
.custom-table thead tr {
    background-color: #27521a;
    color: #fff;
}
/* table format 2  */
.separate-view-table table {
    border-collapse: separate;
    border-spacing: 0 10px;
}
.separate-view-table .table td,
.separate-view-table .table th {
    padding: 0.5rem;
    vertical-align: middle;
}
.separate-view-table .table td {
    position: relative;
}

.separate-view-table thead tr {
    background-color: #1258b0;
    color: #fff;
    text-align: center;
}
.separate-view-table tbody tr {
    background-color: #f1f1f1;
    text-align: center;
}
.separate-view-table .table td:not(:first-child)::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #adaaaa;
    width: 1px;
    height: 80%;
    top: 0;
    margin: auto;
}
.separate-view-table tbody > tr > :nth-child(1) {
    color: #013f7a;
}
.separate-view-table tbody > tr > :nth-child(2) {
    color: #e55a76 !important;
}
.separate-view-table tbody > tr > :nth-child(3) {
    color: #28a745 !important;
}
.separate-view-table tbody > tr > :nth-child(4) {
    color: #000 !important;
}
.separate-view-table tbody > tr > :nth-child(5) {
    color: #63a6fd !important;
}

.table-title {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}
.table-title::before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    background-color: #013f7a;
    height: 3px;
    width: 50%;
}
/* tab view  */
.tab-menu ul {
    margin: 0;
    padding: 0;
}
.tab-menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
}
.tab-menu ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #467199;
    padding: 7px 25px;
    border-radius: 4px;
}
.tab-menu ul li a.active-a {
    background-color: #013f7a;
    color: yellow;
    font-weight: bold;
}
.tab {
    display: none;
}
.tab-active {
    display: block;
}

.search-class{
    width: 155px;
    display: inline-block;
}

/* latest order css */

.panel-bd, .panel-danger, .panel-info, .panel-inverse, .panel-primary, .panel-success, .panel-warning {
    border: 1px solid #e1e6ef;
}

.dropdown-menu, .panel {
    box-shadow: none;
}

.panel-bd>.panel-heading {
    color: #374767;
    background-color: #fff;
    border-color: #e4e5e7;
    position: relative;
    background :#bececa;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;


}

.panel-title {
    display: inline;
    font-weight: 700;
}
.panel-body {
    padding: 15px;
}
.message_widgets {
    margin-right: 10px;
}
.inbox-item .inbox-item-text {
    color: #9a9da0;
    display: block;
    font-size: 12px;
    margin: 0;
}

.panel-bd .panel-heading::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 12px solid #37a000;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}
.sidebar-header .sidebar-brand .sidebar-brand_icon {
    height: 50px;
    border-radius: 18px;
}
/* sidebar text */

.sidebar-name-text{
    color: #37a000;
    padding-left: 5px;
    font-size: 24px;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    animation: .3s cubic-bezier(.25,.8,.25,1) 0s normal forwards 1 fadein;
}
/* select 2 css update */

.select2-container .select2-selection--single {
    height: 38px;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

.checkbox-item {
    float: right;
    margin-inline: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #161d23;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.btn-Open {
    color: #fff;
    border-radius: 18px;
    background-color: #373756;
    border-color: #373756;
    box-shadow: 0 2px 6px 0 rgb(91 105 188 / 50%);
}
.btn-Open:hover{
    color:#fff;
}
.btn-Closed {
    color: #fff;
    border-radius: 18px;
    background-color: #94310b85;
    border-color: #94310b85;
    box-shadow: 0 2px 6px 0 rgb(91 105 188 / 50%);
}
.btn-Closed:hover{
    color:#fff;
}



/* extra css */


.panel-footer {
    padding: 10px 15px;
    background-color: #b1b7bd;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-primary {
    background-color: #ff5215;
    border-color: #ff5215;
}


.panel {
    border: 1px solid #dadada;
}

.no-padding {
    padding: 0 !important;
}

 .sidebar-nav ul li.mm-active .nav-second-level li.mm-active .nav-third-level li.mm-active .nav-fourth-level li.mm-active a {
    color: #fff;
    font-weight: 600;
}

