{% load widget_tweaks %}

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger" style="margin-bottom: 30px;">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}


<form class="row g-3" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3 row">

        {% for field in form.visible_fields %}
        <label for="{{ field.label | title }}" class="col-md-2 text-right col-form-label">{{ field.label |title }}
            {% if field.field.required %}
            <i class="text-danger"> * </i>
            {% endif %}
            :
        </label>


        <div class="col-md-4">
            {{ field }}
        </div>
        {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="mb-3 row">
        {% endif %}
        {% endfor %}
    </div>
    <div class="mb-3 row">
        <div class="col-md-12 text-end">
            <div class="">
                <button type="submit" class="btn btn-success">
                    Save
                </button>
            </div>
        </div>
    </div>


</form>

