{% load widget_tweaks %}

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger" style="margin-bottom: 30px;">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}


<form class="row g-3" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="mb-3 row">
        <label for="{{ field.label | title }}" class="col-md-2 text-right col-form-label">{{ field.label |title }}
            {% if field.field.required %}
            <i class="text-danger"> * </i>
            {% endif %}
            :
        </label>
        <div class="col-md-6">
            {{ field }}

        </div>

    </div>
    {% endfor %}
      {{ metting_members }}

      <div class="form-group row mt-2 mb-3">
                    <label for="role_id" class="col-sm-2 col-form-label">Users<i class="text-danger"> * </i></label>
                    <div class="col-sm-6">
<!--                        <p>-->
<!--                            {% for role in all_roles %}-->
<!--                            <h1> {{ role.name }}</h1>-->
<!--                            {% endfor %}-->
<!--                        </p>-->

                        <select class="form-control placeholder-multiple select2-hidden-accessible" multiple=""
                                data-select2-id="select2-data-13-5pt4" tabindex="-1" aria-hidden="true" name="member_user">
                            <optgroup label="Users" data-select2-id="select2-data-27-g7lm">

                                {% for user in users %}

                                <option value="{{ user.email }}" {% if user in metting_members_list %} selected {% endif %}> {{ user }}</option>

                                {% endfor %}
                            </optgroup>
                        </select>

                        <!-- {% if forloop.counter < 5 %} selected {% endif %} -->
                    </div>
                </div>


    <div class="mb-3 row">
        <div class="col-md-8 text-end">
            <div class="">
                <button type="submit" class="btn btn-success">
                  <i class="fas fa-phone-volume"></i>  Call For Metting
                </button>
            </div>
        </div>
    </div>

</form>

