{% extends 'frontend/base.html' %}

{% block navbar_wizard %}
{% include 'snippets/navbar_wizard_upgrade.html' %}
{% endblock navbar_wizard %}

{% block extra_container %}
<div class="card card-custom mb-5">
    <div class="card-body">
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <center><h4 class="mb-10 font-weight-bold text-dark"><strong>License Upgradation Form: </strong></h4></center>
        <div class="row justify-content-center">
            <div class="col-md-12 mb-3">
                <form method="POST">
                    {% csrf_token %}
                    <div class="col-md-6 offset-md-3">
                        <label class="font-weight-bold">Tracking Number:</label>
                        <div class="input-group">
                            <input class="form-control form-control-lg" type="text" name="tracking_no"
                                   value="{{ tracking_number }}">
                            <input type="submit" name="search" value="Search" class="btn btn-primary ml-4">


                            {% if contractor %}
                            <input type="submit" name="load" value="Load Data" class="btn btn-primary ml-4">
                            <input type="submit" name="clear" value="Clear Data" class="btn btn-danger ml-4">
                            {% endif %}


                        </div>


                        <div class="body-content mt-5">
                            {% for message in messages %}

                            <div class="alert alert-info alert-dismissible" role="alert"><b>{{ message }}</b>
                                <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}

                        </div>

                    </div>
                </form>

            </div>


        </div>
    </div>
</div>
{% endblock extra_container %}

{% block content%}
{% include 'snippets/wizard-step-1.html'%}
{% endblock content %}

{% block extra_script %}
<script>

    $('#upgrade-step-1').attr("data-wizard-state", "current");

     // Add criterion

        $(document).on("click", ".add_partner", function () {
            var form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
            return false;
        });


    // Remove criterion
        $(document).on("click", ".delete_partner", function () {
            var result = confirm("Want to delete?");
            if (result) {
                $(this).closest('.form-group').slideUp("slow");
                let id = $(this).attr("data-id")
                console.log(id);
                  if(id != 'None'){
                        $.ajax({
                            method: 'POST',
                            'contentType': 'application/json',
                            url: '/partners/delete/'+id + '/',
                            success: function (data) {
                                console.log(data);
                            }
                        });
                    }
            }

        });


    $('#step1-modal-partners').click(function(){
            var inputs = $(".partners_name");
            for(var i = 0; i < inputs.length; i++){
                let name = $(inputs[i]).val();
                if(name == ''){
                    alert('parents name not can not be empty');
                    return false;
                }

             }

         $("#partnerModal").modal('hide');
    })

    $('#step1_submit').click(function(){
       let res = $('#id_declaration_agreement').is(':checked')
        if (res){
          $('#partner_modal_form').submit();
          $('#kt_form_step_1').submit();

        }
        else{
            console.log('here...');
            $('#message-form1').html('You must accept the declaration');
        }
    })
$('#application').addClass('active');




</script>

{% endblock extra_script %}



