{% extends 'frontend/base.html' %}
{% load static %}
{% block navbar_wizard %}
{% include 'snippets/home-custom-navbar-wizard.html' %}
{% endblock navbar_wizard %}

{% block content %}
<!--<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>-->
<div class="wizard-body py-8 px-8 py-lg-1 pl-lg-10 pr-lg-0">
    <div class="bg-primary text-white p-5 text-center">
        <h3 class="mb-0">পানি ও পয়ঃ সংযোগ গ্রহণের নিয়মাবলী</h3>
    </div>
    <div class="bg-success-o-95 p-10" style="background-image: url({% static 'assets/img/img2.jpg' %});background-size: cover;">
        <ul class="list-unstyled">
            <li>০১. শুধুমাত্র নির্ধারিত অনলাইন ফর্মে আবেদনের ভিত্তিতে পানি ও পয়ঃ সংযোগের অনুমতি প্রদান করা হবে।</li>
            <li>০২. পানি ও পয়ঃ সংযোগ গ্রহণের জন্য হোল্ডিং এর মালিক আবেদন করবেন।</li>
            <li>
                ০৩. আবেদনপত্রের সাথে নিম্নলিখিত ডকুমেন্টসমূহ আপলোড/প্রদান করতে হবে
                <ul class="list-unstyled pl-5">
                    <li>ক) ফর্মের নির্ধারিত স্থানে আবেদনকারীকে ৩০০ Pixel দৈর্ঘ্য ও ৩০০ Pixel প্রস্থ এবং ফাইল সাইজ ১০০ KB
                        এর বেশি নয় এরূপ মাপের সদ্য তোলা রঙ্গীন ছবি স্ক্যান করে JPG format এ আপলোড করতে হবে।
                    </li>
                    <li>খ) জাতীয় পরিচয়পত্র/জন্ম নিবন্ধন/পাসপোর্টের কপি।</li>
                    <li>গ) সিটি কর্পোরেশন হোল্ডিং ট্যাক্স/জমির দাগ নাম্বারের কপি।</li>
                    <li>ঘ) জমির মালিকানা দলিলের কপি।</li>
                    <li>ঙ) বাড়ীর প্ল্যানের কপি ও পরিবেশ অধিদপ্তর এর ছাড়পত্র (যদি থাকে।)</li>
                    <li>চ) বানিজ্যিক/শিল্পীয় সংযোগের ক্ষেত্রে জমির মালিকানা দলিল/লিজ বা ভাড়ার জায়গা হলে চুক্তিপত্রের
                        সত্যায়িত কপি ও ট্রেড লাইসেন্স এর কপি।
                    </li>
                    <li>ছ) লিমিটেড কোম্পানীর ক্ষেত্রে মেমোরেন্ডাম অব্ আর্টিক্যাল এর কপি।</li>
                    <li>জ) শিল্পীয় সংযোগের ক্ষেত্রে কোম্পানীর গঠনতন্ত্রের কপি।</li>
                    <li>ঝ) সরকারী বা কোন প্রতিষ্ঠানের সংযোগের ক্ষেত্রে ঐ প্রতিষ্ঠানের নিজস্ব প্যাডে আবেদনের কপি।</li>
                    <li>ঞ) কমিউনিটি সংযোগের ক্ষেত্রে পরিচালনা কমিটির সিদ্ধান্তের কপি।</li>
                    <li>ট) বর্ধিত/স্থানান্তর/দ্বিতীয় সংযোগের ক্ষেত্রে বিদ্যমান হিসাব নাম্বার।</li>
                </ul>
            </li>
            <li>০৪. নির্ধারিত ডকুমেন্টসহ আবেদন করার পর আবেদনকারীকে অটো জেনারেটেড ট্রাকিং নাম্বার ও পিন কোড এসএমএস এর
                মাধ্যমে প্রদান করা হবে যা তিনি সব সময় সংরক্ষণ করবেন, উক্ত ট্রাকিং নাম্বার ব্যবহার করে প্রিমিয়ার ব্যাংকের
                যে কোন শাখায় ৫০০/-(পাঁচশত) টাকা আবেদন ফি জমা করলে আবেদনটি সংশ্লিষ্ট মডস জোনের নির্বাহী প্রকৌশলীর নিকট
                জমা হবে।
            </li>
        </ul>
    </div>
</div>


{% endblock content %}

{% block extra_script %}
<script>
             $("#users").addClass("mm-active");
             $("#role-list").addClass("mm-active");
             $('#chalan').addClass('active');
             $(document).ready(function() {
             $('#naimvai').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
              });
            });

            $('#home').addClass('active');



</script>

{% endblock extra_script %}