{% extends 'base.html' %}



{% block content %}
<!--<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>-->
<div class="row">
    <div class="col-md-12 col-md-12">
        <div class="card ">
            <div class="card-header py-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="fs-17 font-weight-600 mb-0">License List</h6>
                    </div>

                    {% if request.user.is_admin %}
                    <div class="text-right">
                        <a href="{% url 'add-license' %}"
                           class="btn btn-success btn-sm mr-1"><i class="fas fa-plus mr-1"></i>Add License</a>
                    </div>
                    {% endif %}


                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="wrapper" class="dataTables_wrapper dt-bootstrap4">



 <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>SL</th>
                <th>Firm Name</th>  
                <th>Class</th>
                <th>Proprietor Name</th>
                <th>Address</th>
                <th>Enlishment No.</th>
                <th>Enlishment Year</th>
                <th>Upgradataion Or Renewal Year</th>

                <th>Details</th>
            </tr>
        </thead>
        <tbody>

        {% for license in licenseList %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ license.contractor.contractor_name }}</td>
                <td>{% if license.class_type == 'first_class' %}First Class {% elif license.class_type == 'second_class' %} Second Class {% else %} Third Class {% endif %}</td>
                <td>{{ license.contractor.proprietor_name }}</td>
                <td>{{ license.contractor.address }}</td>
                <td>{{ license.enlishment_no }}</td>
                <td>{{ license.enlishment_year }}</td>
                <td>{{ license.upgradataion_or_renewal_year }}</td>

                <td><a href="{% url 'frontend_print_license' license.id %}"><i class="fa fa-fw fa-eye" aria-hidden="true"></a></td>

            </tr>
        {% endfor %}

        </tbody>
<!--        <tfoot>-->
<!--            <th>SL</th>-->
<!--                <th>Enlishment No.</th>-->
<!--                <th>Enlishment Year</th>-->
<!--                <th>Upgradataion Or Renewal Year</th>-->

<!--                <th>Details</th>-->
<!--        </tfoot>-->
    </table>



                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block custom_js %}
<script>
             $('#chalan').addClass('mm-active');
             $("#license-list").addClass("mm-active");
             $("#role-list").addClass("mm-active");
             $(document).ready(function() {
             $('#naimvai').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
              });
            });

            $('#download').addClass('active');


</script>

{% endblock custom_js %}