{% extends 'base.html' %}

{% block content %}
<div class="body-content px-3 py-3">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header py-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="fs-17 font-weight-600 mb-0">Add Authorized Person</h6>
                        </div>
                        {% if request.user.is_admin %}
                        <div class="text-right">
                            <a href="#"
                               class="btn btn-success btn-sm mr-1"><i class="fas fa-align-justify mr-1"></i>All
                                Authorized Class</a>
                        </div>
                        {% endif %}

                    </div>
                </div>
                <div class="card-body">

                    {% include 'snippets/forms.html' %}
                    
                    <center><img src="{{ object.signature.url }}" id="show_image" width="200" height="200" src="#" alt="your image" style="margin-top:-4%" /></center>


                    
                    

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block custom_js %}

<script>
             {% comment %} $("#notice").addClass("mm-active");
             $("#add-notice").addClass("mm-active"); {% endcomment %}

              id_signature.onchange = evt => {
              const [file] = id_signature.files
              if (file) {
                show_image.src = URL.createObjectURL(file)
              }
             }
             


</script>

{% endblock custom_js %}