{% extends 'base.html' %}



{% block content%}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div class="body-content px-3 py-3">
    <div class="text-right">
        <center> <button class="btn btn-success btn-sm mr-1" id="btnPrint"><i class="fas fa-print mr-1"></i>Print</button></center>
                    </div>
<div id="class_upgradation" class="dvContainer">

                            <div style="background-color: #e8e8e8;height: auto;padding: 30px;">
      <div style="max-width: 720px;margin-right: auto;margin-left: auto;background-color: #fff;padding: 50px;">
        <div style="margin-bottom: 20px; display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;justify-content: center;">
            <div style="-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;position: relative;width: 100%;text-align: center;">
                <h1 style="font-size: 19px;font-weight: 500;margin-bottom: 0;">ঢাকা
                    পানি সরবরাহ ও পয়ঃনিষ্কাশন কর্তৃপক্ষ </h1>
                <div style="font-size: 17px;font-weight: 500;margin-bottom: 10px;">ব্যবস্থাপনা
                    পরিচালকের কার্যালয় </div>
                <p style="font-size: 13px;margin-bottom: 0;color: #9a9a9a;"> ওয়াসা ভবন, ৯৮,কাজী
                    নজরুল ইসলাম
                    এভিনিউ<br>
                    কাওরান বাজার, ঢাকা-১২১৫. </p>
                <div>Website: <span style="text-decoration: underline;">www.dwasa.org.com.bd</span></div>
            </div>
        </div>
        <div style="margin-bottom: 30px;font-size: 14px;display: flex;justify-content: space-between;">
            <div>স্মারক নং - ৪৬.১১৩.২১২.০০.০০.২২ {{  contractor_chalan.memorandum_no }}</div>
            <div>তারিখ:  {{  contractor_chalan.issue_date.date |date:"d-m-Y" }} </div>
        </div>
        <div style="font-size: 14px;">
           {% if  contractor_chalan.contractor.contractor_name  %}{{ contractor_chalan.contractor.contractor_name }} {% endif %}<br>
           প্রো:  {% if  contractor_chalan.contractor.proprietor_name  %}{{ contractor_chalan.contractor.proprietor_name }} {% endif %} <br>
           ঠিকানা:
        </div>

           <div class="row">
                       <div class="col-md-12 mt-2">বিষয়ঃ তালিকাভুক্ত ঠিকাদারী লাইসেন্স শ্রেণী উন্নতিকরণ প্রসঙ্গে ।</div><br>
                       <div class="col-md-12 mt-5" style="text-align: justify;">
                       আপনার / আপনাদের ফার্মের নাম <span class="license_issue_fiscal_year">{{  contractor_chalan.fiscal_year }}</span> সালের জন্য ঢাকা ওয়াসার অধীনে সিভিল গ্রুপের <span class="license_issue_class_type" class="fw-bold">{% if contractor_chalan.class_type == 'first_class' %}১ম {% elif contractor_chalan.class_type == 'second_class' %}২য়{% else %} ৩য়{% endif %}</span></span> শ্রেণীতে উত্তীর্ণ করার সিদ্ধান্ত গৃহীত হয়েছে । আপনার / আপনাদের ফার্মের তালিকাভুক্তি ফি বাবদ <span class="license_issue_fee">{{  contractor_chalan.fee }}</span> টাকা  (অফেরৎযোগ্য) ঢাকা ওয়াসার হিসাব বিভাগে ১৩ তলা সর্বশেষ <span class="license_issue_last_submission">{{  contractor_chalan.last_submission_date.date }}</span> তারিখের মধ্যে অস্ত্র চালান ফরম এর মাধ্যমে জমা দেওয়ার জন্য অনুরোধ করা হলো ।  নির্ধারিত সময়ের মধ্যে তালিকাভুক্তি  ফি পরিশোধ করতে ব্যর্থ হলে আপনার এ তালিকাভুক্তি বাতিল বলে গণ্য হবে এবং এ বিষয়ে পরবর্তী কোন আবেদন বিবেচনা করা হবে না ।  উল্লেখ্য থাকে যে ঢাকা ওয়াসা তালিকাভুক্ত ঠিকাদারী প্রতিষ্ঠান e-GP ( ই-টেন্ডারিং)  এর আওতায় দরপত্রে অংশগ্রহণের জন্য CPTU তে রেজিস্ট্রেশন করা বাঞ্ছনীয় ।

                       </div><br>

                       <div class="col-md-12 mt-5" style="text-align: justify;">
                       উল্লেখ্য যে লাইসেন্স ইস্যু করার নিমিত্ত চালানের মাধ্যমে হিসাব বিভাগে জমাকৃত টাকার  মূল রশিদ এবং হিসাব বিভাগ,  ক্যাশ শাখা হতে  নগদ ১৫০ /- (একশত পঞ্চাশ) টাকা মূল্যে লাইসেন্স বহি ক্রয়   করতঃ রশিদসহ চলতি সালের ট্রেড লাইসেন্স  (মূল কপি),  ভ্যাট রেজিস্ট্রেশন সার্টিফিকেট মূল কপি,  টি.আই.এন সার্টিফিকেট মূল কপি,  ব্যাংক সলভেন্সি সার্টিফিকেট মূল কপি,  স্ট্যাম্প সাইজ 2(দুই) কপি ছবি সহ অফিসে দাখিল করতে হবে  । মূল কপি যাচাইয়ান্তে তাৎক্ষণিকভাবে ফেরত দেওয়া হবে। আপনার আপনাদের উক্ত তারিখের মধ্যে লাইসেন্স ফি গ্রহণ করার অনুরোধ করা হল।

                       </div>

                    </div>

           <div style="display: flex; justify-content: flex-end;">

          <div>
              <div style="flex-grow: 10;">ব্যবস্থাপনা পরিচালক এর অনুমোদনক্রমে</div>
              <img style="text-align: right;" src="{{ authorized_person.signature.url }}" alt="sign" width="auto" height="100">
              <div style="text-align: center;"> {{ authorized_person.name }} <br>
                উপ-সচিব ( চ:  দা:)<br>
                প্রশাসন বিভাগ - ২<br>
                ঢাকা ওয়াসা |<br>
                ও<br>
                সদস্য-সচিব, এনলিস্টমেন্ট কমিটি |<br>
                ফোন  নং - ৯১৩৩৬০৬<br>
               </div>
              </div>
        </div>
        <div> অনুলিপি: <br>
          1 |  উপ-ব্যবস্থাপনা পরিচালক (প্রশাসন) ঢাকা ওয়াসা |<br>
          2 | প্রধান হিসাব রক্ষণ কর্মকর্তা, ঢাকা ওয়াসা |<br>
          3 |  অফিস কপি | <br>
          </div>






      </div>
    </div>





</div>
</div>



{% endblock content %}

{% block custom_js %}

<script>

    $('#download').addClass('active');
    $('#chalan').addClass('mm-active');

    $("#btnPrint").on("click", function () {
            var divContents = $(".dvContainer").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>তালিকাভুক্ত ঠিকাদারী লাইসেন্স শ্রেণী উন্নতিকরণ প্রসঙ্গে </title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
            window.onafterprint = printWindow.close(); // this is our magic


        });
</script>

 {% endblock custom_js %}