{% extends 'base.html' %}



{% block content%}
<div class="col-lg-10 col-xl-7">
                                    <div class="text-right mb-5">
                                        <!-- <a href="#" class="btn btn-success" target="_blank">
                                            <i class="far fa-file-pdf mr-1"></i> Print PDF
                                        </a> -->
                                        <a  class="btn btn-success" id="btnPrint">
                                            <i class="flaticon2-printer"></i>Print PDF</a>
<!--                                            <input type="button" onclick="printDiv('pra')" value="print a div!">-->
                                    </div>
                                    <!--begin::Card-->
                                    <div class="dvContainer">
      <div style="max-width: 1020px;margin-right: auto;margin-left: auto;background-color: #fff;padding: 50px;">
        <div style="margin-bottom: 20px; display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;justify-content: center;">
            <div style="-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;position: relative;width: 100%;text-align: center;">
                <h1 style="font-size: 19px;font-weight: 500;margin-bottom: 0;">ঢাকা
                    পানি সরবরাহ ও পয়ঃনিষ্কাশন কর্তৃপক্ষ </h1>
                <div style="font-size: 17px;font-weight: 500;margin-bottom: 10px;">ব্যবস্থাপনা
                    পরিচালকের কার্যালয় </div>
                <p style="font-size: 13px;margin-bottom: 0;color: #9a9a9a;"> ওয়াসা ভবন, ৯৮,কাজী
                    নজরুল ইসলাম
                    এভিনিউ<br>
                    কাওরান বাজার, ঢাকা-১২১৫. </p>
                <div>Website: <span style="text-decoration: underline;">www.dwasa.org.com.bd</span></div>
            </div>
        </div>
        <div style="margin-bottom: 30px;font-size: 14px;display: flex; justify-content: space-between;">
            <div>স্মারক নং - {{  contractor_chalan.memorandum_no }}</div>
            <div>তারিখ: {{  contractor_chalan.issue_date.date }}</div>
        </div>
        <div style="display: flex; align-items: stretch; margin-bottom: 10px;">
            <div style="font-size: 14px; flex-grow: 2">
               {{  contractor_chalan.contractor.contractor_name }}<br>
              প্রো: {{  contractor_chalan.contractor.proprietor_name }}<br>
              ঠিকানা:  {{  contractor_chalan.contractor.address }}
            </div>
            <div style="font-size: 14px; flex-grow: 5; text-decoration:underline;">
              চালান
            </div>
        </div>
        <div style="margin-bottom: 30px;font-size: 14px;">
        বিষয়ঃ <span>{{  contractor_chalan.fiscal_year }}</span> <span>সালের জন্য ঠিকাদারী লাইসেন্স নবায়ন ফি পরিশোধ করণ প্রসঙ্গে।</span>
        </div>
        <div style="margin-bottom: 30px;font-size: 14px; text-align: justify;">
          ঢাকা ওয়াসার অধীনে আপনার {% if contractor_chalan.class_type == 'first_class' %}১ম {% elif contractor_chalan.class_type == 'second_class' %}২য়{% else %} ৩য়{% endif %} শ্রেণীর সিভিল গ্রুপের ঠিকাদারী লাইসেন্স নং………………...  এর ২০১৯-২০২০ সালের নবায়নের জন্য নবায়ন ফি বাবদ…………….. টাকা |  এছাড়া {{  contractor_chalan.not_renewal_fiscal_year }} অর্থবছরের জন্য ( প্রতি বছরের জন্য) {{  contractor_chalan.fine_rate }} হারে জরিমানা বাবদ ………………………. টাকা সর্বমোট  {{  contractor_chalan.total_fine }}  টাকা  অফেরৎযোগ্য নগদে ঢাকা ওয়াসার হিসাব বিভাগে  ১৩ম তালা সর্বশেষ {{  contractor_chalan.last_submission_date }} তারিখের মধ্যে অস্ত্র চালান ফরম এর মাধ্যমে জমা দেওয়ার জন্য অনুরোধ করা হলো |  এছাড়া প্রত্যেক প্রতিষ্ঠানকে তাদের  ডিমান্ডনোটের মূল টাকা নির্ধারিত ১৫%  হারে ভ্যাট ট্রেজারী চালানের মাধ্যমে বাংলাদেশ ব্যাংক অথবা সোনালী ব্যাংকের যে কোন শাখায়--------------------- পরিশোধ পূর্বক চালানের মূলকপি অত্র দপ্তরে জমা প্রদান করতে হবে |  এছাড়া অস্ত্র চালানের টাকা জমাদানের 15 দিনের মধ্যে লাইসেন্স নবায়ন করতে অনুরোধ করা হল |  উল্লেখ থাকে যে,  ঢাকা ওয়াসা তালিকাভুক্ত ঠিকাদারি প্রতিষ্ঠান অনুকূলে e-GP ( ই-টেন্ডারিং)  এর আওতায় দরপত্রে অংশগ্রহণের জন্য CPTU তে রেজিস্ট্রেশন করা বাঞ্ছনীয় |

          <br>
          <br>
          লাইসেন্স নবায়নের প্রাক্কালে আপনার লাইসেন্স  বহি,  ২০১৮-১৯ অর্থ  বছরের নবায়নকৃত ট্রেড লাইসেন্স,  ভ্যাট রেজিস্ট্রেশন সার্টিফিকেট, টি.আই.এন সার্টিফিকেট, (২০১৮-১৯ অর্থ  বছরের)  এর মূল    কপিসহ  জমাকৃত  টাকার চালান অত্র অফিসের দাখিল করার জন্য অনুরোধ করা হলো |  মূল কপি যাচাইয়ান্তে তাৎক্ষণিকভাবে ফেরত দেওয়া হবে |

        </div>
        <div style="display: flex; justify-content: flex-end;">

          <div>
              <div style="flex-grow: 10;">ব্যবস্থাপনা পরিচালক এর অনুমোদনক্রমে</div>
              <img style="text-align: right;" src="{{ authorized_person.signature.url }}" alt="sign" width="auto" height="100">
              <div style="text-align: center;"> {{ authorized_person.name }} <br>
                উপ-সচিব ( চ:  দা:)<br>
                প্রশাসন বিভাগ - ২<br>
                ঢাকা ওয়াসা |<br>
                ও<br>
                সদস্য-সচিব, এনলিস্টমেন্ট কমিটি |<br>
                ফোন  নং - ৯১৩৩৬০৬<br>
               </div>
              </div>
        </div>
        <div> অনুলিপি: <br>
          1 |  উপ-ব্যবস্থাপনা পরিচালক (প্রশাসন) ঢাকা ওয়াসা |<br>
          2 | প্রধান হিসাব রক্ষণ কর্মকর্তা, ঢাকা ওয়াসা |<br>
          3 |  অফিস কপি | <br>
          </div>




      </div>
      <!-- <button onclick="window.print()">Print this page</button> -->
    </div>
                                    <!--end::Card-->
                                </div>


{% endblock content %}

{% block custom_js %}

<script>

    $(document).ready(function(){
        $("#btnPrint").on("click", function () {

            var divContents = $(".dvContainer").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>DIV Contents</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();

           window.onafterprint = printWindow.close(); // this is our magic
        });
    });


</script>

 {% endblock custom_js %}