{% extends 'base.html' %}

{% block navbar_wizard %}
{% include 'snippets/custom-navbar-wizard.html' %}
{% endblock navbar_wizard %}

{% block content %}
<!--<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>-->
<div class="row">
    <div class="col-md-12 col-md-12">
        <div class="card ">
            <div class="card-header py-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="fs-17 font-weight-600 mb-0">Chalan List</h6>
                    </div>
                    
                    
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                        </div>


                        <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>SL</th>
                <th>Firm Name</th>
                <th>Class</th>
                <th>Proprietor Name</th>
                <th>Chalan Type</th>
                <th>Issue Date</th>
                <th>Last Submission</th>
                <th>Payment</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>

        {% for chalan in ChalanList %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ chalan.contractor.contractor_name }}</td>
                <td>{% if chalan.class_type == 'first_class' %}First Class {% elif chalan.class_type == 'second_class' %} Second Class {% else %} Third Class {% endif %}</td>
                <td>{{ chalan.contractor.proprietor_name }}</td>
                <td>{{ chalan.contractor.applied_for }}</td>
                <td>{{ chalan.issue_date.date }}</td>
                <td>{{ chalan.last_submission_date.date }}</td>

                <td style="text-align:center">
                      {% if  chalan.contractor.layer.chalan_payment %}
                   <span class="label label-primary">Paid</span>

                {% else %}


                  <span class="label label-warning">Unpaid</span>
                </td>

                {% endif %}

                <td><a href="{% url 'contractor_license' chalan.id %}"><i class="fa fa-fw fa-eye" aria-hidden="true"></i></a></td>

            </tr>
        {% endfor %}

        </tbody>
<!--        <tfoot>-->
<!--            <th>SL</th>-->
<!--                <th>Chalan Type</th>-->
<!--                <th>Issue Date</th>-->
<!--                <th>Last Submission</th>-->
<!--                <th>Payment</th>-->
<!--                <th>Details</th>-->
<!--        </tfoot>-->
    </table>



                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block custom_js %}
<script>
             $("#chalan").addClass("mm-active");
             $("#chalan-list").addClass("mm-active");

</script>

{% endblock custom_js %}