<!doctype html>
{% load static %}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
    <meta name="author" content="Bdtask">
    <title>Admin Deshboard</title>
    <!-- App favicon -->
    {% include 'static/css.html' %}
    {% block stylesheets %}{% endblock stylesheets %}

    <!--<link href="assets/dist/css/style.rtl.css" rel="stylesheet">-->
</head>
<body class="fixed">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<div class="wrapper ">
    <!-- Sidebar  -->
    <nav class="sidebar sidebar-bunker">
        <div class="sidebar-header">

            <a href="{% url 'dashboard' %}" class="sidebar-brand">
                <img class="sidebar-brand_icon" src="{% static 'image/wasa_logo.jpg' %}" alt="">

                <a href="{% url 'dashboard' %}" class="sidebar-brand">
                        <span class="sidebar-name-text">
                    Dhaka WASA</span>
                    </a>
            </a>

        </div><!--/.sidebar header-->
        <div class="profile-element d-flex align-items-center flex-shrink-0">
            <div class="avatar online">
                <img src="assets/dist/img/avatar-1.jpg" class="img-fluid rounded-circle" alt="">
            </div>
            <div class="profile-text">
                <h6 class="m-0">{{ request.user.username }}
                </h6>
                <span> {{ request.user.email }}</span>
                <span> </span>
            </div>
        </div><!--/.profile element-->
<!--        <form class="search sidebar-form" action="#" method="get">-->
<!--            <div class="search__inner">-->
<!--                <input type="text" class="search__text" placeholder="Search...">-->
<!--                <i class="typcn typcn-zoom-outline search__helper" data-sa-action="search-close"></i>-->
<!--            </div>-->
<!--        </form>&lt;!&ndash;/.search&ndash;&gt;-->

        {% include 'sidebar-body.html'%}


    </nav>
    <!-- Page Content  -->
    <div class="content-wrapper">
        <div class="main-content">
            <!--Navbar-->


            {% include 'navbar.html' %}

            <div class="body-content px-3 py-3">
                {% if messages.exists %}
                <div class="body-content px-3 py-3">

                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show"><b>{{message}}</b>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}

</div>
{% endif %}
                {% block content %}
                {% endblock %}
            </div><!--/.body content-->

        </div><!--/.main content-->
        <footer class="footer-content noprint">
            <div class="footer-text d-flex align-items-center justify-content-between">
                <div class="copy">© 2021 Bdtask</div>
                <div class="credit">Designed by: <a href="#">Bdtask</a></div>
            </div>
        </footer><!--/.footer content-->
        <div class="overlay"></div>
    </div><!--/.wrapper-->
</div>

{% include 'static/js.html' %}
{% block custom_js %}
{% endblock custom_js %}

</body>


{% block javascripts %}

{% endblock javascripts %}
</html>