<!--Content Header (Page header)-->
<div class="content-header">
    <div class="page-header m-0">
        <h4 class="page-title">{{ menu }}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="typcn typcn-home-outline"></i>
                </a>
            </li>
            <li class="separator">
                <i class="ti-angle-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">{{ chain }}</a>
            </li>
        </ul>
    </div>
</div>
<!--/.Content Header (Page header)-->