

<div class="body-content px-3 py-3">
    {% for message in messages %}

    <div class="alert alert-{{ message.tags }} alert-dismissible fade show"><b>{{message}}</b>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

</div>

{% if request.user.is_restaurant_owner %}
<div class="row">
    <div class="col-md-6">

    </div>

</div>
{% endif %}


<nav class="navbar-custom-menu navbar navbar-expand-xl m-0 noprint">
    <div class="sidebar-toggle-icon" id="sidebarCollapse">
        sidebar toggle<span></span>
    </div><!--/.sidebar toggle icon-->
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Toggler -->
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
                aria-expanded="true" aria-label="Toggle navigation"><span></span> <span></span></button>
        <ul class="navbar-nav">


        </ul>
    </div>

    <div class="navbar-icon d-flex">
        <!--        <button type="button" class="btn btn-info rounded-pill me-1"><i class="fa fa-cog fa-spin"></i></button>-->


        <ul class="navbar-nav flex-row align-items-center">

            <li class="nav-item dropdown user-menu">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src="assets/dist/img/user2-160x160.png" alt="">
                    <i class="typcn typcn-user-add-outline"></i>
                </a>
                <div class="dropdown-menu">
                    <div class="dropdown-header d-sm-none">
                        <a href="" class="header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                    </div>
                    <div class="user-header">
                        <h6>{{ request.user.username }}</h6>
                        <span>{{ request.user.email }}</span>
                    </div><!-- user-header -->


                    <a href="{% url 'change_password' %}" class="dropdown-item"><i
                            class="typcn typcn-arrow-shuffle"></i> Change Password</a>
                    <!--                    <a href="" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>-->
                    <a href="{% url 'logout' %}" class="dropdown-item"><i class="typcn typcn-key-outline"></i> Log
                        Out</a>
                </div><!--/.dropdown-menu -->
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" id="btnFullscreen"><i
                        class="full-screen_icon typcn typcn-arrow-move-outline"></i></a>
            </li>

        </ul><!--/.navbar nav-->
        <div class="nav-clock">
            <div class="time">
                <span class="time-hours"></span>
                <span class="time-min"></span>
                <span class="time-sec"></span>
            </div>
        </div><!-- nav-clock -->
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="typcn typcn-th-menu-outline"></i>
    </button>
</nav><!--/.navbar-->