<div class="sidebar-body">
    <nav class="sidebar-nav">
        <ul class="metismenu">
            <li class="nav-label">
                <span class="nav-label_text">Main Menu</span>
                <small class="ti-more-alt nav-label_ellipsis"></small>
            </li>
            <li id="dashboard">
                <a class="material-ripple" href="{% url 'dashboard' %}">
                    <i class="typcn typcn-home-outline"></i>
                    Dashboard
                </a>

            </li>

            {% if request.user.roles == 'SUPERADMIN' %}
            <li id="users">

                <a class="has-arrow material-ripple" href="#">
                    <i class="typcn typcn-chart-pie-outline"></i>
                    User Management
                </a>

                {% if request.user.is_admin %}
                <ul class="nav-second-level">
                    <li id="add-user"><a href="{% url 'add-user' %}">Add users</a></li>
                </ul>

                <ul class="nav-second-level">
                    <li id="user-list"><a href="{% url 'user-list' %}">User Lists</a></li>
                </ul>

                {% endif %}
                {% endif %}


                <!--                <ul class="nav-second-level">-->
                <!--                    <li id="role-permission"><a href="{% url 'role-permission' %}">Roles & Permission </a></li>-->
                <!--                </ul>-->

                <!--                <ul class="nav-second-level">-->
                <!--                    <li id="role-list"><a href="{% url 'role-list' %}">Role List </a></li>-->
                <!--                </ul>-->


                <!--                <ul class="nav-second-level">-->
                <!--                    <li id="assign-role"><a href="{% url 'assign-role' %}"> Assign Role </a></li>-->
                <!--                </ul>-->

                <!--                <ul class="nav-second-level">-->
                <!--                    <li id="user-role-list"><a href="{% url 'user-role-list' %}"> User Role List </a></li>-->
                <!--                </ul>-->

            </li>
            {% if request.user.roles == 'SUPERADMIN' %}

            <li id="chalan">
                <a class="has-arrow material-ripple" href="#">
                    <i class="hvr-buzz-out fas fa-sticky-note"></i>
                    Chalan
                </a>

                <ul class="nav-second-level">
                    <li id="add-chalan"><a href="{% url 'add_chalan' %}"> Add Chalan</a></li>
                    <li id="chalan-list"><a href="{% url 'chalan-list' %}"> Chalan List </a></li>
                </ul>

                <ul class="nav-second-level">
                    <li id="add-license"><a href="{% url 'add-license' %}"> Add License </a></li>
                </ul>

                <ul class="nav-second-level">
                    <li id="license-list"><a href="{% url 'license_list' %}"> License List </a></li>
                </ul>


            </li>


            <li id="notice">
                <a class="has-arrow material-ripple" href="#">
                    <i class="hvr-buzz-out fas fa-sticky-note"></i>
                    Notice
                </a>

                <ul class="nav-second-level">
                    <li id="add-notice"><a href="{% url 'add-notice' %}"> Add Notice </a></li>
                </ul>

                <ul class="nav-second-level">
                    <li id="notice-list"><a href="{% url 'list-notice' %}"> Notice List </a></li>
                </ul>
            </li>


            <li id="notice">
                <a class="has-arrow material-ripple" href="#">
                    <i class="ti-settings"></i>
                    Settings
                </a>

                <ul class="nav-second-level">
                    <li id="add-authsign"><a href="{% url 'add-auth-sign' pk=1 %}"> Add Authorized Signature </a></li>
                </ul>

            </li>


            {% endif %}
            <li id="contractor">
                <a class="has-arrow material-ripple" href="#">
                    <i class="hvr-buzz-out fas fa-sticky-note"></i>
                    Application Manage
                </a>

                <!--                 <ul class="nav-second-level">-->
                <!--                    <li id="add-opinion"><a href=""> Add Notice </a></li>-->
                <!--                </ul>-->

                <ul class="nav-second-level">
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false">Application List</a>
                        <ul class="nav-third-level">
                            <li id="1">
                                <a class="has-arrow" href="#" aria-expanded="false">Civil/Supplier</a>
                                <ul class="nav-fourth-level">
                                    <li id="1_enrollment"><a
                                            href="{% url 'contractor_list_view' role=1 division='enrollment' %}">Enlishment</a>
                                    </li>
                                    <li id="1_renewal"><a
                                            href="{% url 'contractor_list_view' role=1 division='renewal' %}">Renewal</a>
                                    </li>
                                    <li id="1_upgrade"><a
                                            href="{% url 'contractor_list_view' role=1 division='upgrade' %}">Class
                                        Upgradation</a></li>
                                </ul>
                            </li>
                            <li id="2">
                                <a class="has-arrow" href="#" aria-expanded="false">EM/Supplier </a>
                                <ul class="nav-fourth-level">
                                    <li id="2_enrollment"><a
                                            href="{% url 'contractor_list_view' role=2 division='enrollment' %}">Enlishment</a>
                                    </li>
                                    <li id="2_renewal"><a
                                            href="{% url 'contractor_list_view' role=2 division='renewal' %}">Renewal</a>
                                    </li>
                                    <li id="2_upgrade"><a
                                            href="{% url 'contractor_list_view' role=2 division='upgrade' %}">Class
                                        Upgradation</a></li>
                                </ul>
                            </li>

                            <li id="civil">
                                <a class="has-arrow" href="#" aria-expanded="false">Civil</a>
                                <ul class="nav-fourth-level">
                                    <li id="3_enrollment"><a
                                            href="{% url 'contractor_list_view' role=3 division='enrollment' %}">Enlishment</a>
                                    </li>
                                    <li id="3_renewal"><a
                                            href="{% url 'contractor_list_view' role=3 division='renewal' %}">Renewal</a>
                                    </li>
                                    <li id="3_upgrade"><a
                                            href="{% url 'contractor_list_view' role=3 division='upgrade' %}">Class
                                        Upgradation</a></li>
                                </ul>
                            </li>

                            <li id="4">
                                <a class="has-arrow" href="#" aria-expanded="false">Electrical & Mechanical</a>
                                <ul class="nav-fourth-level">
                                    <li id="4_enrollment"><a
                                            href="{% url 'contractor_list_view' role=4 division='enrollment' %}">Enlishment</a>
                                    </li>
                                    <li id="4_renewal"><a
                                            href="{% url 'contractor_list_view' role=4 division='renewal' %}">Renewal</a>
                                    </li>
                                    <li id="4_upgrade"><a
                                            href="{% url 'contractor_list_view' role=4 division='upgrade' %}">Class
                                        Upgradation</a></li>
                                </ul>
                            </li>

                            <li id="Supplier">
                                <a class="has-arrow" href="#" aria-expanded="false">Supplier</a>
                                <ul class="nav-fourth-level">
                                    <li id="5_enrollment"><a
                                            href="{% url 'contractor_list_view' role=5 division='enrollment' %}">Enlishment</a>
                                    </li>
                                    <li id="5_renewal"><a
                                            href="{% url 'contractor_list_view' role=5 division='renewal' %}">Renewal</a>
                                    </li>
                                    <li id="5_upgrade"><a
                                            href="{% url 'contractor_list_view' role=5 division='upgrade' %}">Class
                                        Upgradation</a></li>
                                </ul>
                            </li>


                        </ul>
                    </li>
                </ul>

                <ul class="nav-second-level">
                    <li id="manage-contractor-list"><a href="{% url 'contractor_pdf_view' %}"> Application
                        Management </a></li>
                </ul>

                {% if request.user.roles == 'DS_ADMIN' %}
                <ul class="nav-second-level">
                    <li id="send-application-list"><a href="{% url 'send-application' %}">Send Application Lists </a>
                    </li>
                </ul>
                <!--                <ul class="nav-second-level">-->
                <!--                    <li id="call-for-metting"><a href="{% url 'call-for-metting' %}">Metting Call </a></li>-->
                <!--                </ul>-->
            </li>
            {% endif %}
            {% if request.user.roles == 'DS_ADMIN' %}
            <li id="meetting">
                <a class="material-ripple" href="#">
                    <i class="hvr-buzz-out fas fa-handshake"></i>
                    Meeting Managements
                </a>
                <ul class="nav-second-level">
                    <li id="metting-list"><a href="{% url 'meetting_list' %}">
                        <i class="fas fa-list"></i>
                        Metting List </a></li>
                </ul>
                <ul class="nav-second-level">
                    <li id="call-for-metting"><a href="{% url 'call-for-metting' %}">
                        <i class="fas fa-phone-volume"></i>
                        Create Metting & Call

                    </a></li>
                </ul>

            </li>
            {% endif %}


              <li id="approved_application">
                <a class="material-ripple" href="#">
                    <i class="hvr-buzz-out fas fa-handshake"></i>
                    Approved Application
                </a>
                <ul class="nav-second-level">
                    <li id="approved-application-list"><a href="{% url 'approved_contractor_list_view' %}">
                        <i class="fas fa-list"></i>
                        Application List </a></li>
                </ul>

            </li>


            <li id="logout">
                <a class="material-ripple" href="{% url 'logout' %}">
                    <i class="hvr-buzz-out fas fa-sign-out-alt"></i>
                    Logout
                </a>

            </li>


        </ul>
    </nav>
</div><!-- sidebar-body -->