<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>{{ object.title }}</td>
    <td>{{ object.id }}</td>
    <td>{{ object.post_date }}</td>
  </tr>


</table>


</body>
</html>