{% extends 'base.html' %}
{% block content %}
<div class="body-content px-3 py-3">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header py-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="fs-17 font-weight-600 mb-0">Edit Notice</h6>
                        </div>
                        {% if request.user.is_admin %}
                        <div class="text-right">
                            <a href="#"
                               class="btn btn-success btn-sm mr-1"><i class="fas fa-align-justify mr-1"></i>All
                                Notice</a>
                        </div>
                        {% endif %}

                    </div>
                </div>
                <div class="card-body">
                     {% include 'snippets/single_layer_forms.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block custom_js %}
<script>
             $("#restaurant-management").addClass("mm-active");
             $(document).ready(function() {
             $('.select2').select2({
                    theme: "classic"
                });

             $("#id_post_date").datetimepicker({
                 timepicker:false,
                 format:'Y-m-d',

            });

            $("#id_end_date").datetimepicker({
               timepicker:false,
               format:'Y-m-d',

            });

            });


</script>

{% endblock custom_js %}