<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12 col-md-12">
        <div class="card ">
            <div class="card-header py-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="fs-17 font-weight-600 mb-0">Notice List</h6>
                    </div>
                 {% if request.user.is_admin %}
                    <div class="text-right">
                        <a href="{% url 'add-notice' %}"
                           class="btn btn-success btn-sm mr-1"><i class="fas fa-plus mr-1"></i>Add Notice</a>
                    </div>
                    {% endif %}

                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="foodList_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <table class="table display table-bordered table-striped table-hover dataTable dtr-inline"
                               cellspacing="0" width="100%" id="restaurantList" role="grid" style="width: 100%;">
                            <thead>
                            <tr role="row">
                                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Sl">Sl</th>
                                <th class="sorting_asc" rowspan="1" colspan="1" aria-sort="ascending">Notice Title</th>

                                <th class="sorting_asc" rowspan="1" colspan="1" aria-sort="ascending">Start Date</th>

                                <th class="sorting_asc" rowspan="1" colspan="1" aria-sort="ascending">End Date</th>
                                <th class="sorting_asc" rowspan="1" colspan="1" aria-sort="ascending">Published</th>

                                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Action">Action</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for res in notice %}
                            <tr role="row" class="odd">
                                <td tabindex="0">{{ forloop.counter }}</td>
                                <td width="50%"> {{ res.title }}</td>


                                <td width="10%"> {{ res.post_date }}</td>
                                 <td width="10%"> {{ res.end_date }}</td>
                                 <td width="20%">
                                     <span class="tag label label-info"> {{ res.published_status }} </span>




                                 </td>

                                <td style="">
                                    <a href="{% url 'edit-notice' res.id %}"
                                                class="btn btn-success-soft btn-sm" data-toggle="tooltip"
                                                data-placement="left"
                                                title="Update"><i class="fas fa-edit" aria-hidden="true"></i></a>

                                    <a onclick="return confirm('Are You Sure ?')"
                                        href="{% url 'delete-notice' res.id %}"
                                        class="btn btn-danger-soft btn-sm" data-toggle="tooltip" data-placement="right"
                                        title="Delete "><i class="far fa-trash-alt" aria-hidden="true"></i></a>

                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block custom_js %}
<script>
             $("#notice").addClass("mm-active");
             $("#notice-list").addClass("mm-active");
             $(document).ready(function() {
                  $('#restaurantList').DataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                  });
            });



</script>

{% endblock custom_js %}