{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
 <!--begin::Entry-->
<div class="d-flex flex-column-fluid">
                            <!--begin::Container-->
                            <div class="container">
                                <!--begin::Card-->
                                <div class="card card-custom gutter-b">
                                    <div class="card-body">
                                        <h4 class="mb-5 font-weight-bold text-dark">Recent News / Notice </h4>
                                        <!--begin: Table-->
                                        <table class="table table-bordered notice-table">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>No.</th>
                                                    <th>Title</th>
                                                    <th class="nowrap">Post Date</th>
                                                    <th>Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            {% for notice in notices %}
                                            {% if notice.is_available.status %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td> {{ notice.title }} </td>
                                                    <td class="nowrap">{{ notice.post_date }}</td>
                                                    <td>
                                                        <a href="{{ notice.documents.url }}" target="_Blank">
                                                            <img src="{% static 'frontend/assets/img/pdf.svg' %}" alt="" class="max-h-30px">
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% endfor %}





                                            </tbody>
                                        </table>
                                        <!--end: Table-->
                                    </div>
                                </div>
                                <!--end::Card-->
                            </div>
                            <!--end::Container-->
                        </div>
<!--end::Entry-->
{% endblock content %}

{% block extra_script %}
<script type="text/javascript">
    $(document).ready(function(){

        $('#notice').addClass('active');
    });


</script>


{% endblock extra_script %}