{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom gutter-b">
            <form method="POST">
                {% csrf_token %}
                <div class="card-body card-body py-10 px-10">

                    <table border="0" cellpadding="0" cellspacing="0" align="center"
                           style="width: 100%; font-size: 14px; margin-bottom:30px" class="mb-8">
                        <tbody>
                        <tr>
                            <td style=" color: #000; line-height: 22px; vertical-align: top;" width="180">
                                <strong>Application No.</strong>
                            </td>
                            <td style=" line-height: 22px; vertical-align: top; white-space:nowrap;">
                                {{ contractor.id }}
                            </td>
                        </tr>
                        <tr>
                            <td style=" color: #000; line-height: 22px; vertical-align: top;">
                                <strong>Name of the Applicant</strong>
                            </td>
                            <td style="line-height: 22px; vertical-align: top;">
                                {{ contractor.contractor_name }}
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #000; line-height: 22px; vertical-align: top;">
                                <strong>Apply for</strong>
                            </td>
                            <td style="line-height: 22px; vertical-align: top;">
                                {{ contractor.applied_for|upper }}
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #000; line-height: 22px; vertical-align: top;">
                                <strong> Submission Date</strong>
                            </td>
                            <td style="line-height: 22px; vertical-align: top;">
                               {{ texation.applicant_date.date }}
                            </td>
                        </tr>
                        {% if request.user.roles == 'COMMITTEE_SECRETARY' or request.user.roles == 'SUPERADMIN' %}
                        <tr>
                            <td style="color: #000; line-height: 22px; vertical-align: top;">
                                <strong> Confirmed By</strong>
                            </td>
                            <td style="line-height: 22px; vertical-align: top; font-size:20px; color:green">
                                {{ confirmed_member_count }}
                            </td>
                        </tr>
                        <tr>
                            <td style=" color: #000; line-height: 22px; vertical-align: top;">
                                <strong> Rejected By</strong>
                            </td>
                            <td style=" line-height: 22px; vertical-align: top;font-size:20px;color:red">
                                 {{ rejected_member_count }}
                            </td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Qualification Topics/Requirements</th>
                                <th colspan="2">Criteria</th>
                                <th>Status</th>
                                <th>Explanatory Notes</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th rowspan="2">1</th>
                                <th colspan="5">General Requirements:</th>
                            </tr>
                            <tr>
                                <td>Applicant to provide all the information/document as set out in
                                    the
                                    application form, (Sl A1 to Sl A-11)
                                </td>
                                <td>Acceptable and authentic information documents. False
                                    information/document loads to the disqualification
                                </td>
                                <td>Pass/Fail</td>
                                <td>
                                    <!--                                <input class="form-control form-control-solid" type="text">-->

                                    {{ form.authentic_information_documents }}
                                </td>
                                <td>
                                    {{ form.authentic_information_documents_notes }}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="8">2</th>
                                <th colspan="5">Professional and Technical capacity:</th>

                            </tr>
                            <tr>

                                <td>Applicant to provide all the information! document as set out
                                    (Sl
                                    61, B2;B3;B4; B6; 57; B9)
                                </td>
                                <td>Applicant to submit valid/authentic information document</td>
                                <td>Pass/Fail</td>
                                <td>
                                    {{ form.application_to_submit }}
                                </td>
                                <td>
                                    {{ form.application_to_submit_notes }}
                                </td>
                            </tr>
                            <tr>

                                <td>Experience in the successful execution of works in the last 5
                                    years.
                                    (SI -B5a, BSb & B8a)
                                </td>
                                <td>Minimum value of work contract required for SI.Sa: Class-1 = Tk,
                                    50
                                    lakh for work/Tk. 30 lakh for goods
                                    Class-ll = Tk, 20 lakh for work/Tk, 10 lakh for goods Class-lll=
                                    Any-value (sub-contract value is accepted)
                                </td>
                                <td>Nr.</td>
                                <td>
                                    {{ form.experience_successful_execution_1 }}
                                </td>
                                <td>
                                    {{ form.experience_successful_execution_1_notes }}
                                </td>
                            </tr>
                            <tr>

                                <td></td>
                                <td>Class-1 = Atleast 1 nr.min. 50 lakh taka for work/30
                                    lakh taka for goods in a single contract.
                                    Class-ll= Atleast 1 nr.min. 20 lakh taka for work/10
                                    lakh taka for goods in a single contract.
                                    Class-iii=No requirement
                                </td>
                                <td>Nr.</td>
                                <td>
                                    {{ form.experience_successful_execution_2 }}
                                </td>
                                <td>
                                    {{ form.experience_successful_execution_2_notes }}
                                </td>
                            </tr>
                            <tr>

                                <td>Workshop facilities shall be described by
                                    the E-M contractor only (SI-B8h)
                                </td>
                                <td>Applicable for Electro-mechanical contractor only:
                                    Class-N<br>
                                    Class-ll<br>
                                    Class-lll=
                                </td>
                                <td></td>
                                <td>
                                    {{ form.workshop_facilities_1 }}
                                </td>
                                <td>
                                    {{ form.workshop_facilities_1_notes }}
                                </td>
                            </tr>
                            <tr>

                                <td></td>
                                <td>Required nos, Equipment, machinery For Class-1= Heavy const,
                                    Equip.
                                    Class-ll=Mech, Equip, and Class-ii =Local equip
                                </td>
                                <td>Pass/
                                    Fail
                                </td>
                                <td>
                                    {{ form.workshop_facilities_2 }}
                                </td>
                                <td>
                                    {{ form.workshop_facilities_2_notes }}
                                </td>
                            </tr>
                            <tr>

                                <td> Ability to provide the required personnel
                                    essential to contract management.
                                </td>
                                <td>Required overall experience :<br>
                                    Class-l = 5 years for works/3 years for goods<br>
                                    Clase-ll = 3 years for works/ 2 years for goods<br>
                                    Class-lll = 1 year for works.goods
                                </td>
                                <td>Years</td>
                                <td>
                                    {{ form.ability_to_provide_required_personnel_1 }}
                                </td>
                                <td>
                                    {{ form.ability_to_provide_required_personnel_1_notes }}
                                </td>
                            </tr>
                            <tr>

                                <td></td>
                                <td>
                                    Raquired experience in handing mini, work value<br>
                                    Tk 50 lakh/ supply value Tk. 30 lakh<br>
                                    Class-i| = 3 nos. for works/2 nos for goods<br>
                                    Class-ii = 1 no. for works/goods <br>
                                    Class-iii = 1 Not required.
                                </td>
                                <td>Nr.</td>
                                <td>
                                    {{ form.ability_to_provide_required_personnel_2 }}
                                </td>
                                <td>
                                    {{ form.ability_to_provide_required_personnel_2_notes }}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="4">3</th>
                                <th colspan="5">Financial Capacity & Status</th>
                            </tr>
                            <tr>
                                <td>Adequacy of the financial strength of the
                                    applicant (si. C2 & C3)
                                </td>
                                <td> Minimum required average asset amount<br>
                                    Class-l= Tk, 1 crore<br>
                                    Class-ll Class-50<br>
                                    Class- lll =Tk, 10 lakh
                                </td>
                                <td>Tk.</td>
                                <td>
                                    {{ form.adequacy_of_the_financial_strength }}
                                </td>
                                <td>
                                    {{ form.adequacy_of_the_financial_strength_notes }}
                                </td>
                            </tr>
                            <tr>
                                <td>Ability in financing of works/ contracts in progress (Si.5b)
                                </td>
                                <td>Minimum required amount = 50% of value of
                                    works/contracts in progress for all the Class.
                                </td>
                                <td>Tk.</td>
                                <td>
                                    {{ form.ability_in_financing_of_works }}
                                </td>
                                <td>
                                    {{ form.ability_in_financing_of_works_notes }}
                                </td>
                            </tr>
                            <tr>
                                <td>Provide information and document (SI. C-
                                    1a & C-1 b), 2 and 3
                                </td>
                                <td>Applicant to provide information and
                                    document<br>
                                    c-1(a)<br>
                                    c-1(b)<br>
                                    c-(2)<br>
                                    c-(3)
                                </td>
                                <td>Tk.</td>
                                <td>
                                    {{ form.information_and_docs }}
                                </td>
                                <td>
                                    {{ form.information_and_docs_notes }}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="3">4</th>
                                <th colspan="5">Legail Capacity</th>
                            </tr>
                            <tr>
                                <td>
                                    Eligibility of the applicant in regard to
                                    judicial consideration"(SI.-D 1&D2
                                </td>
                                <td>
                                    Any declaration against applicant to take part in
                                    procurement of works/ aoods.
                                </td>
                                <td>Pass/Fail</td>
                                <td>
                                    {{ form.eligibility_of_the_applicant }}
                                </td>
                                <td>
                                    {{ form.eligibility_of_the_applicant_notes }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Acceptability of applicant's history on
                                    litigation or arbitration(SI-D3)
                                </td>
                                <td>
                                    Demonstrate acceptable record on litingation
                                    arbitration.
                                </td>
                                <td>Pass/Fail</td>
                                <td>
                                    {{ form.acceptability_of_applicant }}
                                </td>
                                <td>
                                    {{ form.acceptability_of_applicant_notes }}
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="2">5</th>
                                <th colspan="5">Taxation :</th>
                            </tr>
                            <tr>
                                <td>
                                    Proof of the fulfillment of obligation relating
                                    to payment taxes social securit
                                    contribution. (SI.E1)
                                </td>
                                <td>
                                    Certificate / document issued by competent
                                    aulthority and tax paying regularly.
                                </td>
                                <td>Pass/Fail</td>
                                <td>
                                    {{ form.proof_of_fulfilment }}
                                </td>
                                <td>
                                    {{ form.proof_of_fulfilment_notes }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex align-items-center justify-content-between">

                        {% if request.user.roles == 'COMMITTEE_SECRETARY' and layer_form.form_status != 'PENDING' %}

                        <div class="col-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" required name="member_class" value="A"
                                id="inlineRadio4" {% if layer_form.class_name == 'A'%} checked {% endif %}>
                                <label class="form-check-label" for="inlineRadio4">Class A</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" required name="member_class" id="inlineRadio5"
                                value="B" {% if layer_form.class_name == 'B' %} checked {% endif %} >
                                <label class="form-check-label" for="inlineRadio5">Class B </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" required name="member_class"
                                       id="inlineRadio6" value="C" {% if layer_form.class_name == 'C'%} checked {% endif %}>
                                <label class="form-check-label" for="inlineRadio6">Class C</label>
                            </div>

                        </div>
                        {% endif %}













                        {% if request.user.roles == layer_form.layer and not layer_form.form_status == 'CONFIRMED' and not request.user.roles == 'COMMITTEE_SECRETARY' %}

                        <div class="col-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" {% if assess_eval_obj.is_approved == 'CONFIRMED' %} checked {% endif %} name="member_accepted" value="CONFIRMED"
                                id="inlineRadio1" >
                                <label class="form-check-label" for="inlineRadio1">Accepted</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" {% if assess_eval_obj.is_approved == 'REJECTED' %} checked {% endif %} name="member_accepted" id="inlineRadio2"
                                value="REJECTED">
                                <label class="form-check-label" for="inlineRadio2">Rejected </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="member_accepted"
                                       id="inlineRadio3" value="PENDING" {% if assess_eval_obj.is_approved == 'PENDING' or not assess_eval_obj %} checked {% endif %}>
                                <label class="form-check-label" for="inlineRadio3">Pending</label>
                            </div>

                        </div>
                        {% endif %}
                        {% if request.user.roles == layer_form.layer and request.user.roles == 'COMMITTEE_MEMBER' %}
                        <div class="col-6">
                            <input class="btn btn-success" type="submit" value="Submit Form" name="member_submit">
                        </div>

                        {% endif %}


                        {% if request.user.roles == 'COMMITTEE_SECRETARY' %}
                        <div class="radio-inline">
                        </div>
                        <div>

                            {% if layer_form.layer == 'COMMITTEE_SECRETARY' and not layer_form.form_status == 'CONFIRMED' and not layer_form.form_status == 'REJECT'  %}
                            <input type="submit" name="submit" value="submit" class="btn btn-success">
                            {% else %}
                            <input type="submit" name="submit" value="submit" class="btn btn-success" disabled>
                            {% endif %}

                            {% if layer_form.layer == 'COMMITTEE_MEMBER' %}
                            <input type="submit" name="confirm" value="confirm" class="btn btn-danger">
                            <input type="submit" name="reject" value="Reject" class="btn btn-danger">

                            {% else %}
                             <input type="submit" name="reject" value="Reject" class="btn btn-danger" disabled>
                            <input type="submit" name="confirm" value="confirm" class="btn btn-danger" disabled>
                            {% endif %}

                        </div>


                        {% elif request.user.roles == 'SECRETARY' and layer_form.layer == 'SECRETARY' %}
                        <div class="col-6">
                            <input class="btn btn-success" type="submit" value="Submit Form" name="secretary_submit">
                        </div>

                        {% elif request.user.roles == 'DMD' and layer_form.layer == 'DMD' %}
                        <div class="col-6">
                            <input class="btn btn-success" type="submit" value="Submit Form" name="dmd_submit">
                        </div>

                        {% elif request.user.roles == 'MD' and layer_form.layer == 'MD' and not layer_form.form_status == 'CONFIRMED' %}
                        <div class="col-6">
                            <input class="btn btn-success" type="submit" value="Submit Form" name="md_submit">
                        </div>
                        {% endif %}

                    </div>
                </div>
            </form>


            <style>
                @media(min-width: 992px) {
                    .signature-img {
                        height: 45px;
                    }
                }

            </style>
            {% if layer_form.form_status != 'CONFIRMED' %}
            <div class="row mt-15" style="margin-top:25px;margin-bottom:20px;margin-left:10px">
                {% for assess_sign in assessment_eval_sign %}
                {% if foorloop.first %}
                <div class="row mt-15" style="margin-top:25px;margin-bottom:20px">
                    {% endif %}
                    <div class="col">
                    <div class="signature-box">
                        <div class="mb-5">
                            <div class="name-of-the-signatory font-weight-medium">
                                {{ assess_sign.user }}
                            </div>
                            <small class="signatory-designation d-block text-muted">
                                {{ assess_sign.user.roles }}
                            </small>
                        </div>
                        {% if assess_sign.user.signature %}
                        <img class="signature-img img-fluid " src="{{ assess_sign.user.signature.url }}"
                             alt="">
                        {% endif %}
                    </div>
                </div>

                {% if forloop.counter|divisibleby:"4" %}
            </div>
                 <div class="row mt-15" style="margin-top:25px;margin-bottom:20px">


                {% endif %}
                {% if forloop.last %}</div>{% endif %}

                {% endfor %}

            </div>
            {% else %}


            <div class="row mt-15" style="margin-top:25px;margin-bottom:20px;margin-left:10px">
                {% for assess_sign in assessment_eval_sign %}
                {% if foorloop.first %}
                <div class="row mt-15" style="margin-top:25px;margin-bottom:20px">
                    {% endif %}
                    <div class="col">
                    <div class="signature-box">
                        <div class="mb-5">
                            <div class="name-of-the-signatory font-weight-medium">
                                {{ assess_sign.member }}
                            </div>
                            <small class="signatory-designation d-block text-muted">
                                {{ assess_sign.member.designation }}
                            </small>
                        </div>
                        {% if assess_sign.member.signature %}
                        <img class="signature-img img-fluid " src="{{ assess_sign.member.signature.url }}"
                             alt="">
                        {% endif %}
                    </div>
                </div>

                {% if forloop.counter|divisibleby:"4" %}
            </div>
                 <div class="row mt-15" style="margin-top:25px;margin-bottom:20px;margin-left:10px">


                {% endif %}
                {% if forloop.last %}</div>{% endif %}

                {% endfor %}

            </div>

            {% endif %}


<!--            <div class="row mt-10">-->
<!--                <div class="col">-->
<!--                    <div class="signature-box text-center">-->
<!--                        <div class="mb-5">-->
<!--                            <div class="name-of-the-signatory font-weight-medium">-->
<!--                                Amadgone-->
<!--                            </div>-->
<!--                            <small class="signatory-designation d-block text-muted">-->
<!--                                designation-->
<!--                            </small>-->
<!--                        </div>-->
<!--                        <img class="signature-img img-fluid " src="assets/img/signature-06.png"-->
<!--                             alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
</div>
</div>

{% endblock %}


{% block custom_js %}
<script>
             $("#contractor").addClass("mm-active");
             $(document).ready(function() {
                  $('#restaurantList').DataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                  });
            });



</script>

{% endblock custom_js %}