{% extends 'frontend/base.html' %}

{% block navbar_wizard %}
{% include 'snippets/custom-navbar-wizard.html' %}
{% endblock navbar_wizard %}

{% block content %}
<div class="col-10">
    <div class="mb-5 mt-15">
        <h2>Choose Payment Method:</h2>
        <div class="mt-5 mr-3">
            <a href="{% url 'ssl-payment' tran_type=2 %}">
                <button class="btn btn-primary ml-3">
                    SSL Payment
                </button>
            </a>
            <button class="btn btn-primary ml-3">Cash Payment</button>
        </div>

    </div>
</div>


{%  endblock content %}

{% block extra_script %}

<script>
             $("#chalan_payment").addClass("mm-active");
             $('#chalan_payment').addClass('active');



</script>

{% endblock extra_script %}