{% extends 'base.html' %}

{% block content %}
<div class="body-content px-3 py-3">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header py-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="fs-17 font-weight-600 mb-0">Add Chalan</h6>
                        </div>
                        {% if request.user.is_admin %}
                        <div class="text-right">
                            <a href="#"
                               class="btn btn-success btn-sm mr-1"><i class="fas fa-align-justify mr-1"></i>All
                                Chalan</a>
                        </div>
                        {% endif %}

                    </div>
                </div>
                <div class="card-body">

                    {% include 'snippets/chalan_form.html' %}



                    {% include 'contractor/chalan/license_renewal.html' %}
                    {% include 'contractor/chalan/class_upgradation.html' %}
                    {% include 'contractor/chalan/license_enlishment_fee.html' %}


                    
                    

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block custom_js %}

<script>
             $("#chalan").addClass("mm-active");
             $("#add-chalan").addClass("mm-active");
             $(document).ready(function() {
             $('.select2').select2({
                    theme: "classic"
                });

             $("#id_issue_date").datetimepicker({
                 timepicker:false,
                 format:'Y-m-d',

            });

            $("#id_last_submission_date").datetimepicker({
               timepicker:false,
               format:'Y-m-d',

            });

            $('#license_renewal').hide();
            $('#class_upgradation').hide();
            $('#license_enlishment_fee').hide();

            $('#id_chalan_type').change(function(){

                var chalan_type = $(this).val()

                if (chalan_type =='contractor_license_enlishment_fee'){
                    $('#license_enlishment_fee').show();
                     $('#class_upgradation').hide();
                     $('#license_renewal').hide();

                }   

                if (chalan_type =='contractor_license_class_upgradation'){
                    $('#class_upgradation').show();
                    $('#license_enlishment_fee').hide();
                   
                     $('#license_renewal').hide();

                }  

                if (chalan_type =='contractor_license_fee_renewal'){
                    $('#license_renewal').show();
                    $('#class_upgradation').hide();
                    $('#license_enlishment_fee').hide();

                }

                $('#id_memorandum_no').change(function(){

                    $('#memorandum_no').text($(this).val());
                    $('#license_issue_memorandum_no').text($(this).val());




                })

            });

            $('#id_fiscal_year').keyup(function(){

                $('#fiscal_year').text($(this).val());
                $('.license_issue_fiscal_year').text($(this).val());


                var previous_fiscal_year =  $(this).val();

                var splitted_value = previous_fiscal_year.split('-')

                var format_previous_year_start = splitted_value[0]-1;
                var format_previous_year_end = splitted_value[1]-1;
                var previous_year = format_previous_year_start +'-'+format_previous_year_end
                $('#previous_year').text(previous_year);
            });



            $('#id_memorandum_no').keyup(function(){
                //alert($(this).val());
                $('#memorandum_no').text($(this).val());
                $('.license_issue_memorandum_no').text($(this).val());

            });
            $('#id_license_no').keyup(function(){
                //alert($(this).val());
                $('#license_no').text($(this).val());
            });

            $('#id_fee').keyup(function(){
                //alert($(this).val());
                $('#fee').text($(this).val());
                $('.license_issue_fee').text($(this).val());

            });
            $('#id_not_renewal_fiscal_year').keyup(function(){
                //alert($(this).val());
                $('#not_renewal_fiscal_year').text($(this).val());
            });

             //Fine Rate


             $('#id_fine_rate').keyup(function(){
                //alert($(this).val());
                $('#fine_rate').text($(this).val());
            });



            $('#id_class_type').change(function(){
             var select_value_text = $( "#id_class_type option:selected" ).text();
             $('#class_type').text(select_value_text) ;
             $('.license_issue_class_type').text(select_value_text) ;


            });

            $('#id_issue_date').change(function(){

               $('#issue_date').text($(this).val());
               $('.license_issue_issue_date').text($(this).val());

            });

            $('#id_last_submission_date').change(function(){

               $('#last_submission').text($(this).val());
               $('.license_issue_last_submission').text($(this).val());

            });

            $('#id_total_fine').keyup(function(){
                $('#total_fine').text($(this).val());

            });



               $('#id_total_taka').keyup(function(){
                $('#total_taka').text($(this).val());

            });






            
              //Contract Extraction

              $('#id_contractor').change(function(){
                 var contractor_id = $(this).val();

                 //alert(contractor_id);

                       $.ajax({
                            method: 'GET',
                            'contentType': 'application/json',
                            url: '/getContractorInfo/'+contractor_id + '/',

                            dataType: 'json',
                            success: function (data) {
                              if (data.contractor_info) {
                                console.log(data.contractor_info[0].applied_for);

                                if (data.contractor_info[0].applied_for === 'renewal'){
                                    $('#license_renewal').show();
                                    $('#class_upgradation').hide();
                                    $('#license_enlishment_fee').hide();
                                    $('#contractor_name').text(data.contractor_info[0].contractor_name);
                                    $('#address').text(data.contractor_info[0].address);
                                    var base_url = window.location.origin;
                                    console.log(base_url)
                                    var image_path = base_url +'/media/'+data.contractor_info[1][0][1]
                                    $('#auth-signature-for-renewal').attr('src',image_path)


                                }

                                // For Upgradation

                                  if (data.contractor_info[0].applied_for === 'upgrade'){
                                        $('#class_upgradation').show();
                                        $('#license_enlishment_fee').hide();

                                         $('#license_renewal').hide();
                                          $('#contractor_name').text(data.contractor_info[0].contractor_name);
                                         $('#address').text(data.contractor_info[0].address);
                                        var base_url = window.location.origin;
                                    console.log(base_url)
                                    var image_path = base_url +'/media/'+data.contractor_info[1][0][1]
                                    $('#auth-signature-for-upgradation').attr('src',image_path) 
                                         
                                    }

                                // For Enrollment

                                if (data.contractor_info[0].applied_for === 'enrollment'){
                                        $('#class_upgradation').hide();
                                        $('#license_enlishment_fee').show();

                                         $('#license_renewal').hide();
                                          $('#contractor_name').text(data.contractor_info[0].contractor_name);
                                         $('#address').text(data.contractor_info[0].address);
                                         //console.log("Some Data" +data.contractor_info[1][0][1])
                                         var base_url = window.location.origin;
                                         console.log(base_url)
                                         var image_path = base_url +'/media/'+data.contractor_info[1][0][1]
                                         $('#auth-signature').attr('src',image_path)
                                    }

                              }
                            }
                          });

              });
            

            });


</script>

{% endblock custom_js %}