{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12 col-md-12">
        <div class="card ">

            <div class="card-body">
                <div class="table-responsive">
                    <div id="foodList_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <table class="table display table-bordered table-striped table-hover dataTable dtr-inline"
                               cellspacing="0" width="100%" id="restaurantList" role="grid" style="width: 100%;">
                            <thead>
                            <tr role="row">
                                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Sl">Sl</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Sl">Tracking ID.</th>
                                <th class="sorting_asc" rowspan="1" colspan="1" aria-sort="ascending">Name</th>

                                <th class="sorting_asc" rowspan="1" colspan="1" aria-sort="ascending">Email</th>


                                <th class="sorting_asc" rowspan="1" colspan="1" aria-sort="ascending">Phone</th>

                                <th class="sorting_asc" rowspan="1" colspan="1" aria-sort="ascending">Layer</th>
                                <th class="sorting_asc" rowspan="1" colspan="1" aria-sort="ascending">Status</th>
                                 <th class="sorting_asc" rowspan="1" colspan="1" aria-sort="ascending">Chalan Payment</th>



                                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Action">Action</th>


                            </tr>
                            </thead>
                            <tbody>


                            {% for layer in layer_form %}
                            <tr role="row" class="odd">
                                <td tabindex="0">{{ forloop.counter }}</td>
                                        <td>
                                            <span class="tag label label-info"> {{ layer.tracking_id}}</span>

                                        </td>
                                <td width="20%"> {{ layer.contractor.contractor_name }}</td>


                                <td width="20%"> {{ layer.contractor.user }}</td>
                                <td width="10%"> {{ layer.contractor.user.phone }}</td>

                                {% if request.user.roles == layer.get_layer_display and layer.form_status == 'PENDING' %}
                                <td width="10%">
                                    <span class="tag label label-danger"> {{ layer.get_layer_display }} </span>
                                </td>
                                <td width="10%">
                                    <span class="tag label label-danger">    {{ layer.form_status }} </span>
                                </td>

                                {% elif request.user.roles == layer.get_layer_display and layer.form_status == 'REVIEW' %}
                                <td width="10%">
                                    <span class="tag label label-warning"> {{ layer.get_layer_display }} </span>
                                </td>
                                <td width="10%">
                                    <span class="tag label label-warning">    {{ layer.form_status }} </span>
                                </td>
                                {% else %}
                                <td width="10%">
                                    <span class="tag label label-info"> {{ layer.get_layer_display }} </span>
                                </td>
                                <td width="10%">
                                    <span class="tag label label-info"> {{ layer.form_status }} </span>
                                </td>

                                {% endif %}

                                <td style="text-align:center">
                                    {% if layer.chalan_payment %}
                                    <span class="tag label label-primary">
                                    Paid
                                    </span>
                                        {% else %}
                                     <span class="tag label label-warning">
                                        Unpaid
                                     </span>
                                        {% endif %}


                                </td>


                                <td style="">
                                    <a href="{% url 'contractor_details_view_backend' layer.contractor.id %}"
                                       class="btn btn-success-soft btn-sm" data-toggle="tooltip"
                                       data-placement="left"
                                       title="Update"><i class="fas fa-eye" aria-hidden="true"></i></a>

                                    <a href="{% url 'assesment_form' layer.contractor.id %}"
                                       class="btn btn-success-soft btn-sm" data-toggle="tooltip"
                                       data-placement="left"
                                       title="Assessment Form"><i class="fab fa-wpforms" aria-hidden="true"></i></a>

                                    <!--                                    <a onclick="return confirm('Are You Sure ?')"-->
                                    <!--                                        href="#"-->
                                    <!--                                        class="btn btn-danger-soft btn-sm" data-toggle="tooltip" data-placement="right"-->
                                    <!--                                        title="Delete "><i class="far fa-trash-alt" aria-hidden="true"></i></a>-->
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block custom_js %}

<script>
             $("#contractor").addClass("mm-active");
             $("#{{ role }}").addClass("mm-active");
             $("#{{role}}_{{ division }}").addClass("mm-active");
             $(document).ready(function() {
                  $('#restaurantList').DataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                  });
            });


</script>

{% endblock custom_js %}

