{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-md-12">
        <div class="card ">
            <div class="card-header py-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="fs-17 font-weight-600 mb-0">Metting List</h6>
                    </div>


                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                        </div>
                        <table class="table display table-bordered table-striped table-hover custom-table dataTable dtr-inline"
                               cellspacing="0" width="100%" id="roleList" role="grid"
                               style="width: 100%;">
                            <thead>
                            <tr role="row">
                                <th scope="col">SL</th>
                                <th scope="col">Meetting Name</th>
                                <th scope="col">Time</th>
                                <th scope="col">Facial Year</th>
                                <th>Meeting Members</th>
<!--                                <th>Contractor List </th>-->
                                <th scope="col">Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for meet in meettings %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ meet.metting_title }}</td>
                                <td>{{ meet.metting_date }}</td>
                                <td> {{ meet.fiscal_year }}</td>
                                <td>{% for meet in meet.metting_members.all %}
                                          <span class="tag label label-info">  {{ meet.member }} </span>

                                    {% endfor %}

                                </td>



                                <td style="text-align: center">
                                    <a href="{% url 'edit-call-for-metting' meet.id %}"
                                       class="btn btn-info btn-sm m-b-5 custom_btn mr-2"
                                       data-toggle="tooltip" data-placement="left" title="Update"><i
                                            class="ti-pencil-alt pl-1 pr-1"
                                            aria-hidden="true"></i></a>

                                </td>


                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block custom_js %}
<script>
             $("#meetting").addClass("mm-active");
             $("#metting-list").addClass("mm-active");
             $(document).ready(function() {
             $('#roleList').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
              });
            });






</script>

{% endblock custom_js %}