{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<style>
    .custom-form-control {
        height:auto;
    }


</style>

{% endblock stylesheets %}

{% block content %}

<div class="row align-items-center justify-content-center">
    <div class="col-xl-5">
        <div class="box-content ps ps--active-y"
             style="position: relative;padding: 50px;height: calc(100vh - 218px);width: 100%;background-color: #fff;border-radius: 20px; -webkit-box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);">
            <div style="margin-bottom: 20px; display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;">
                <div style="-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;position: relative;width: 100%;">
                    <img src="{% static 'image/wasa-logo.png' %}" alt="" style="max-width: 100%;height: 52px;">
                </div>
                <div style="-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;position: relative;width: 100%;text-align: center;">
                    <h1 style="font-size: 19px;font-weight: 500;margin-bottom: 0;">ঢাকা
                        পানি সরবরাহ ও পয়ঃনিষ্কাশন কর্তৃপক্ষ </h1>
                    <div style="font-size: 17px;font-weight: 500;margin-bottom: 10px;">ব্যবস্থাপনা পরিচালকের
                        কার্যালয়
                    </div>


                    <p style="font-size: 13px;margin-bottom: 0;color: #9a9a9a;"> ওয়াসা ভবন, ৯৮,কাজী নজরুল ইসলাম
                        এভিনিউ<br>
                        কাওরান বাজার, ঢাকা-১২১৫. </p>
                </div>
                <div style="-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;position: relative;width: 100%;">
                    <img src="{% static 'image/Mujib-borcho.jpg' %}" alt="" style="max-width: 100%;height: auto;">
                </div>
            </div>

            <div style="margin-bottom: 30px;font-size: 14px;display: flex;justify-content: space-between!important;">
                <div>স্মারক নং - জ:ত: ৪৬.১১৩.১০৩.০০.০০.০৪৫.২০১৭/</div>
                <div>তারিখ: <span style="color: #9a9a9a;">৫/২৩/২০২১</span></div>
            </div>
            <div style="display: block;width: 100%;overflow-x: auto;-webkit-overflow-scrolling: touch;">
                <table style="width: 100%;margin-bottom: 1rem;color: #212529;border: 1px solid #dee2e6;font-size: 14px;">
                    <thead>
                    <tr>
                        <th style="padding: .3rem;border: 1px solid #dee2e6;">Firm Name</th>
                        <th style="padding: .3rem;border: 1px solid #dee2e6;">Proprietor Name</th>
                        <th style="padding: .3rem;border: 1px solid #dee2e6;">Class</th>
                        <th style="padding: .3rem;border: 1px solid #dee2e6;">Remarks</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for confirm_lst in confirmed_list %}
                    <tr>
                        <td style="padding: .3rem;border: 1px solid #dee2e6;">{{ confirm_lst.contractor.contractor_name }}
                        </td>
                        <td style="padding: .3rem;border: 1px solid #dee2e6;">{{ confirm_lst.contractor.proprietor_name }}
                        </td>
                        <td style="padding: .3rem;border: 1px solid #dee2e6;"> {{ confirm_lst.contractor.class_name }} </td>
                        <td style="padding: .3rem;border: 1px solid #dee2e6;">Remarks </td>

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

            {% if confirmed_list.exists %}
            {% for user in user_lists %}

                <div style="display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;">
                <div style="-ms-flex: 0 0 25%;position: relative;width: 100%;margin-bottom: 1rem; margin:20px">
                    <div class="signature-box">
                        <div class="mb-3">
                            <div class="name-of-the-signatory" style="font-weight: 600;">
                                {{ user }}
                            </div>
                            <small style="color: #9a9a9a;display: block;">
                                {{ user.designation }}
                            </small>
                            {% if user.roles == 'COMMITTEE_SECRETARY' and confirmed_list.first.COMMITTEE_SECRETARY_comments %}
                             <small style="color: #9a9a9a;display: block;">
                                {{ confirmed_list.first.COMMITTEE_SECRETARY_comments }}
                            </small>
                            {% endif %}

                            {% if user.roles == 'SECRETARY' and confirmed_list.first.SECRETARY_comments %}
                             <small style="color: #9a9a9a;display: block;">
                                {{ confirmed_list.first.SECRETARY_comments }}
                            </small>
                            {% endif %}

                            {% if user.roles == 'DMD' and confirmed_list.first.DMD_comments %}
                             <small style="color: #9a9a9a;display: block;">
                                {{ confirmed_list.first.DMD_comments }}
                            </small>
                            {% endif %}

                            {% if user.roles == 'MD' and confirmed_list.first.MD_comments %}
                             <small style="color: #9a9a9a;display: block;">
                                {{ confirmed_list.first.MD_comments }}
                            </small>
                            {% endif %}


                        </div>
                        {% if user.signature %}
                        <img class="signature-img" src="{{ user.signature.url }}" alt=""
                             style="max-width: 100%;height: 25px;">
                        {% endif %}
                    </div>
                </div>

            </div>
            {% endfor %}

             <div style="display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;">
                 <div class="name-of-the-signatory" style="font-weight: 600;">
                                 {{ confirmed_list.first.dict }}
                            </div>
             </div>


            {% endif %}
            <div class="ps__rail-x" style="left: 0px; top: 212px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 212px; height: 350px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 106px; height: 176px;"></div>
            </div>
        </div>
        <div class="text-end mt-3">
            <button type="button" class="btn btn-success"><i class="typcn typcn-printer me-1"></i>Print</button>
        </div>
    </div>


    <div class="col-xl-4 ps-md-5">
        <form method="POST">
            {% csrf_token %}
            <table border="0" cellpadding="0" cellspacing="0" align="center" style="width: 100%;" class="mb-5">
                <tbody>
                <tr>
                    <td style=" color: #000; line-height: 22px; vertical-align: top;" width="120">
                        <strong class="fw-">Title</strong>
                    </td>
                    <td style=" line-height: 22px; vertical-align: top; white-space:nowrap;">
                        Monthly bill
                    </td>
                </tr>
                <tr>
                    <td style=" color: #000; line-height: 22px; vertical-align: top;">
                        <strong>Month</strong>
                    </td>
                    <td style=" line-height: 22px; vertical-align: top;">
                        February
                    </td>
                </tr>
                <tr>
                    <td style=" color: #000; line-height: 22px; vertical-align: top;">
                        <strong>Upload Date</strong>
                    </td>
                    <td style=" line-height: 22px; vertical-align: top;">
                        22/5/2021
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="mb-3">
                <textarea class="form-control custom-form-control" id="exampleFormControlTextarea1" rows="5"
                          name="comments"
                          placeholder="Write Your Comments"></textarea>
            </div>

                        {% if not request.user.roles == 'COMMITTEE_SECRETARY' and confirmed_list.exists %}
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Send To</label>
                            <div class="col-sm-6">
                                <select name="layer" class="form-select" aria-label="Default select example">
                                    <option selected="" value="">Select Layer to Send</option>
                                    {% if request.user.roles == 'SECRETARY' %}
                                    <option value="COMMITTEE_SECRETARY">Committee Secretary</option>
                                    {% elif request.user.roles == 'DMD' %}
                                    <option value="COMMITTEE_SECRETARY">Committee Secretary</option>
                                    <option value="SECRETARY"> Secretary</option>

                                    {% elif request.user.roles == 'MD' %}
                                    <option value="COMMITTEE_SECRETARY">Committee Secretary</option>
                                    <option value="SECRETARY"> Secretary</option>
                                    <option value="DMD"> DMD</option>

                                    {% endif %}
                                </select>
                            </div>
                             <div class="col-md-3">
                    {% if not request.user.roles == 'COMMITTEE_SECRETARY' %}
                    <input type="submit" value="Send" name="layer_forward" class="btn btn-danger w-100">
                    {% endif %}
                </div>
                        </div>
                        {% endif %}
            <div class="row mt-5">

            {% if confirmed_list.exists %}
                <div class="col-md-4">
<!--                    {% if not request.user.roles == 'COMMITTEE_SECRETARY' %}-->
<!--                    <input type="submit" value="Accept" name="accept" class="btn btn-danger w-100">-->
<!--                    {% endif %}-->
                </div>
                {% if request.user.roles == 'COMMITTEE_SECRETARY' %}
                <div class="col-md-7">
                    <button type="submit" name="forward_to_secretary" class="btn btn-primary w-100 ">Forward to Secretary
                    <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
                {% elif request.user.roles == 'SECRETARY' %}
                <div class="col-md-7">
                    <button type="submit" name="forward_to_dmd" class="btn btn-primary w-100 ">Forward to DMD
                    <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
                {% elif request.user.roles == 'DMD' %}
                <div class="col-md-7">
                    <button type="submit" name="forward_to_md" class="btn btn-primary w-100 ">Forward to MD
                    <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
                {% elif request.user.roles == 'MD'  %}
                <div class="col-md-7">
                    <button type="submit" name="confirm_md" class="btn btn-primary w-100 ">Confirmed
                    <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>

                {% endif %}
                {% endif %}
            </div>
        </form>
    </div>


</div>
{% endblock %}

{% block custom_js %}


<script src="{% static 'assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
<script>

     $("#contractor").addClass("mm-active");
     $("#manage-contractor-list").addClass("mm-active");
        $('.box-content').each(function () {
            const ps = new PerfectScrollbar($(this)[0]);
        });


</script>
{% endblock custom_js %}
