{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-7">
            <div class="text-right mb-5">
                <!-- <a href="#" class="btn btn-success" target="_blank">
                    <i class="far fa-file-pdf mr-1"></i> Print PDF
                </a> -->
                <a href="#" class="btn btn-success">
                    <i class="flaticon2-printer"></i>Print PDF</a>
            </div>
            <!--begin::Card-->
            <div class="card card-custom gutter-b">
                <div class="card-body card-body py-20 px-20">
                    <div
                            style="margin-bottom: 20px; display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;">
                        <div
                                style="-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;position: relative;width: 100%;">
                            <img src="{% static 'image/wasa-logo.png' %}" alt=""
                                 style="max-width: 100%;height: 52px;">
                        </div>
                        <div
                                style="-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;position: relative;width: 100%;text-align: center;">
                            <h1 style="font-size: 19px;font-weight: 500;margin-bottom: 0;">ঢাকা
                                পানি সরবরাহ ও পয়ঃনিষ্কাশন কর্তৃপক্ষ </h1>
                            <div style="font-size: 17px;font-weight: 500;margin-bottom: 10px;">
                                ব্যবস্থাপনা
                                পরিচালকের কার্যালয়
                            </div>
                            <p style="font-size: 13px;margin-bottom: 0;color: #9a9a9a;"> ওয়াসা
                                ভবন, ৯৮,কাজী
                                নজরুল ইসলাম
                                এভিনিউ<br>
                                কাওরান বাজার, ঢাকা-১২১৫. </p>
                        </div>

                        <div
                                style="-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;position: relative;width: 100%;">
                            <img src="{% static 'image/Mujib-borcho.jpg' %}" alt=""
                                 style="max-width: 100%;height: auto;">
                        </div>

                    </div>
                    {% if contractor_obj.photograph %}
                    <img src="{{ contractor_obj.photograph.url }}" alt=""
                         style="height: 80px; border: 1px solid #ddd;">
                    {% endif %}

                    <table border="0" cellpadding="0" cellspacing="0" align="center"
                           style="width: 100%; margin-top: 30px;">
                        <tbody>
                        <tr>
                            <td style=" color: #646a6e; line-height: 28px; vertical-align: middle; "
                                width="150">
                                <strong style="color: #000;">Firm Name:</strong>
                            </td>
                            <td style=" color: #646a6e; line-height: 28px; vertical-align: middle;">
                                {{ contractor_obj.contractor_name }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
<!--                    <div style="margin-bottom: 30px; color: #000;font-weight: 600;">Join bencher-->
<!--                        table-->
<!--                    </div>-->
<!--                    <div-->
<!--                            style="display: block;width: 100%;overflow-x: auto;-webkit-overflow-scrolling: touch;">-->
<!--&lt;!&ndash;                        <table border="0" cellpadding="0" cellspacing="0" align="center"&ndash;&gt;-->
<!--&lt;!&ndash;                               class="fullTable" bgcolor="#ffffff" style="width: 100%">&ndash;&gt;-->
<!--&lt;!&ndash;                            <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                <td>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <table border="0" cellpadding="0" cellspacing="0"&ndash;&gt;-->
<!--&lt;!&ndash;                                           align="center" class="fullPadding"&ndash;&gt;-->
<!--&lt;!&ndash;                                           style="width: 100%">&ndash;&gt;-->
<!--&lt;!&ndash;                                        {% if partners.exists %}&ndash;&gt;-->
<!--&lt;!&ndash;                                        <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <th style="color: #5b5b5b; font-weight: 600; line-height: 1; vertical-align: top; padding: 0 10px 7px 0;"&ndash;&gt;-->
<!--&lt;!&ndash;                                                align="left">&ndash;&gt;-->
<!--&lt;!&ndash;                                                Sl.no&ndash;&gt;-->
<!--&lt;!&ndash;                                            </th>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <th style="color: #5b5b5b; font-weight: 600; line-height: 1; vertical-align: top; padding: 0 0 7px;"&ndash;&gt;-->
<!--&lt;!&ndash;                                                align="left">&ndash;&gt;-->
<!--&lt;!&ndash;                                                Name of the partners&ndash;&gt;-->
<!--&lt;!&ndash;                                            </th>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <th style="color: #5b5b5b; font-weight: 600; line-height: 1; vertical-align: top; padding: 0 0 7px;"&ndash;&gt;-->
<!--&lt;!&ndash;                                                align="center">&ndash;&gt;-->
<!--&lt;!&ndash;                                                Father's name&ndash;&gt;-->
<!--&lt;!&ndash;                                            </th>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <th style="color: #5b5b5b; font-weight: 600; line-height: 1; vertical-align: top; padding: 0 0 7px;"&ndash;&gt;-->
<!--&lt;!&ndash;                                                align="center">&ndash;&gt;-->
<!--&lt;!&ndash;                                                Address&ndash;&gt;-->
<!--&lt;!&ndash;                                            </th>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <th style="color: #5b5b5b; font-weight: 600; line-height: 1; vertical-align: top; padding: 0 0 7px;"&ndash;&gt;-->
<!--&lt;!&ndash;                                                align="center">&ndash;&gt;-->
<!--&lt;!&ndash;                                                Position in the firm&ndash;&gt;-->
<!--&lt;!&ndash;                                            </th>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <th style="color: #1e2b33; font-weight: 600; line-height: 1; vertical-align: top; padding: 0 0 7px;text-align: right;"&ndash;&gt;-->
<!--&lt;!&ndash;                                                align="right">&ndash;&gt;-->
<!--&lt;!&ndash;                                                Mother's name&ndash;&gt;-->
<!--&lt;!&ndash;                                            </th>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td height="1" style="background: #bebebe;"&ndash;&gt;-->
<!--&lt;!&ndash;                                                colspan="6">&ndash;&gt;-->
<!--&lt;!&ndash;                                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </tr>&ndash;&gt;-->

<!--&lt;!&ndash;                                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td height="10" colspan="6"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                        {% for partner in partners %}&ndash;&gt;-->
<!--&lt;!&ndash;                                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td style="color: #ff0000;  line-height: 18px;  vertical-align: top; padding:10px 0;"&ndash;&gt;-->
<!--&lt;!&ndash;                                                class="article">&ndash;&gt;-->
<!--&lt;!&ndash;                                                1&ndash;&gt;-->
<!--&lt;!&ndash;                                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td&ndash;&gt;-->
<!--&lt;!&ndash;                                                    style="color: #646a6e;  line-height: 18px;  vertical-align: top; padding:10px 0;">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <small>{{ partner.partner_name }}</small>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td style="color: #646a6e;  line-height: 18px;  vertical-align: top; padding:10px 0;"&ndash;&gt;-->
<!--&lt;!&ndash;                                                align="center">{{ partner.fathers_name }}&ndash;&gt;-->
<!--&lt;!&ndash;                                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td style="color: #646a6e;  line-height: 18px;  vertical-align: top; padding:10px 0;"&ndash;&gt;-->
<!--&lt;!&ndash;                                                align="center">{{ partner.address }}&ndash;&gt;-->
<!--&lt;!&ndash;                                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td style="color: #646a6e;  line-height: 18px;  vertical-align: top; padding:10px 0;"&ndash;&gt;-->
<!--&lt;!&ndash;                                                align="center">{{ partner.position_in_firm }}&ndash;&gt;-->
<!--&lt;!&ndash;                                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td style="color: #1e2b33;  line-height: 18px;  vertical-align: top; padding:10px 0;"&ndash;&gt;-->
<!--&lt;!&ndash;                                                align="right">{{ partner.mothers_name}}&ndash;&gt;-->
<!--&lt;!&ndash;                                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </tr>&ndash;&gt;-->

<!--&lt;!&ndash;                                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td height="1" colspan="6"&ndash;&gt;-->
<!--&lt;!&ndash;                                                style="border-bottom:1px solid #e4e4e4">&ndash;&gt;-->
<!--&lt;!&ndash;                                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </tr>&ndash;&gt;-->

<!--&lt;!&ndash;                                        {% endfor %}&ndash;&gt;-->

<!--&lt;!&ndash;                                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <td height="1" colspan="6"&ndash;&gt;-->
<!--&lt;!&ndash;                                                style="border-bottom:1px solid #e4e4e4">&ndash;&gt;-->
<!--&lt;!&ndash;                                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                                        {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;                                    </table>&ndash;&gt;-->
<!--&lt;!&ndash;                                </td>&ndash;&gt;-->
<!--&lt;!&ndash;                            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                            </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                        </table>&ndash;&gt;-->
<!--                    </div>-->
                    <table border="0" cellpadding="0" cellspacing="0" align="center"
                           style="width: 100%; margin-top: 30px;">
                        <tbody>
                        <tr>
                            <td style=" color: #646a6e; line-height: 28px; vertical-align: middle; "
                                width="auto">
                                <strong style="color: #000;"> Mail Address:</strong>
                            </td>
                            <td
                                    style=" color: #646a6e; line-height: 28px; vertical-align: middle; white-space:nowrap;">
                                {{ contractor_obj.mailing_address }}
                            </td>
                        </tr>
                        <tr>
                            <td
                                    style=" color: #646a6e; line-height: 28px; vertical-align: middle; ">
                                <strong style="color: #000;">Telephone:</strong>
                            </td>
                            <td
                                    style=" color: #646a6e; line-height: 28px; vertical-align: middle; ">
                                {{ contractor_obj.user.phone }}
                            </td>
                        </tr>
                        <tr>
                            <td
                                    style=" color: #000; line-height: 28px; vertical-align: middle; ">
                                <strong style="color: #000;">Email:</strong>
                            </td>
                            <td
                                    style=" color: #000; line-height: 28px; vertical-align: middle; ">
                                <strong>{{ contractor_obj.user.email }}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td
                                    style=" color: #646a6e; line-height: 28px; vertical-align: middle; ">
                                <strong style="color: #000;">NID:</strong>
                            </td>
                            <td
                                    style=" color: #646a6e; line-height: 28px; vertical-align: middle; ">
                                {{ contractor_obj.NID_NUMBER }}
                            </td>
                        </tr>
                        <!-- <tr>
                            <td
                                style=" color: #646a6e; line-height: 28px; vertical-align: middle; ">
                                <strong style="color: #000;">Image:</strong>
                            </td>
                            <td
                                style=" color: #646a6e; line-height: 28px; vertical-align: middle; ">
                                <img src="assets/img/avatar.png" alt=""
                                    style="height: 60px;">
                            </td>
                        </tr> -->
                        <tr>
                            <td
                                    style=" color: #646a6e; line-height: 28px; vertical-align: middle; ">
                                <strong style="color: #000;">Application Type:</strong>
                            </td>
                            <td
                                    style=" color: #646a6e; line-height: 28px; vertical-align: middle; ">
                                {{ contractor_obj.applied_for }}
                            </td>
                        </tr>
                        <tr>
                            <td
                                    style=" color: #646a6e; line-height: 28px; vertical-align: middle; ">
                                <strong style="color: #000;">Tracking Number:</strong>
                            </td>
                            <td
                                    style=" color: #646a6e; line-height: 28px; vertical-align: middle; ">
                                XYZ56988
                            </td>
                        </tr>
                        <tr>
                            <td
                                    style=" color: #646a6e; line-height: 28px; vertical-align: middle; ">
                                <strong style="color: #000;">Application Date:</strong>
                            </td>
                            <td style=" color: #646a6e; line-height: 28px; vertical-align: middle; ">
                                {{ textation.applicant_date }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="margin-bottom: 10px; margin-top: 30px;"><span
                            style="font-weight: 600;color: #000;">
                                                    Declaration:</span> <span style="color: #646a6e;">It is a long
                                                    established fact that a reader will be distracted by the readable
                                                    content of a page when looking at its layout. The point of using
                                                    Lorem Ipsum is that it has a more-or-less normal distribution of
                                                    letters, as opposed to using 'Content here, content here', making it
                                                    look like readable English.</span></div>
                    <div class="signature-box" style="margin-top: 30px;">
                        <div class="mb-3">
                            <div class="name-of-the-signatory" style="font-weight: 600;">
                                Autography
                            </div>
                            <small style="color: #9a9a9a;display: block;">
                                designation
                            </small>
                        </div>

                        {% if textation.signature_of_applicant %}
                        <img class="signature-img" src="{{ textation.signature_of_applicant.url }}" alt=""
                             style="max-width: 100%;height: 25px;">
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--end::Card-->
        </div>
    </div>
</div>
{% endblock %}