{% load static %}

<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <!--<base href="../../">-->
    <meta charset="utf-8"/>
    <title>Dhaka Wasa</title>
    <meta name="description" content="Page with empty content"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="canonical" href="https://keenthemes.com/metronic"/>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--        &lt;!&ndash;begin::Page Vendors Styles(used by this page)&ndash;&gt;-->
    <link href="{% static 'frontend/assets/plugins/wizard/wizard-2.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'frontend/assets/css/login-3.css' %}" rel="stylesheet">
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="{% static 'frontend/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'frontend/assets/plugins/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'frontend/assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="{% static 'frontend/assets/img/favicon.png' %}"/>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" style="background-image: url({% static 'frontend/assets/img/bg-01.jpg' %})"
      class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="login login-3 login-signin-on d-flex flex-row-fluid" id="kt_login">
                <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-color: #bbcebb;">
                    <div class="login-form text-center text-white p-7 position-relative overflow-hidden" style="background-color: #0975bb;">
                <!--begin::Login Header-->
                <div class="d-flex flex-center mb-15">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'frontend/assets/img/wasa-logo.png' %}" class="max-h-100px" alt=""/>
                    </a>
                </div>
                <!--end::Login Header-->
                <!--begin::Login Sign in form-->
                <div class="login-signin">
                    <div class="mb-20">
                        <h3>Now enter your OTP</h3>

                        <!--                                <p class="opacity-60 font-weight-bold">Enter your details to login to your account:</p>-->
                    </div>
                    <form class="form" id="kt_login_signin_form" method="POST">
                        {% csrf_token %}
                        <div class="form-group text-center mb-4">
                            <h6>
                                We've send a 4-digit one time PIN in
                                your phone
                            </h6>

                             <p>{{ request.session.phone_number|slice:":3" }} **** {{ request.session.phone_number|slice:"7:" }}</p>



                        </div>

                        <div class="form-group">
                            <input class="form-control h-auto placeholder-dark-75 rounded-pill border-0 py-4 px-8 mb-5"
                                   type="text" placeholder="Please Enter Your 4 digit One Time Pin (OTP)"
                                   name="otp" autocomplete="off"/>
                        </div>


                        {% for message in messages %}
                        <div class="body-content px-3 py-3">

                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show"><b>{{message}}</b>
<!--                                <button type="button" class="btn-close" data-bs-dismiss="alert"-->
<!--                                        aria-label="Close"></button>-->
                            </div>


                        </div>
                       {% endfor %}


                        <div class="form-group text-center mt-10">
                            <!--                            <button id="kt_login_signin_submit"-->
                            <!--                                    class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3">Sign In-->
                            <!--                            </button>-->

                            <div class="form-group mt-3 d-flex justify-content-between">

                                <button type="submit" class="ml-35 mt-0 btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3"
                                        name="enter">
                                   OTP Submit
                                </button>
                            </div>


                        </div>
                    </form>
                    <!--                            <div class="mt-10">
                                                    <span class="opacity-70 mr-4">Don't have an account yet?</span>
                                                    <a href="javascript:;" id="kt_login_signup" class="text-white font-weight-bold">Sign Up</a>
                                                </div>-->
                </div>
                <!--end::Login Sign in form-->
            </div>
        </div>
    </div>
    <!--end::Login-->
</div>
<!--end::Main-->
<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
<!--begin::Global Config(global config for global JS scripts)-->
<script>
    var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };



</script>

<script>
    console.log('OTP here.... ', {{ otp }});
</script>
<!--end::Global Config-->
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="{% static 'frontend/assets/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'frontend/assets/plugins/prismjs/prismjs.bundle.js' %}"></script>
<script src="{% static 'frontend/assets/js/scripts.bundle.js' %}"></script>
<!--end::Global Theme Bundle-->
<!--begin::Page Vendors(used by this page)-->
<!--end::Page Scripts-->
</body>
<!--end::Body-->
</html>