/*  
Favethemes documentation styles
*/

body {
    font-family: 'Alegreya Sans', sans-serif;
    color: #848484;
    font-size: 16px
}

a,
a:hover,
a:active,
a:focus {
    color: #37a000;
    text-decoration: none;
}

.page-header {
    margin-top: 0;
}

.m-t-0 {
    margin-top: 0px;
}

h1, h2, h3, h4, h5, h6{
    color: #374767;
}
/*--- selectin ---*/

::-moz-selection {
    color: #fff;
    background: #37a000;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #37a000;
    text-shadow: none;
}

@media (min-width: 768px) {
    .bs-sidebar.affix {
        top: 50px;
        width: 220px;
    }
}

@media (min-width: 992px) {
    .bs-sidebar.affix {
        top: 70px;
        width: 263px;
    }
}

.bs-sidenav {
    border-radius: 5px;
    background-color: #2c3136;
    border: 1px solid #2c3136;
}

.bs-sidenav a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    color: #fff;
}

.bs-sidenav a.last {
    border-bottom: none;
}

.nav>li>a:hover,
.nav>li>a:focus,
.bs-sidenav a:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

pre.prettyprint {
    padding: 20px 10px;
}


/*h1[id] {
    padding-top: 80px;
    margin-top: -45px;
}*/

h3 {
    margin-top: 40px;
}

.goodbye {
    border-top: 1px solid #eee;
    padding: 20px 0 0;
    margin-top: 80px;
}

img {
    max-width: 100%;
}

.content {
    margin-bottom: 50px;
}


/*** Navber
==============================================================================*/

.navbar-default {
    background-color: #000;
    border-color: #e7e7e7;
    margin: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #37a000;
    font-weight: 700;
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-brand img {
    height: 40px;
}


/*** Header
==============================================================================*/

.jumbotron {
    padding-top: 120px;
    padding-bottom: 60px;
    background-color: #2c3136;
    border-bottom: 1px solid #2c3136;
    /*    background-image: url(../img/homepage.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;*/
}

.jumbotron,
.jumbotron a {
    color: #fff;
}

.jumbotron h1 {
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 800;
}

.jumbotron p {
    color: #fff;
    font-weight: 300;
}


/*vodeo*/


/*.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;  16:9 
    padding-top: 25px;
    height: 0;
    margin-bottom: 20px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

.prev-inner:hover h4{
    color: #37a000;
}




.preview_inner {
    text-align: center;
    margin-bottom: 20px;
    background-color: #fafafa;
    border: 1px solid #e1e8ed;
    padding: 10px;
    border-radius: 10px;
    min-height: 327px;
}
.preview_inner h4 {
    font-size: 17px;
    letter-spacing: 1px;
    margin: 5px 0 15px;
    font-weight: 500;
}
.preview-btn {
    background-color: #37a000;
    border: 1px solid #37a000;
    padding: 4px 12px;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
}

.preview-btn:hover {
    background-color: #fff;
    border-color: #37a000;
    color: #37a000;
}

figure.snip {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #000000;
    text-align: center;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
}

figure.snip * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

figure.snip img {
    max-width: 100%;
    vertical-align: top;
}

figure.snip i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

figure.snip a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

figure.snip:hover img,
figure.snip.hover img {
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

figure.snip:hover i,
figure.snip.hover i {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*** Footer
==============================================================================*/

footer {
    background-color: #2c3136;
    padding: 10px 0;
}

footer p {
    color: #fff;
    margin: 0;
}


/*--- back to top ---*/
#toTop{
    position: fixed;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
    display: none;
}

.back-top {
    background-color: #45c203;
    border: 1px solid #45c203;
    padding: 7px 9px;
    height: 34px;
    width: 34px;
    border-radius: 50% !important;
    color: #fff;
}
.back-top:hover{
    color: #fff;
    background-color: #2c3136;
    border: 1px solid #2c3136;

}

@media (min-width: 768px) {
    #toTop{
        right: 30px;
    }
}