{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<style>

</style>

{% endblock stylesheets %}


{% block content%}


<!--<div class="container">-->

<!--    <div class="row">-->


<!--        <div class="col-lg-3 col-md-4">-->
<!--            <div-->
<!--                    class="custom-card mb-small justify-content-around">-->
<!--                <div class="card&#45;&#45;image-box">-->
<!--                    <img src="{% static 'image/bill.svg'%}" alt="Total order"/>-->
<!--                </div>-->
<!--                <a href="#">-->
<!--                    <div class="card&#45;&#45;content-box t&#45;&#45;total-color">-->
<!--                        <h4>{{ total_sales }}</h4>-->
<!--                        <p>Total Sales</p>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-4">-->
<!--            <div class="custom-card justify-content-around">-->
<!--                <div class="card&#45;&#45;image-box">-->
<!--                    <img src="{% static 'image/food.png'%}" alt="Total order"/>-->
<!--                </div>-->
<!--                <a href="#">-->
<!--                    <div class="card&#45;&#45;content-box t&#45;&#45;product-color">-->
<!--                        <h4> {{ food_count }} </h4>-->
<!--                        <p>Total Food</p>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4">-->
<!--            <div class="custom-card justify-content-around">-->
<!--                <div class="card&#45;&#45;image-box">-->
<!--                    <img src="{% static 'image/categories.svg'%}" alt="Total order"/>-->
<!--                </div>-->
<!--                <a href="#">-->
<!--                    <div class="card&#45;&#45;content-box t&#45;&#45;category-color">-->
<!--                        <h4>{{ category_count }}</h4>-->
<!--                        <p>Total Category</p>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4">-->
<!--            <div class="custom-card justify-content-around">-->
<!--                <div class="card&#45;&#45;image-box">-->
<!--                    <img src="{% static 'image/delivery_truck.svg'%}" alt="Total order"/>-->
<!--                </div>-->
<!--                <a href="#">-->
<!--                    <div class="card&#45;&#45;content-box t&#45;&#45;deliver-color">-->
<!--                        <h4> {{ order_completed }}</h4>-->
<!--                        <p>Order Completed</p>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4">-->
<!--            <div class="custom-card justify-content-around">-->
<!--                <div class="card&#45;&#45;image-box">-->
<!--                    <img src="{% static 'image/pending.svg' %}" alt="Total order"/>-->
<!--                </div>-->
<!--                <a href="#">-->
<!--                    <div class="card&#45;&#45;content-box t&#45;&#45;pending-color">-->
<!--                        <h4>{{ order_pending }}</h4>-->
<!--                        <p>Order Pending</p>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4">-->
<!--            <div class="custom-card justify-content-around">-->
<!--                <div class="card&#45;&#45;image-box">-->
<!--                    <img src="{% static 'image/cancel_order.png' %}" alt="Total order"/>-->
<!--                </div>-->
<!--                <a href="#">-->
<!--                    <div class="card&#45;&#45;content-box t&#45;&#45;pending-color">-->
<!--                        <h4>{{ order_cancelled }}</h4>-->
<!--                        <p>Order Cancelled</p>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4">-->
<!--            <div class="custom-card justify-content-around">-->
<!--                <div class="card&#45;&#45;image-box">-->
<!--                    <img src="{% static 'image/refund.svg' %}" alt="Total order"/>-->
<!--                </div>-->
<!--                <a href="#">-->
<!--                    <div class="card&#45;&#45;content-box t&#45;&#45;pending-color">-->
<!--                        <h4>{{ order_refunded }}</h4>-->
<!--                        <p>Order Refunded</p>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->



<!--<div class="row">-->
<!--    <div class="container">-->
<!--        <div class="col-sm-12 col-md-4" style="float:left">-->
<!--            <div class="panel panel-bd ">-->
<!--                <div class="panel-heading">-->
<!--                    <div class="panel-title">-->
<!--                        <h4>Latest Order</h4>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="panel-body">-->
<!--                    <div class="slimScrollDiv" id="slimScrollDiv1"-->
<!--                         style="position: relative; overflow: hidden; width: auto; height: 300px;">-->
<!--                        <div class="message_inner1" style="overflow: hidden; width: auto; height: 450px;">-->
<!--                            <div class="message_widgets">-->
<!--                                {% for order in latest_order %}-->
<!--                                <div class="inbox-item">-->
<!--                                    <p style="margin:0;padding:0;"><strong class="inbox-item-author">Name : {{ order.customer }}</strong></p>-->

<!--                                    <p class="inbox-item-text">Phone: {{ order.customer.mobile }}</p>-->
<!--                                    <p class="inbox-item-text">Order No.: {{ order.order_id }}</a>-->
<!--                                    </p>-->
<!--                                    <p class="inbox-item-text">Date : {{ order.date_time.date }}</p>-->
<!--                                    <p class="inbox-item-text">-->
<!--                                        Payment Status:-->
<!--                                        {% if order.payment_status == 'PENDING' %}-->
<!--                                        <span class="tag label label-warning"> {{ order.payment_status }}</span>-->

<!--                                        {% else %}-->
<!--                                        <span class="tag label label-success"> {{ order.payment_status }}</span>-->
<!--                                        {% endif %}-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                                {% endfor %}-->


<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="slimScrollBar"-->
<!--                             style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 82.5688px;"></div>-->
<!--                        <div class="slimScrollRail"-->
<!--                             style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-12 col-md-4" style="float:left">-->
<!--            <div class="panel panel-bd ">-->
<!--                <div class="panel-heading">-->
<!--                    <div class="panel-title">-->
<!--                        <h4>Latest Order | Delivery </h4>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="panel-body">-->
<!--                    <div class="slimScrollDiv" id="slimScrollDiv2"-->
<!--                         style="position: relative; overflow: hidden; width: auto; height: 300px;">-->
<!--                        <div class="message_inner1" style="overflow: hidden; width: auto; height: 450px;">-->
<!--                            <div class="message_widgets">-->
<!--                                {% for order in latest_delivery_order %}-->
<!--                                <div class="inbox-item">-->
<!--                                    <p style="margin:0;padding:0;"><strong class="inbox-item-author">Name : {{ order.customer }}</strong></p>-->

<!--                                    <p class="inbox-item-text">Phone: {{ order.customer.mobile }}</p>-->
<!--                                    <p class="inbox-item-text">Order No.: {{ order.order_id }}</a>-->
<!--                                    </p>-->
<!--                                    <p class="inbox-item-text">Date : {{ order.date_time.date }}</p>-->
<!--                                    <p class="inbox-item-text">-->
<!--                                        Payment Status:-->
<!--                                        {% if order.payment_status == 'PENDING' %}-->
<!--                                        <span class="tag label label-warning"> {{ order.payment_status }}</span>-->

<!--                                        {% else %}-->
<!--                                        <span class="tag label label-success"> {{ order.payment_status }}</span>-->
<!--                                        {% endif %}-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                                {% endfor %}-->


<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="slimScrollBar"-->
<!--                             style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 82.5688px;"></div>-->
<!--                        <div class="slimScrollRail"-->
<!--                             style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-12 col-md-4" style="float:left">-->
<!--            <div class="panel panel-bd ">-->
<!--                <div class="panel-heading">-->
<!--                    <div class="panel-title">-->
<!--                        <h4>Latest Order | Pickup </h4>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="panel-body">-->
<!--                    <div class="slimScrollDiv" id="slimScrollDiv3"-->
<!--                         style="position: relative; overflow: hidden; width: auto; height: 300px;">-->
<!--                        <div class="message_inner1" style="overflow: hidden; width: auto; height: 450px;"-->
<!--                             id="message_inner1">-->
<!--                            <div class="message_widgets">-->
<!--                                {% for order in latest_pickup_order %}-->
<!--                                <div class="inbox-item">-->
<!--                                    <p style="margin:0;padding:0;"><strong class="inbox-item-author">Name : {{ order.customer }}</strong></p>-->

<!--                                    <p class="inbox-item-text">Phone: {{ order.customer.mobile }}</p>-->
<!--                                    <p class="inbox-item-text">Order No.: {{ order.order_id }}</a>-->
<!--                                    </p>-->
<!--                                    <p class="inbox-item-text">Date : {{ order.date_time.date }}</p>-->
<!--                                    <p class="inbox-item-text">-->
<!--                                        Payment Status:-->
<!--                                        {% if order.payment_status == 'PENDING' %}-->
<!--                                        <span class="tag label label-warning"> {{ order.payment_status }}</span>-->

<!--                                        {% else %}-->
<!--                                        <span class="tag label label-success"> {{ order.payment_status }}</span>-->
<!--                                        {% endif %}-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                                {% endfor %}-->


<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="slimScrollBar"-->
<!--                             style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 82.5688px;"></div>-->
<!--                        <div class="slimScrollRail"-->
<!--                             style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->



<div class="container">

    <div class="row">


        <div class="col-lg-3 col-md-4">
            <div
                    class="custom-card mb-small justify-content-around">
                <div class="card--image-box">
<!--                    <img src="{% static 'image/restaurant.jpg'%}" alt="Total Restaurant"/>-->
                </div>
                <a href="#">
                    <div class="card--content-box t--total-color">
                        <h4>{{ new_applicants }}</h4>
                        <p>New Applications</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div
                    class="custom-card mb-small justify-content-around">
                <div class="card--image-box">
<!--                    <img src="{% static 'image/coffeehouse.png'%}" alt="Total Coffeehouse"/>-->
                </div>
                <a href="#">
                    <div class="card--content-box t--total-color">
                        <h4> {{ confirmed_applicants }} </h4>
                        <p>Accepted Applications</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="custom-card mb-small justify-content-around">
                <div class="card--image-box">
<!--                    <img src="{% static 'image/target.svg' %}" alt="Successful order"/>-->
                </div>
                <a href="#">
                    <div class="card--content-box t--success-color">
                        <h4> {{ rejected_applicants }}</h4>
                        <p>Rejected Applications</p>
                    </div>
                </a>
            </div>
        </div>


    </div>

</div>


<div class="row" style="margin: 10px 5px 15px 15px;">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Applicants <label style="display: none" id="titlechangecustomer">-Last 24
                    Hours</label>
                </h3>
            </div>
            <div id="last5" class="panel-body no-padding">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Customer Name</th>
                            <th>Email</th>
                            <th>Customer Phone</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for customer in customers %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td> {{ customer.first_name }} {{ customer.last_name }}</td>
                            <td> {{ customer.email }}</td>
                            <td> {{ customer.mobile }}</td>
                            {% if customer.is_active %}
                            <td><span class="label label-success">Active</span></td>
                            {% else %}
                            <td><span class="label label-success">Inactive</span></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6 text-end"><a href="#" class="btn btn-primary">View All Customers</a></div>
                </div>
            </div>
        </div>

    </div>
<!--    <div class="col-md-6">-->
<!--        <div class="panel">-->
<!--            <div class="panel-heading">-->
<!--                <h3 class="panel-title">Restaurants <label style="display: none" id="restaurants">-Last 24-->
<!--                    Hours</label>-->
<!--                </h3>-->
<!--            </div>-->
<!--            <div id="last5" class="panel-body no-padding">-->
<!--                <div class="table-responsive">-->
<!--                    <table class="table table-striped">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>S.No</th>-->
<!--                            <th>Restaurants Name</th>-->
<!--                            <th>Email</th>-->
<!--                            <th>Restaurant Phone</th>-->
<!--                            <th>Status</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        {% for restaurant in restaurants %}-->
<!--                        <tr>-->
<!--                            <td>{{ forloop.counter }}</td>-->
<!--                            <td> {{ restaurant.restaurant_name }}</td>-->
<!--                            <td> {{ restaurant.user.email }}</td>-->
<!--                            <td> {{ restaurant.restaurant_phone }}</td>-->

<!--                            {% if restaurant.restaurant_active %}-->
<!--                                <td><span class="label label-success">Active</span></td>-->
<!--                            {% else %}-->
<!--                                <td><span class="label label-success">Inactive</span></td>-->
<!--                            {% endif %}-->

<!--                        </tr>-->
<!--                        {% endfor %}-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="panel-footer">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-6">-->

<!--                    </div>-->
<!--                    <div class="col-md-6 text-end"><a href=""-->
<!--                                                      class="btn btn-primary">View All Restaurants</a></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
</div>


{% endblock %}


{% block custom_js %}

<script>
    $("#dashboard").addClass("mm-active");
    $('#slimScrollDiv1').slimScroll({
      allowPageScroll: true,
      wheelStep: 20
  });
      $('#slimScrollDiv2').slimScroll({
      allowPageScroll: true,
      wheelStep: 20
  });
      $('#slimScrollDiv3').slimScroll({
      allowPageScroll: true,
      wheelStep: 20
  });

</script>


{% endblock custom_js %}

