{% extends 'frontend/base.html' %}

{% block navbar_wizard %}
{% include 'snippets/navbar-wizard.html' %}
{% endblock navbar_wizard %}

{% block content%}
<div id="kt_repeater_1">
    <div class="form-group">
        <div>
            <form action="{% url 'worklistForm' %}" id="listwork_modal_form" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ worklist_formset.management_form }}
                <div id="form_set_list_work">

                    {% for list_work in worklist_formset %}

                    {{ list_work.id }}

                    <div class="form-group row align-items-center">
                        <div class="col-md-6 mb-3">
                            <label>Name of the
                                work/supply of
                                goods:</label>
                            {{ list_work.name_of_work }}
                            <div class="d-md-none mb-2"></div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Client:</label>
                            {{ list_work.client }}

                            <!--                                            <input type="text"-->
                            <!--                                                   class="form-control form-control-solid"/>-->
                            <div class="d-md-none mb-2"></div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Contract amount
                                (Taka):</label>
                            {{ list_work.contractor_amount }}

                            <!--                                            <input type="text"-->
                            <!--                                                   class="form-control form-control-solid"/>-->
                            <div class="d-md-none mb-2"></div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Start date:</label>

                            {{ list_work.start_date }}

                            <!--                                            <input type="text"-->
                            <!--                                                   class="form-control form-control-solid"/>-->
                            <div class="d-md-none mb-2"></div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label>Completion/Delivery date:</label>

                            {{ list_work.delivery_date }}

                            <!--                                            <input type="text"-->
                            <!--                                                   class="form-control form-control-solid"/>-->
                            <div class="d-md-none mb-2"></div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Remarks:</label>

                            {{ list_work.remarks }}


                            <!--                                            <input type="email"-->
                            <!--                                                   class="form-control form-control-solid"/>-->
                            <div class="d-md-none mb-2"></div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label>Action</label>
                            <div>
                                <a class="btn font-weight-bolder btn-light-danger delete_worklist"
                                   data-id="{{ list_work.id.value }}">
                                    <i class="la la-trash-o"></i>Delete</a>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr>
                        </div>
                    </div>
                    {% endfor %}

                    <div id="empty_form_work_list" style="display:none">
                        <div class="form-group row align-items-center">

                            {{ worklist_formset.empty_form.id }}

                            <div class="col-md-6 mb-3">
                                <label>Name of the
                                    work/supply of
                                    goods:</label>
                                {{ worklist_formset.empty_form.name_of_work }}
                                <div class="d-md-none mb-2"></div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Client:</label>
                                {{ worklist_formset.empty_form.client }}

                                <!--                                            <input type="text"-->
                                <!--                                                   class="form-control form-control-solid"/>-->
                                <div class="d-md-none mb-2"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Contract amount
                                    (Taka):</label>
                                {{ worklist_formset.empty_form.contractor_amount }}

                                <!--                                            <input type="text"-->
                                <!--                                                   class="form-control form-control-solid"/>-->
                                <div class="d-md-none mb-2"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Start date:</label>

                                {{ worklist_formset.empty_form.start_date }}

                                <!--                                            <input type="text"-->
                                <!--                                                   class="form-control form-control-solid"/>-->
                                <div class="d-md-none mb-2"></div>
                            </div>
                            <div class="col-md-5 mb-3">
                                <label>Completion/Delivery date:</label>

                                {{ worklist_formset.empty_form.delivery_date }}

                                <!--                                            <input type="text"-->
                                <!--                                                   class="form-control form-control-solid"/>-->
                                <div class="d-md-none mb-2"></div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Remarks:</label>

                                {{ worklist_formset.empty_form.remarks }}


                                <!--                                            <input type="email"-->
                                <!--                                                   class="form-control form-control-solid"/>-->
                                <div class="d-md-none mb-2"></div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>Action</label>
                                <div>
                                    <a class="btn font-weight-bolder btn-light-danger delete_worklist"
                                       data-id="{{ worklist_formset.empty_form.id.value }}">
                                        <i class="la la-trash-o"></i>Delete</a>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <hr>
                            </div>
                        </div>


                    </div>

                </div>
                                                <input type="submit" class="btn btn-primary font-weight-bold" value="submit">
            </form>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <a class="btn font-weight-bolder btn-light-primary add_worklist">
                <i class="la la-plus"></i>Add</a>
        </div>
    </div>

</div>




{% endblock content %}

{% block extra_script %}
<script>
    $(document).on("click", ".add_worklist", function () {
        form_idx = $('#id_form-TOTAL_FORMS').val();
        console.log('******',form_idx);
        $('#form_set_list_work').append($('#empty_form_work_list').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        return false;
      });

      // Remove criterion
        $(document).on("click", ".delete_worklist", function () {
            var result = confirm("Want to delete?");
            if (result) {
                $(this).closest('.form-group').slideUp("slow");
                let id = $(this).attr("data-id")

                  if(id != 'None'){
                        console.log(id);
                        $.ajax({
                            method: 'POST',
                            'contentType': 'application/json',
                            url: '/worklist/delete/'+id + '/',
                            success: function (data) {
                                console.log(data);
                            }
                        });
                    }
            }

        });

</script>
{% endblock %}









