<div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
    <!--begin: Wizard Form-->
    <div class="row">
        <div class="offset-xxl-2 col-xxl-8">
            <form enctype="multipart/form-data" class="form" id="kt_form_step_1" method="POST">


                <div class="body-content">
                    {% if form.field_errors or form.non_field_errors %}

                    <div class="alert alert-danger alert-dismissible" role="alert"><b>{{ form.non_field_errors|safe
                        }}</b>
                        <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}

                </div>


                {% csrf_token %}

                <!--begin: Wizard Step 1-->

                <div class="pb-5" data-wizard-type="step-content"
                     data-wizard-state="current">
                    <h4 class="mb-10 font-weight-bold text-dark">A. General:</h4>
                    <!--begin::Input-->

                    <div class="row">
                        <div class="col-md-4">&nbsp;</div>
                        <div class="col-md-8">
                            <!--begin::Dropzone File Upload-->
                            <div class="dropzone dropzone-multi float-right">
                                <div class="dropzone-panel mb-lg-0 mb-2">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            {{ form.photograph }}

                                            <label class="custom-file-label custom-file-label-solid custom-file-label-lg">
                                                {% if form.photograph.value %}
                                                {{ form.photograph.value }}
                                                {% else %}
                                                Photograph
                                                {% endif %}
                                            </label>
                                            <!--                                                <label class="custom-file-label custom-file-label-solid custom-file-label-lg">-->
                                            <!--                                                    Applicant Photograph-->

                                            <!--                                                </label>-->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Dropzone File Upload-->

                                <hr>
                                <label>Please attach P.P size photographs</label>
                            </div>
                        </div>
                        <!--end::Input-->
                    </div>

                    <div class="form-group">
                        <label>1. &nbsp;Application For: </label>
                        <div class="radio-inline mb-3">
                            {% for radio in form.application_division %}
                            <label class="radio mb-5">
                                {{ radio.tag }}
                                <span></span>
                                {{ radio.choice_label|safe }}

                            </label>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="form-group">
                        <label>2. &nbsp;Name of applicant/firm(in block letters)</label>
                        <!--<input class="form-control form-control-solid form-control-lg" type="text" />-->
                        <!--                        <textarea class="form-control form-control-solid form-control-lg kt_autosize_1" rows="1"-->
                        <!--                                  name="contractor_name"></textarea>-->
                        {{ form.contractor_name }}

                    </div>
                    <!--end::Input-->
                    <!--begin::Input-->

                    <div class="form-group">


                        <div id="jbn" class='div1 row align-items-end'>
                            <div class=" col-md-12 mb-3">
                                <label>3.&nbsp;Father's name (in case of firms, the father's
                                    name of partner, director, etc. and their respective
                                    paternal home address shall be given as per proforma
                                    in Annex-A )</label>
                            </div>

                            <div class="col-md-6 mb-3">

                                <label>Proprietor's
                                    Name:</label>
                                {{ form.proprietor_name }}
                            </div>

                            <div class="col-md-6 mb-3">

                                <label>Father's
                                    Name:</label>
                                {{ form.fathers_name }}
                            </div>

                            <div class="col-md-6 mb-3">
                                <label>Mother's
                                    Name:</label>
                                {{ form.mothers_name }}

                            </div>

                            <div class="col-md-6 mb-3">
                                <label>Permanent Address:</label>
                                {{ form.address }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Position in the
                                    firm:</label>
                                {{ form.position_in_firm }}
                            </div>


                        </div>


                    </div>
                    <!--end::Input-->
                    <!--begin::Modal-->
                    <div class="modal fade" id="partnerModal" tabindex="-1"
                         role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-primary"
                                        id="exampleModalLabel">Annex-A</h5>
                                    <button type="button" class="close"
                                            data-dismiss="modal" aria-label="Close">
                                        <i aria-hidden="true"
                                           class="ki ki-close"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h4 class="mb-10 font-weight-bold text-dark">
                                        Name of all
                                        owners of partnership/directors: </h4>
                                    <!--begin: Repeater One-->
                                    <div id="kt_repeater_1">
                                        <div class="form-group" id="partner_slider">
                                            <div data-repeater-list="">
                                                <form action="" id="partner_modal_form" method="POST">
                                                    {% csrf_token %}
                                                    {{ formset.management_form }}
                                                    <div id="form_set">
                                                        {% for partner in formset %}
                                                        <div class="form-group row align-items-center">

                                                            {{ partner.id }}

                                                            <div class="col-md-5 mb-3">
                                                                <label>Name of the partners</label>
                                                                {{ partner.partner_name }}
                                                                <div class="d-md-none mb-2"></div>
                                                            </div>
                                                            <div class="col-md-5 mb-3">
                                                                <label>Father's name:</label>
                                                                {{ partner.fathers_name }}
                                                                <div class="d-md-none mb-2">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-3">
                                                                <label>Address:</label>
                                                                {{ partner.address }}
                                                                <div class="d-md-none mb-2">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 mb-3">
                                                                <label>Position in the
                                                                    firm:</label>
                                                                {{ partner.position_in_firm }}
                                                                <div class="d-md-none mb-2">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 mb-3">
                                                                <label>Mother's name:</label>
                                                                {{ partner.mothers_name }}
                                                                <div class="d-md-none mb-2">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 mb-3">
                                                                <label>Action</label>
                                                                <div>
                                                                    <a href="javascript:;"
                                                                       data-id="{{ partner.id.value }}"
                                                                       class="btn font-weight-bolder btn-light-danger delete_partner">
                                                                        <i class="la la-trash-o"></i>Delete</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <hr>
                                                            </div>
                                                        </div>
                                                        {% endfor %}

                                                        <div id="empty_form" style="display:none">
                                                            <div class="form-group row align-items-center">
                                                                {{ formset.empty_form.id }}

                                                                <div class="col-md-5 mb-3">
                                                                    <label>Name of the partners</label>
                                                                    {{ formset.empty_form.partner_name }}
                                                                    <div class="d-md-none mb-2"></div>
                                                                </div>
                                                                <div class="col-md-5 mb-3">
                                                                    <label>Father's name:</label>

                                                                    {{ formset.empty_form.fathers_name }}
                                                                    <div class="d-md-none mb-2">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 mb-3">
                                                                    <label>Address:</label>
                                                                    {{ formset.empty_form.address }}
                                                                    <div class="d-md-none mb-2">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 mb-3">
                                                                    <label>Position in the
                                                                        firm:</label>
                                                                    {{ formset.empty_form.position_in_firm }}
                                                                    <div class="d-md-none mb-2">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 mb-3">
                                                                    <label>Mother's name:</label>
                                                                    {{ formset.empty_form.mothers_name }}
                                                                    <div class="d-md-none mb-2">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 mb-3">
                                                                    <label>Action</label>
                                                                    <div>
                                                                        <a href="javascript:;"
                                                                           data-id="{{ formset.empty_form.id.value }}"
                                                                           class="btn font-weight-bolder btn-light-danger delete_partner">
                                                                            <i class="la la-trash-o"></i>Delete</a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <hr>
                                                                </div>


                                                            </div>


                                                        </div>

                                                    </div>


                                                </form>


                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-4">
                                                <a href="javascript:;"
                                                   class="btn font-weight-bolder btn-light-primary add_partner">
                                                    <i class="la la-plus"></i>Add</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end: Repeater One-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-primary font-weight-bold"
                                            data-dismiss="modal">Close
                                    </button>
                                    <button type="button" class="btn btn-primary font-weight-bold"
                                            id="step1-modal-partners">Save
                                        changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Modal-->

                    <div class="form-group">
                        <label>4. &nbsp;Is this join Venture ? (required)</label>


                        <div class="radio-inline mb-3">
                            <label class="radio" data-toggle="modal"
                                   data-target="#partnerModal">
                                <input type="radio" name="radios2" value="on" {% if form.has_partners.value %} checked
                                       {% endif %}/>
                                <span></span>Yes</label>
                            <label class="radio">
                                <input type="radio" name="radios2" value="off"
                                       {% if not form.has_partners.value %} checked {% endif %}/>
                                <span></span>No</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-6 mb-3">
                            <label>5. &nbsp;Mailing/Present Address:</label>
                            <!--                            <input name="mailing_address" class="form-control form-control-solid form-control-lg" type="text">-->
                            {{ form.mailing_address }}

                        </div>


                        <!--                        <div class="col-6 mb-3">-->
                        <!--                            <label>Telephone no:</label>-->
                        <!--&lt;!&ndash;                            <input name="contractor_phone" class="form-control form-control-solid form-control-lg" type="number">&ndash;&gt;-->

                        <!--                            {{ form.contractor_phone }}-->

                        <!--                        </div>-->
                        <div class="col-6 mb-3">
                            <label>6. &nbsp; Fax no:</label>
                            <!--                            <input name="fax_no" class="form-control form-control-solid form-control-lg" type="text">-->

                            {{ form.fax_no }}
                        </div>

                        <div class="col-12 mb-3">
                            <label>7. &nbsp; Office address:</label>
                            <!--                            <input name="mailing_address" class="form-control form-control-solid form-control-lg" type="text">-->
                            {{ form.office_address }}

                        </div>
                        <div class="col-12"><label>8. &nbsp;Nationality:</label><br/></div>
                        <div class="col-md-4 mb-3">

                            <label>NID No:</label>
                            {{ form.NID_NUMBER }}
                        </div>
                        <div class="col-md-8 mb-3">
                            <label>NID Attachment:</label>
                            <!--begin::File Upload-->
                            <div class="input-group">

                                <div class="custom-file">
                                    {{ form.NID_attachment }}
                                    <label class="custom-file-label custom-file-label-solid custom-file-label-lg "
                                           for="inputGroupFile01">
                                        {% if form.NID_attachment.value %}
                                        {{ form.NID_attachment }}
                                        {% else %}
                                        NID Attachment
                                        {% endif %}

                                    </label>
                                </div>
                            </div>
                            <!--end::File Upload-->
                        </div>

                    </div>
                    <!--begin::Input-->
                    <div class="form-group">
                        <!--                        <label>Nationality</label>-->
                        <div class="row">
                        </div>
                    </div>
                    <!--end::Input-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>9. &nbsp;A sheet containing five specimen signatures with
                            a fingerprint of thumb of the left hand of the
                            applicant all duly certified by a class-1 gazetted
                            officer or DWASA officer shall have to be
                            furnished.</label>
                        <!--begin::File Upload-->
                        <div class="input-group">
                            <div class="custom-file">
                                {{ form.doc_with_signature }}
                                <label class="custom-file-label custom-file-label-solid custom-file-label-lg "
                                       for="inputGroupFile02">
                                    {% if form.doc_with_signature.value %}
                                    {{ form.doc_with_signature }}
                                    {% else %}
                                    DOC Signature
                                    {% endif %}

                                </label>


                            </div>
                        </div>
                        <!--end::File Upload-->
                    </div>


                    <div class="form-group">
                        <label>10. &nbsp;Trade License Area: </label>
                        <div class="radio-inline mb-3">
                            {% for radio in form.trade_license_area %}
                            <label class="radio mb-5">
                                {{ radio.tag }}
                                <span></span>
                                {{ radio.choice_label|safe }}

                            </label>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="form-group">

                        <label>11. &nbsp;Trade License No.:</label>
                        <!--
                                                  <input name="mailing_address" class="form-control form-control-solid form-control-lg" type="text">-->
                        <div class="mb-3">
                            {{ form.trade_license_no }}
                        </div>


                    </div>


                    <!--end::Input-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>12. &nbsp;Copy of Trade License in favor of the applicant
                            shall be enclosed.</label>
                        <!--begin::File Upload-->
                        <div class="input-group">
                            <div class="custom-file">
                                {{ form.trade_license }}
                                <label class="custom-file-label custom-file-label-solid custom-file-label-lg "
                                       for="inputGroupFile03">
                                    {% if form.trade_license.value %}
                                    {{ form.trade_license }}
                                    {% else %}
                                    Trade License
                                    {% endif %}

                                </label>
                            </div>
                        </div>
                        <!--end::File Upload-->
                    </div>
                    <!--end::Input-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>13. &nbsp;In the case of partnership/limited company, a
                            deed of partnership on a non-Judicial stamp of
                            Tk-300/- duly registered/a certificate of
                            incorporation/registration under joint-stock
                            companies acts, etc. shall have to be furnished in
                            original or copies thereof attested by a class-1
                            gazetted officer.</label>
                        <!--begin::File Upload-->
                        <div class="input-group">
                            <div class="custom-file">
                                {{ form.non_judicial_stamp }}

                                <label class="custom-file-label custom-file-label-solid custom-file-label-lg "
                                       for="inputGroupFile04">
                                    {% if form.non_judicial_stamp.value %}
                                    {{ form.non_judicial_stamp }}
                                    {% else %}
                                    Non Judicial Stamp
                                    {% endif %}

                                </label>
                            </div>
                        </div>
                        <!--end::File Upload-->
                    </div>
                    <!--end::Input-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <div class="checkbox-list">
                            <label class="checkbox">
                                <!--                                <input type="checkbox" name="Checkboxes1" id="terms_checks_form"/>-->
                                {{ form.declaration_agreement }}
                                <span></span>
                                A declaration that the applicant has no relation
                                in any way with Israel or any other country with
                                whom the Government of Bangladesh has no trade
                                relation shall have to be enclosed.


                            </label>
                            <div class="d-flex" style="margin-left: 27px;">Please check &nbsp;<i
                                    class="fa fa-check"></i>&nbsp;the box
                            </div>

                        </div>
                    </div>

                    <!--                    <div class="row">-->
                    <!--                        &lt;!&ndash;                        <div class="col-md-5"></div>&ndash;&gt;-->
                    <!--                        <div class="col-md-12 text-center">-->
                    <!--                            &lt;!&ndash;begin::Dropzone File Upload&ndash;&gt;-->
                    <!--                            <div class="dropzone dropzone-multi"-->
                    <!--                                 id="kt_dropzone_4">-->
                    <!--                                <div class="dropzone-panel mb-lg-0 mb-2">-->
                    <!--                                    <div class="input-group">-->
                    <!--                                        <div class="custom-file">-->
                    <!--                                            {{ form.photograph }}-->

                    <!--                                            <label class="custom-file-label custom-file-label-solid custom-file-label-lg">-->
                    <!--                                                {% if form.photograph.value %}-->
                    <!--                                                {{ form.photograph }}-->
                    <!--                                                {% else %}-->
                    <!--                                                Photograph-->
                    <!--                                                {% endif %}-->

                    <!--                                            </label>-->
                    <!--                                        </div>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                                &lt;!&ndash;end::Dropzone File Upload&ndash;&gt;-->

                    <!--                                <hr>-->
                    <!--                                <label>Please attach P.P size photographs</label>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        &lt;!&ndash;end::Input&ndash;&gt;-->
                    <!--                    </div>-->
                    <!--end: Wizard Step 1-->

                    <div class="font-weight-bold ml-1 py-4 px-8" id="message-form1"></div>

                    <!--begin: Wizard Actions-->
                    <div class="d-flex justify-content-between border-top mt-5 pt-10">
                        <div class="mr-2">
                            <button type="button"
                                    class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4"
                                    data-wizard-type="action-prev">Previous
                            </button>
                        </div>
                        <div>
                            <button type="button" id="step1_submit"
                                    class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Next
                            </button>
                            <!--                        <a href="{% url 'enrollment-step-2' %}"-->
                            <!--                           class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4">Next</a>-->
                        </div>
                    </div>
                </div>
                <!--end: Wizard Actions-->
            </form>

        </div>
        <!--end: Wizard-->
    </div>
    <!--end: Wizard Form-->
</div>