<!--begin: Wizard Body-->
<div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
    <!--begin: Wizard Form-->
    <div class="row">
        <div class="offset-xxl-2 col-xxl-8">
            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!--begin: Wizard Step 5-->
                <div class="pb-5">
                    <h4 class="mb-10 font-weight-bold text-dark">E. Taxation</h4>
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>1.&nbsp;VAT registration no. and proof of up-to-date
                            fulfillment of obligation shall be
                            submitted.</label>
                        <!--begin: Repeater One-->
                        <div>
                            <div class="form-group">
                                <div id="vat_form">

                                    {{ vat_form.management_form }}

                                    {% for vat in vat_form %}

                                    {{ vat.id }}

                                    <div class="form-group row align-items-center">

                                        <div class="col-md-6 mb-3">
                                            <label>Name</label>
                                            {{ vat.name }}

                                            <!--                                            <input type="text" class="form-control form-control-solid form-control-lg"/>-->
                                            <div class="d-md-none mb-2">
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label>Vat No: </label>

                                            {{ vat.vat_no }}
                                            <!--                                            <input type="text"-->
                                            <!--                                                   class="form-control form-control-solid form-control-lg"/>-->
                                            <div class="d-md-none mb-2">
                                            </div>
                                        </div>
                                        <div class="col-md-10 mb-3">
                                            <label>Attach file</label>
                                            <!--begin::File Upload-->
                                             <div class="input-group">
                                                 <div class="custom-file custom-file-lg">

                                                    {{ vat.attached_file }}


                                                        <label class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0"
                                                            for="inputGroupFile01">
                                                            {% if vat.attached_file.value %}
                                                            Vat Certificate : <span style="color:blue">{{ vat.attached_file.value }}</span>
                                                            {% else %}
                                                            Vat Certificate

                                                            {% endif %}

                                                        </label>
                                                    </div>
                                                </div>






<!--                                            <div class="input-group">-->
<!--                                                <div class="custom-file">-->
<!--                                                    {{ vat.attached_file }}-->
<!--                                                    <label for="" class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0 selected">-->
<!--                                                        {% if vat.attached_file.value %}-->
<!--                                                        {{ vat.attached_file.value }}-->
<!--                                                        {% endif%}-->
<!--                                                    </label>-->

<!--&lt;!&ndash;                                                    <label class="custom-file-label custom-file-label-solid custom-file-label-lg ">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    {% if vat.attached_file.value %}&ndash;&gt;-->
<!--&lt;!&ndash;                                                    {{ vat.attached_file.value }}&ndash;&gt;-->
<!--&lt;!&ndash;                                                    {% else %}&ndash;&gt;-->
<!--&lt;!&ndash;                                                   Vat Attachment&ndash;&gt;-->
<!--&lt;!&ndash;                                                    {% endif %}&ndash;&gt;-->

<!--&lt;!&ndash;                                                </label>&ndash;&gt;-->

<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash;end::File Upload&ndash;&gt;-->
<!--                                            <div class="d-md-none mb-2">-->
<!--                                            </div>-->
                                        </div>

                                        {% if contractor.has_partners %}
                                        <div class="col-md-2 mb-3">
                                            <label>Action</label>
                                            <div>
                                                <a class="btn font-weight-bolder btn-light-danger vat_delete"
                                                   data-id="{{ vat.id.value }}">
                                                    <i class="la la-trash-o"></i>Delete</a>
                                            </div>
                                        </div>
                                        {% endif %}

                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                    </div>

                                    {% endfor %}

                                    <div id="vat_empty_form" style="display:none">
                                        <div class="form-group row align-items-center">

                                            <div class="col-md-6 mb-3">
                                                <label>Name</label>
                                                {{ vat_form.empty_form.name }}

                                                <!--                                            <input type="text" class="form-control form-control-solid form-control-lg"/>-->
                                                <div class="d-md-none mb-2">
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <label>Vat Name</label>

                                                {{ vat_form.empty_form.vat_no }}
                                                <!--                                            <input type="text"-->
                                                <!--                                                   class="form-control form-control-solid form-control-lg"/>-->
                                                <div class="d-md-none mb-2">
                                                </div>
                                            </div>

                                            <div class="col-md-10 mb-3">
                                                 <div class="input-group">
                                                 <div class="custom-file custom-file-lg">

                                                    {{ vat_form.empty_form.attached_file }}
                                                       <label class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0"
                                                            for="inputGroupFile01">

                                                          Vat Certificate

                                                        </label>

<!--                                                        <label-->
<!--                                                            class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0"-->
<!--                                                            for="inputGroupFile01">Choose-->
<!--                                                            file</label>-->
                                                    </div>
                                                </div>


                                                <!--                                                        <input type="file" name="file_attachment"-->
                                                <!--                                                               value="{{ form.file_attachment }}"-->
                                                <!--                                                               class="form-control-file">-->


                                            </div>

                                            <div class="col-md-2 mb-3">
                                                <label>Action</label>
                                                <div>
                                                    <a class="btn font-weight-bolder btn-light-danger vat_delete"
                                                       data-id="{{ vat_form.empty_form.id.value }}">
                                                        <i class="la la-trash-o"></i>Delete</a>
                                                </div>
                                            </div>


                                            <div class="col-sm-12">
                                                <hr>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">

<!--                                //if join venture no then disable this-->

                                {% if contractor.has_partners %}
                                <div class="col-lg-4">
                                    <a class="btn font-weight-bolder btn-light-primary vat_add">
                                        <i class="la la-plus"></i>Add Vat</a>
                                </div>
                                {% endif %}


                            </div>
                        </div>
                        <!--end: Repeater One-->
                    </div>
                    <!--end::Input-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>2.&nbsp;TIN and proof of up-to-date fulfillment of
                            obligation shall be submitted.</label>
                        <!--begin: Repeater One-->
                        <div>
                            <div class="form-group">

                                {{ tin_form.management_form }}

                                <div id="tin_form">

                                    {% for tin in tin_form %}
                                    {{ tin.id }}

                                    <div class="form-group row align-items-center">

                                        <div class="col-md-6 mb-3">
                                            <label>Name</label>
                                            {{ tin.name }}

                                            <!--                                            <input type="text"-->
                                            <!--                                                   class="form-control form-control-solid form-control-lg"/>-->
                                            <div class="d-md-none mb-2">
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label>TIN No</label>
                                            {{ tin.tin_no }}

                                            <!--                                            <input type="text"-->
                                            <!--                                                   class="form-control form-control-solid form-control-lg"/>-->
                                            <div class="d-md-none mb-2">
                                            </div>
                                        </div>
                                        <div class="col-md-10 mb-3">
                                            <label>Attach file</label>
                                            <!--begin::File Upload-->
                                           <div class="input-group">
                                                 <div class="custom-file custom-file-lg">

                                                    {{ tin.attached_file }}


                                                        <label class="custom-file-label custom-file-label-solid custom-file-label-lg mb-5" style="height:auto"
                                                            for="inputGroupFile01">
                                                            {% if tin.attached_file.value %}
                                                            Tin Certificate : <span style="color:blue">{{ tin.attached_file.value }}</span>
                                                            {% else %}
                                                            Tin Certificate

                                                            {% endif %}

                                                        </label>
                                                    </div>
                                                </div>
                                            <!--end::File Upload-->
                                            <div class="d-md-none mb-2">
                                            </div>
                                        </div>

                                        {% if contractor.has_partners %}
                                        <div class="col-md-2 mb-3">
                                            <label>Action</label>
                                            <div>
                                                <a class="btn font-weight-bolder btn-light-danger tin_delete"
                                                   data-id="{{ tin.id.value }}">
                                                    <i class="la la-trash-o"></i>Delete</a>
                                            </div>
                                        </div>
                                        {% endif %}

                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div id="tin_empty_form" style="display:none">
                                        <div class="form-group row align-items-center">

                                            <div class="col-md-6 mb-3">
                                                <label>Name</label>
                                                {{ tin_form.empty_form.name }}

                                                <!--                                            <input type="text"-->
                                                <!--                                                   class="form-control form-control-solid form-control-lg"/>-->
                                                <div class="d-md-none mb-2">
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <label>TIN No</label>
                                                {{ tin_form.empty_form.tin_no }}

                                                <!--                                            <input type="text"-->
                                                <!--                                                   class="form-control form-control-solid form-control-lg"/>-->
                                                <div class="d-md-none mb-2">
                                                </div>
                                            </div>
                                            <div class="col-md-10 mb-3">
                                                <label>Attach file:</label>
                                                <!--begin::File Upload-->
                                               <div class="input-group">
                                                 <div class="custom-file custom-file-lg">

                                                    {{ tin_form.empty_form.attached_file }}
                                                      <label class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0" style="height:auto"
                                                            for="inputGroupFile01">
                                                          Tin Certificate


                                                        </label>


<!--                                                        <label class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0">Choose-->
<!--                                                            file</label>-->
                                                    </div>
                                                </div>
                                                <!--end::File Upload-->
                                                <div class="d-md-none mb-2">
                                                </div>
                                            </div>
                                            <div class="col-md-2 mb-3">
                                                <label>Action</label>
                                                <div>
                                                    <a class="btn font-weight-bolder btn-light-danger tin_delete"
                                                       data-id="{{ tin_form.empty_form.id.value}}">
                                                        <i class="la la-trash-o"></i>Delete</a>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <hr>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            {% if contractor.has_partners %}
                            <div class="form-group row">
                                <div class="col-lg-4">
                                    <a class="btn font-weight-bolder btn-light-primary tin_add">
                                        <i class="la la-plus"></i>Add Tin</a>
                                </div>
                            </div>
                            {% endif %}


                        </div>
                        <!--end: Repeater One-->
                    </div>
                    <!--end::Input-->
                    <!--begin::Input-->
                    <div class="form-group">


                        <label>3.&nbsp;Evidence of fulfillment of the obligation to pay
                            taxes and social security obligation shall be
                            furnished.</label>
                        <!--begin::File Upload-->
                        <div class="input-group">
                            <div class="custom-file custom-file-lg">

                                {{ texation_form.evidence_of_fulfillment }}
                                <!--                                <input type="file"-->
                                <!--                                       class="custom-file-input custom-file-input-lg"-->
                                <!--                                       id="inputGroupFile01"-->
                                <!--                                       aria-describedby="inputGroupFileAddon01">-->
                                <label class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0" style="height:auto">

                                    {% if texation_form.evidence_of_fulfillment.value %}
                                    Evidence of Fulfillment :
                                    <span style="color:blue">
                                        {{ texation_form.evidence_of_fulfillment.value }}
                                    </span>


                                    {% else %}
                                    Evidence
                                    {% endif %}

                                </label>
                            </div>
                        </div>
                        <!--end::File Upload-->
                    </div>
                    <label class="option mb-5">
                            <span class="option-control">
                                <span class="checkbox">
                                    <input type="checkbox" name="declaration_checkbox" value="on" {% if texation_obj.declaration %} checked {% endif %}/>
                                    <span></span>
                                </span>
                            </span>
                        <span class="option-label">
                                <span class="option-body pt-0">I do hereby declare
                                    that <span
                                            class="font-weight-medium text-dark">(i)</span>
                                    I have gone through the rules and procedures for
                                    the enlistment of contractors/supplier in DWASA.
                                    <span
                                            class="font-weight-medium text-dark">(ii)</span>
                                    Agree to abide by them. <span
                                            class="font-weight-medium text-dark">(iii)</span>
                                    Declare that the decision of the authority in
                                    all matters shall be final and <span
                                            class="font-weight-medium text-dark">(iv)</span>That
                                    the details information furnished above are
                                    correct.</span>
                            </span>
                    </label>
                    <div class="row">

                        <div class="col-md-12 text-center">
                            <!--begin::Dropzone File Upload-->
                            <div class="input-group">

                                    {{ texation_form.signature_of_applicant }}

                                     <label class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0 px-5" style="height:auto">

                                     {% if texation_form.signature_of_applicant.value %}
                                    Applicant Signature :
                                    <span style="color:blue">
                                      {{ texation_form.signature_of_applicant }}
                                    </span>


                                    {% else %}
                                     Applicant Signature :
                                    {% endif %}

                                </label>

                            </div>
                            <!--end::Dropzone File Upload-->
                            <span class="form-text text-muted mb-3">Max file
                                                                        size is 1MB and max number of files is 5.</span>

                            <hr>
                            <label>Signature of the applicant</label>
                        </div>
                    </div>
                </div>
                <!--end: Wizard Step 5-->
                <!--begin: Wizard Actions-->
                <div class="d-flex justify-content-between border-top mt-5 pt-10">
                    <div class="mr-2">
                        <a href="wizard-step-04.html"
                           class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4"
                           data-wizard-type="action-prev">Previous</a>
                        {% if type == 'enrollment' %}

                        <a href="{% url 'enrollment-step-4' %}"  type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Previous
                        </a>
                        {% elif type == 'renewal' %}

                        <a href="{% url 'renewal-step-4' %}"  type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Previous
                        </a>

                        {% else %}

                        <a href="{% url 'license-upgrade-step-4' %}"  type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Previous
                        </a>

                        {% endif %}

                    </div>
                    <!--                    <div>-->
                    <!--                        <button type="button"-->
                    <!--                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4"-->
                    <!--                                data-wizard-type="action-submit">Submit-->
                    <!--                        </button>-->
                    <!--                        <button type="button"-->
                    <!--                                class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4"-->
                    <!--                                data-wizard-type="action-next">Next-->
                    <!--                        </button>-->
                    <!--                    </div>-->



                    <input type="submit" value="Submit & Preview"
                           class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">
                </div>

                <!--end: Wizard Actions-->
            </form>
        </div>
        <!--end: Wizard-->
    </div>
    <!--end: Wizard Form-->
</div>
<!--end: Wizard Body-->