<div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
    <!--begin: Wizard Form-->
    <div class="row">
        <div class="offset-xxl-2 col-xxl-8">
            <form class="form" id="kt_form_step_2" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!--begin: Wizard Step 2-->
                <div class="pb-5">
                    <h4 class="mb-10 font-weight-bold text-dark">B. Professional
                        and Technical Capacity:</h4>
                    <!--begin::Input-->
                    <div class="form-group text-justify">
                        <label>1.&nbsp;Copy of electrical A, B, C
                            license (for E-M contractor only) shall have to be
                            submitted with the application. In case of
                            partnership/limited company, a deed on a judicial
                            stamp of value Tk. 300 duly registered/a certificate
                            of incorporation/registration under joint-stock
                            company's act shall have to be furnished with the
                            application.</label>
                        <!--begin::File Upload-->



                        {% if contractor.application_division == '2' or contractor.application_division == '4'  %}
                        <div class="input-group mb-10">
                            <div class="custom-file custom-file-lg">
                                {{ protech_form.certificate_of_incorporation }}

                                <label class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0"
                                       for="inputGroupFile01">
                                    {% if protech_form.certificate_of_incorporation.value %}
                                        {{ protech_form.certificate_of_incorporation.value }}
                                    {% else %}
                                        A.B.C License
                                    {% endif %}


                                </label>
                            </div>
                        </div>

                    {% endif %}




                        <div class="input-group">
                            <div class="custom-file custom-file-lg">
                                {{ protech_form.judicial_stamp }}

                                <label class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0"
                                       for="inputGroupFile01">
                                    {% if protech_form.judicial_stamp.value %}
                                        {{ protech_form.judicial_stamp.value }}
                                    {% else %}
                                        Judicial Stamp
                                    {% endif %}


                                </label>
                            </div>
                        </div>
                        <!--end::File Upload-->
                    </div>


                    <!--end::Input-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>2.&nbsp;Date and place of registration as
                            contractor/supplier. Documentary evidence shall have
                            to be submitted. State as per proforma in annex-B if
                            registered
                            with Govt. Departments, Semi-Govt., autonomous
                            bodies, or reputed firms as contractors/suppliers.
                            Documentary evidence shall have to be furnished.
                        </label>
                        <div class="radio-inline">
                            <label class="radio" data-toggle="modal"
                                   data-target="#step2-registration-modal">
                                <input type="radio" name="has_registered" value="True" {% if protech.has_registered %} checked {% endif %}/>
                                <span></span>Yes</label>
                            <label class="radio">
                                <input type="radio" name="has_registered" value="False" {% if not protech.has_registered %} checked {% endif %}/>
                                <span></span>No</label>
                        </div>
                    </div>
                    <!--end::Input-->

                    {% include 'modals/step2_reg_modals.html' %}


                    <!--begin::Input-->
                    <div class="form-group">
                        <label>3.&nbsp;General certificates from two(2) responsible
                            officers not below the rank of an executive engineer
                            or equivalent in status should be attached.</label>
                        <div class="radio-inline">
                            <label class="radio">
                                <input type="radio" name="has_general_certificate" value="True" {% if protech.has_general_certificate %} checked {% endif %} data-toggle='collapse' data-target='#collapsediv1'/>
                                <span></span>Yes</label>
                            <label class="radio">
                                <input type="radio" name="has_general_certificate" value="False" {% if not protech.has_general_certificate %} checked {% endif %}/>
                                <span></span>No</label>
                        </div>
                        <div id='collapsediv1' class='collapse div1'>
                            <div class="row">
                                <div class="col-md-6">
                                    <!--begin::File Upload-->
                                    <div class="input-group">
                                        <div class="custom-file custom-file-lg">
                                            <input type="file" name="general_certificate_1" class="custom-file-input custom-file-input-lg" aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0" for="inputGroupFile01">
                                                {% if protech_form.general_certificate_1 %}
                                                    {{ protech_form.general_certificate_1 }}
                                                {% else %}
                                                Choose file
                                                {% endif %}


                                            </label>
                                        </div>
                                    </div>
                                    <!--end::File Upload-->
                                </div>
                                <div class="col-md-6">
                                    <!--begin::File Upload-->
                                    <div class="input-group">
                                        <div class="custom-file custom-file-lg">
                                            <input type="file" name="general_certificate_2" class="custom-file-input custom-file-input-lg" aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0" for="inputGroupFile01">

                                                {% if protech_form.general_certificate_2 %}
                                                    {{ protech_form.general_certificate_2 }}
                                                {% else %}
                                                Choose file
                                                {% endif %}


                                            </label>
                                        </div>
                                    </div>
                                    <!--end::File Upload-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Input-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>4.&nbsp;(a) List of procurement executed in last five
                            years as per format given in Annex-C1</label>
                        <div class="radio-inline">
                            <label class="radio" data-toggle="modal"
                                   data-target="#listWorkModal">
                                <input type="radio" name="list_of_work_annex_c1" value="True" {% if protech.list_of_work_annex_c1 %} checked {% endif %}/>
                                <span></span>Yes</label>
                            <label class="radio">
                                <input type="radio" name="list_of_work_annex_c1" value="False" {% if not protech.list_of_work_annex_c1 %} checked {% endif %}/>
                                <span></span>No</label>
                        </div>
                    </div>
                    <!--end::Input-->

                        {% include 'modals/step2_list_of_work.html' %}

                    <!--begin::Input-->
                    <div class="form-group">
                        <label>4.&nbsp;(b) List of procurement in progress as per format
                            given in Annex-C2</label>
                        <div class="radio-inline">
                            <label class="radio" data-toggle="modal"
                                   data-target="#listWorkModalc2">
                                <input type="radio" name="list_of_work_annex_c2" value="True" {% if protech.list_of_work_annex_c2 %} checked {% endif %}/>
                                <span></span>Yes</label>
                            <label class="radio">
                                <input type="radio" name="list_of_work_annex_c2" value="False" {% if not protech.list_of_work_annex_c2 %} checked {% endif %}/>
                                <span></span>No</label>
                        </div>
                    </div>
                    <!--end::Input-->
                    <!--begin::Modal-->

                    {% include 'modals/step2_list_of_work_c2.html' %}

                    <!--end::Modal-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>4.&nbsp;(c) Details of procurement as per proforma given
                            in Annex-C3</label>
                        <div class="radio-inline">
                            <label class="radio" data-toggle="modal"
                                   data-target="#listWorkModalc3">
                                <input type="radio" name="list_of_work_annex_c3" value="True" {% if protech.list_of_work_annex_c3 %} checked {% endif %}/>
                                <span></span>Yes</label>
                            <label class="radio">
                                <input type="radio" name="list_of_work_annex_c3" value="False" {% if not protech.list_of_work_annex_c3 %} checked {% endif %}/>
                                <span></span>No</label>
                        </div>
                    </div>
                    <!--end::Input-->
                    <!--begin::Modal-->
                    {% include 'modals/step2_list_of_work_c3.html' %}


                    <!--end::Modal-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>5.&nbsp;(a) List of Machinery & Equipment available with
                            the applicant shall be given as per proforma given
                            in Annex-D1 </label>
                        <div class="radio-inline">
                            <label class="radio" data-toggle="modal"
                                   data-target="#listOfEqipment">
                                <input type="radio" name="list_of_work_annex_d1" value="True" {% if protech.list_of_work_annex_d1 %} checked {% endif %}/>
                                <span></span>Yes</label>
                            <label class="radio">
                                <input type="radio" name="list_of_work_annex_d1" value="False" {% if not protech.list_of_work_annex_d1 %} checked {% endif %}/>
                                <span></span>No</label>
                        </div>
                    </div>
                    <!--end::Input-->
                    <!--begin::Modal-->


                    {% include 'modals/list_of_eqipment.html' %}



                    <!--end::Modal-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>5.&nbsp;(b) Description of workshop facilities available
                            with the applicant as per proforma given in
                            Annex-D2</label>
                        <div class="radio-inline">
                            <label class="radio" data-toggle="modal"
                                   data-target="#listOfEqipmentd2">
                                <input type="radio" name="desc_of_work_annex_d2" value="True" {% if protech.desc_of_work_annex_d2 %} checked {% endif %}/>
                                <span></span>Yes</label>
                            <label class="radio">
                                <input type="radio" name="desc_of_work_annex_d2" value="False" {% if not protech.desc_of_work_annex_d2 %} checked {% endif %}/>
                                <span></span>No</label>
                        </div>
                        <span class="form-text text-muted"> (This form is
                                                                    applicable for E-M contractor only)</span>
                    </div>
                    <!--end::Input-->
                    <!--begin::Modal-->
                     {% include 'modals/list_of_eqipment_d2.html' %}



<!--                    <div class="modal fade" id="exampleModal6" tabindex="-1"-->
<!--                         role="dialog" aria-labelledby="exampleModalLabel6"-->
<!--                         aria-hidden="true">-->
<!--                        <div class="modal-dialog modal-lg" role="document">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <h5 class="modal-title text-primary"-->
<!--                                        id="exampleModalLabel6">Annex-D2</h5>-->
<!--                                    <button type="button" class="close"-->
<!--                                            data-dismiss="modal" aria-label="Close">-->
<!--                                        <i aria-hidden="true"-->
<!--                                           class="ki ki-close"></i>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                    <h4-->
<!--                                            class="font-weight-bold text-dark mb-10">-->
<!--                                        List of-->
<!--                                        machinery & equipment</h4>-->
<!--                                    &lt;!&ndash;begin: Repeater Five&ndash;&gt;-->
<!--                                    <div id="kt_repeater_5">-->
<!--                                        <div class="form-group">-->
<!--                                            <div data-repeater-list="">-->
<!--                                                <div data-repeater-item=""-->
<!--                                                     class="form-group row align-items-center">-->
<!--                                                    <div class="col-md-2 mb-3">-->
<!--                                                        <label>Sl.no</label>-->
<!--                                                        <input type="text"-->
<!--                                                               class="form-control form-control-solid"/>-->
<!--                                                        <div-->
<!--                                                                class="d-md-none mb-2">-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-md-6 mb-3">-->
<!--                                                        <label>Name of the-->
<!--                                                            equipment:</label>-->
<!--                                                        <input type="text"-->
<!--                                                               class="form-control form-control-solid"/>-->
<!--                                                        <div-->
<!--                                                                class="d-md-none mb-2">-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-md-4 mb-3">-->
<!--                                                        <label>Manufacture:</label>-->
<!--                                                        <input type="text"-->
<!--                                                               class="form-control form-control-solid"/>-->
<!--                                                        <div-->
<!--                                                                class="d-md-none mb-2">-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-md-4 mb-3">-->
<!--                                                        <label>Capacity:</label>-->
<!--                                                        <input type="email"-->
<!--                                                               class="form-control form-control-solid"/>-->
<!--                                                        <div-->
<!--                                                                class="d-md-none mb-2">-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-md-5 mb-3">-->
<!--                                                        <label>Year of-->
<!--                                                            manufacture &-->
<!--                                                            model:</label>-->
<!--                                                        <input type="text"-->
<!--                                                               class="form-control form-control-solid"/>-->
<!--                                                        <div-->
<!--                                                                class="d-md-none mb-2">-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-md-3 mb-3">-->
<!--                                                        <label>Current-->
<!--                                                            status:</label>-->
<!--                                                        <input type="text"-->
<!--                                                               class="form-control form-control-solid"/>-->
<!--                                                        <div-->
<!--                                                                class="d-md-none mb-2">-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-md-6 mb-3">-->
<!--                                                        <label>Ownership-->
<!--                                                            (Own/Leased/Rental):</label>-->
<!--                                                        <input type="text"-->
<!--                                                               class="form-control form-control-solid"/>-->
<!--                                                        <div-->
<!--                                                                class="d-md-none mb-2">-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-md-3 mb-3">-->
<!--                                                        <label>Remarks:</label>-->
<!--                                                        <input type="text"-->
<!--                                                               class="form-control form-control-solid"/>-->
<!--                                                        <div-->
<!--                                                                class="d-md-none mb-2">-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-md-3 mb-3">-->
<!--                                                        <label>Action</label>-->
<!--                                                        <div>-->
<!--                                                            <a href="javascript:;"-->
<!--                                                               data-repeater-delete=""-->
<!--                                                               class="btn font-weight-bolder btn-light-danger">-->
<!--                                                                <i-->
<!--                                                                        class="la la-trash-o"></i>Delete</a>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-sm-12">-->
<!--                                                        <hr>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="form-group row">-->
<!--                                            <div class="col-lg-4">-->
<!--                                                <a href="javascript:;"-->
<!--                                                   data-repeater-create=""-->
<!--                                                   class="btn font-weight-bolder btn-light-primary">-->
<!--                                                    <i-->
<!--                                                            class="la la-plus"></i>Add</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash;end: Repeater Five&ndash;&gt;-->
<!--                                </div>-->
<!--                                <div class="modal-footer">-->
<!--                                    <button type="button"-->
<!--                                            class="btn btn-light-primary font-weight-bold"-->
<!--                                            data-dismiss="modal">Close-->
<!--                                    </button>-->
<!--                                    <button type="button"-->
<!--                                            class="btn btn-primary font-weight-bold">Save-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!--end::Modal-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>6.&nbsp;(a) List of the Managerial/Technical Personnel
                            employed in pay-roll with the applicant shall be
                            furnished as per proforma given in Annex-El </label>
                        <div class="radio-inline">
                            <label class="radio" data-toggle="modal"
                                   data-target="#listtechnical">
                                <input type="radio" name="list_of_work_e1" value="True" {% if protech.list_of_work_e1 %} checked {% endif %}/>
                                <span></span>Yes</label>
                            <label class="radio">
                                <input type="radio" name="list_of_work_e1" value="False" {% if not protech.list_of_work_e1 %} checked {% endif %}/>
                                <span></span>No</label>
                        </div>
                    </div>
                    <!--end::Input-->
                    <!--begin::Modal-->

                    {% include 'modals/list_of_technical.html' %}

                    <!--end::Modal-->
                </div>
                <!--end: Wizard Step 2-->
                <!--begin: Wizard Actions-->
                <div
                        class="d-flex justify-content-between border-top mt-5 pt-10">
                    <div class="mr-2">
                        <a href="wizard-step-01.html"
                           class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4"
                           data-wizard-type="action-prev">Previous</a>
                        {% if type == 'enrollment' %}
                         <a href="{% url 'enrollment-step-1' %}"  type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Previous
                        </a>

                        {% elif type == 'renewal' %}
                        <a href="{% url 'renewal-step-1' %}"  type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Previous
                        </a>
                        {% else %}
                         <a href="{% url 'license-upgrade-step-1' %}"  type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Previous
                        </a>
                        {% endif %}
                    </div>
                    <div>

                        <button id="step2_submit" type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Next
                        </button>
                        <!--                        <a href="{% url 'enrollment-step-3' %}"-->
                        <!--                           class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4">Next</a>-->
                    </div>
                </div>
                <!--end: Wizard Actions-->
            </form>
        </div>
        <!--end: Wizard-->
    </div>
    <!--end: Wizard Form-->
</div>
</div>