<!--begin: Wizard Body-->
<div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
    <!--begin: Wizard Form-->
    <div class="row">
        <div class="offset-xxl-2 col-xxl-8">
            <form class="form" id="kt_form_legal_capacity" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!--begin: Wizard Step 4-->
                <div class="pb-5">
                    <h4 class="mb-10 font-weight-bold text-dark">D. Legal Capacity
                    </h4>
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>1.&nbsp;The applicant shall declare that there is no
                            legal reason e.g an order of a judicial court that
                            prevents them from entering into the registration
                            for procurement of works/goods.</label>
                        <!--begin::File Upload-->
                        <div class="input-group">
                            <div class="custom-file custom-file-lg">
                                {{ legal_form.declaration_of_procurement }}

                                <!--                                <input type="file"-->
                                <!--                                       class="custom-file-input custom-file-input-lg"-->
                                <!--                                       id="inputGroupFile01"-->
                                <!--                                       aria-describedby="inputGroupFileAddon01">-->
                                <label
                                        class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0"
                                        for="inputGroupFile01">
                                    {% if legal_form.declaration_of_procurement.value %}
                                     Declaration :
                                    <span style="color:blue">    {{ legal_form.declaration_of_procurement }}</span>

                                    {% else %}

                                    Legal Certificate
                                {% endif %}
                                </label>
                            </div>
                        </div>
                        <!--end::File Upload-->
                    </div>
                    <!--end::Input-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>2.&nbsp;A declaration from the court of the first-class
                            magistrate shall have to be furnished stating that
                            no member or official of Dhaka WASA is a relative of
                            the applicant(or any partner in case of a firm) or
                            any way connected or connected in business with him
                            or any partners.</label>
                        <!--begin::File Upload-->
                        <div class="input-group">
                            <div class="custom-file custom-file-lg">
                                {{ legal_form.declaration_form_court }}
                                <label
                                        class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0"
                                        for="inputGroupFile02">
                                    {% if legal_form.declaration_form_court.value %}
                                    Declaration :
                                    <span style="color:blue"> {{ legal_form.declaration_form_court }}</span>
                                    {% else %}

                                    Court Declaration
                                {% endif %}
                                </label>
                            </div>
                        </div>
                        <!--end::File Upload-->
                    </div>
                    <!--end::Input-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>3.&nbsp;Applicant, including each of the
                            partners/directors, shall provide information on any
                            history of litigation or arbitration resulting from
                            a contract executed in the last five (5) years or
                            currently under execution as per the proforma
                            enclosed in Annex-F</label>
                        <div class="radio-inline">
                            <label class="radio" data-toggle="modal" data-target="#Annex_F">
                                <input type="radio" name="annex_f" value="on"   {% if legal_capacity_obj.enclosed_Annex_F %} checked {% endif %} />
                                <span></span>Yes</label>
                            <label class="radio">
                                <input type="radio" name="annex_f" value="off"  {% if not legal_capacity_obj.enclosed_Annex_F %} checked {% endif %}/>
                                <span></span>No</label>
                        </div>
                    </div>
                    <!--end::Input-->
                    <!--begin::Modal-->

                    {% include 'modals/annex_f.html' %}

                    <!--end::Modal-->
                </div>
                <!--end: Wizard Step 4-->
                <!--begin: Wizard Actions-->
                <div
                        class="d-flex justify-content-between border-top mt-5 pt-10">
                    <div class="mr-2">
                        <a href="wizard-step-03.html"
                           class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4"
                           data-wizard-type="action-prev">Previous</a>

                        {% if type == 'enrollment' %}

                        <a href="{% url 'enrollment-step-3' %}"  type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Previous
                        </a>
                        {% elif type == 'renewal' %}

                        <a href="{% url 'renewal-step-3' %}"  type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Previous
                        </a>

                        {% else %}

                        <a href="{% url 'license-upgrade-step-3' %}"  type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Previous
                        </a>

                        {% endif %}
                    </div>
                    <div>
                        <!--                        <button type="button"-->
                        <!--                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4"-->
                        <!--                                data-wizard-type="action-submit">Submit-->
                        <!--                        </button>-->
                       
                        <button id="step4_submit" type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Next
                        </button>
                    </div>
                </div>
                <!--end: Wizard Actions-->
            </form>
        </div>
        <!--end: Wizard-->
    </div>
    <!--end: Wizard Form-->
</div>
<!--end: Wizard Body-->