<!--begin: Wizard Body-->
<div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
    <!--begin: Wizard Form-->
    <div class="row">
        <div class="offset-xxl-2 col-xxl-8">
            <form class="form" id="kt_form_step_3" method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                <!--begin: Wizard Step 3-->
                <div class="pb-5">
                    <h4 class="mb-10 font-weight-bold text-dark">C. Financial
                        Capacity and Status:</h4>

                    <!--begin::Input-->
                    <div class="form-group">
                        <label>1.&nbsp; Bank's information</label>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label>Name of the Bank:</label>

                                {{ form.name_of_the_banker }}
<!--                                <input-->
<!--                                        class="form-control form-control-solid form-control-lg"-->
<!--                                        type="text"/>-->
                            </div>
                            <div class="col-6 mb-3">
                                <label> Branch Address:</label>

                                {{ form.address }}
<!--                                <input-->
<!--                                        class="form-control form-control-solid form-control-lg"-->
<!--                                        type="text"/>-->
                            </div>
                            <div class="col-6 mb-3">
                                <label>Telephone:</label>

                                {{ form.telephone }}
<!--                                <input-->
<!--                                        class="form-control form-control-solid form-control-lg"-->
<!--                                        type="number"/>-->
                            </div>
                            <div class="col-6 mb-3">
                                <label>Fax:</label>

                                {{ form.fax }}
<!--                                <input-->
<!--                                        class="form-control form-control-solid form-control-lg"-->
<!--                                        type="number"/>-->
                            </div>
                            <div class="col-6 mb-3">
                                <label>Email:</label>

                                {{ form.email }}
<!--                                <input-->
<!--                                        class="form-control form-control-solid form-control-lg"-->
<!--                                        type="email"/>-->
                            </div>
                            <div class="col-6 mb-3">
                                <label>Contact name & title:</label>

                                {{ form.contact_name }}
<!--                                <input-->
<!--                                        class="form-control form-control-solid form-control-lg"-->
<!--                                        type="text"/>-->
                            </div>
                            <div class="col-12">
                                <label>Attach files:</label>
                                <!--begin::File Upload-->
                                <div class="input-group">
                                    <div class="custom-file custom-file-lg">
                                        {{ form.attached_file}}

<!--                                        <input type="file"-->
<!--                                               class="custom-file-input custom-file-input-lg"-->
<!--                                               id="inputGroupFile01"-->
<!--                                               aria-describedby="inputGroupFileAddon01">-->
                                        <label
                                                class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0"
                                                for="inputGroupFile01">
                                            {% if form.attached_file.value %}
                                            {{ form.attached_file.value }}
                                            {% else %}

                                            Banker's Certificate

                                            {% endif %}

                                        </label>
                                    </div>
                                </div>
                                <!--end::File Upload-->
                            </div>
                        </div>
                    </div>
                    <!--end::Input-->
                    <!--<div class="alert alert-primary" role="alert"></div>-->
                    <div class="alert alert-custom alert-outline-primary fade show mb-5 py-2"
                         role="alert">
                        <div class="alert-icon">
                            <i class="flaticon-info"></i>
                        </div>
                        <div class="alert-text">DWASA may contact the Banker to
                            verify the information.
                        </div>
                    </div>
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>2.&nbsp;An applicant shall provide financial information
                            for the last 3 (three) in the following
                            format:</label>
                        <!--begin::Table-->
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm nowrap">
                                <thead>
                                <tr class="text-center">
                                    <th scope="col">Information</th>
                                    <th scope="col">Year - 1</th>
                                    <th scope="col">Year - 2</th>
                                    <th scope="col">Year - 3</th>
                                    <th scope="col">Remarks</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row"
                                        class="font-weight-medium">(a) Total
                                        assets
                                    </th>
                                    <td>{{ form.year_1_total_assets }}</td>
                                    <td>{{ form.year_2_total_assets }}</td>
                                    <td>{{ form.year_3_total_assets }}</td>
                                    <td>{{ form.total_assets_remarks }}</td>
                                </tr>
                                <tr>
                                    <th scope="row"
                                        class="font-weight-medium">(b)
                                        Current assets
                                    </th>
                                    <td>
                                        {{ form.year_1_current_assets }}
                                    </td>
                                    <td> {{ form.year_2_current_assets }}
                                    </td>
                                    <td> {{ form.year_3_current_assets }}
                                    </td>
                                    <td>
                                        {{ form.total_current_remarks }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="font-weight-medium">(c) Total
                                        liabilities
                                    </th>
                                    <td>
                                        {{ form.year_1_total_liabilities }}
                                    </td>
                                    <td>{{ form.year_2_total_liabilities }}</td>
                                    <td>{{ form.year_3_total_liabilities }}</td>
                                    <td>{{ form.remarks_total_liabilities }}

                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"
                                        class="font-weight-medium">(d)
                                        Current liabilities
                                    </th>
                                    <td> {{ form.year_1_current_liabilities }}</td>
                                    <td>{{ form.year_2_current_liabilities }}</td>
                                    <td> {{ form.year_3_current_liabilities}}</td>
                                    <td> {{ form.remarks_current_liabilities }}</td>
                                </tr>
                                <tr>
                                    <th scope="row"
                                        class="font-weight-medium">(e)
                                        Profit before taxes
                                    </th>
                                    <td>
                                        {{ form.year_1_profit_before_tax }}
                                    </td>
                                    <td>
                                        {{ form.year_2_profit_before_tax }}
                                    </td>
                                    <td>
                                        {{ form.year_3_profit_before_tax}}
                                    </td>
                                    <td>
                                        {{ form.remarks_profit_before_tax }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"
                                        class="font-weight-medium">(f)
                                        Profit after taxes
                                    </th>
                                    <td>{{ form.year_1_profit_after_tax }}</td>
                                    <td>{{ form.year_2_profit_after_tax }}</td>
                                    <td>{{ form.year_3_profit_after_tax }}</td>
                                    <td>{{ form.remarks_profit_after_tax }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--end::Table-->
                    </div>
                    <!--end::Input-->
                    <!--begin::Input-->
                    <div class="form-group">
                        <label>3.&nbsp;The audited balance sheet for the last three (3)
                            years shall have to be submitted as per proforma
                            Annex-G.</label>

                        <div class="row align-items-center">

                            <div class="col-sm-2">
                                <button type="button"
                                        class="btn btn-primary font-weight-bold"
                                        data-toggle="modal" data-target="#balance_sheet_modal">Annex-G
                                </button>
                            </div>
                        </div>


                        <!-- Modal-->
                        <div class="modal fade" id="balance_sheet_modal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-primary" id="exampleModalLabel">Annex-G</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="font-weight-bold text-dark mb-10">Balance sheet
                                        </h4>
                                        <div class="form-group">
                                                          <div class="col-sm-10">
                                <!--begin::File Upload-->
                                <div class="input-group">
                                    <div class="custom-file custom-file-lg">

                                        {{ form.balance_sheet }}
<!--                                        <input type="file"-->
<!--                                               class="custom-file-input custom-file-input-lg"-->
<!--                                               id="inputGroupFile01"-->
<!--                                               aria-describedby="inputGroupFileAddon01">-->
                                        <label
                                                class="custom-file-label custom-file-label-solid custom-file-label-lg mb-0"
                                                for="inputGroupFile01">
                                            {% if form.balance_sheet.value %}
                                            {{ form.balance_sheet }}
                                            {% else %}

                                            Company Balance Sheet

                                            {% endif %}</label>
                                    </div>
                                </div>
                                <!--end::File Upload-->

                                <!--begin::File Upload-->
                                <div class="input-group mt-5">
                                <div class="col-1.5 mt-2 h5">Assets:</div>
                                    <div class="col-5">

<!--                                <input-->
<!--                                        class="form-control form-control-solid form-control-lg"-->
<!--                                        type="text"/>-->
                            </div>


                                </div>
                                <!--end::File Upload-->


                            </div>
                                        </div>
                                        <!--begin::Table-->


                                        <div class="table-responsive">
                                            <table class="table table-bordered table-sm nowrap">
                                                <thead>
                                                <tr class="text-center">
                                                    <th>Non current assets</th>
                                                    <th colspan="2">Amount(in taka)</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Fixed assets less accumulated
                                                    </th>
                                                    <td colspan="2">{{ balance_form.fixed_assets_less_accumulated }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Depreciation
                                                    </th>
                                                    <td colspan="2">{{ balance_form.depreciation }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Capital work in progress
                                                    </th>
                                                    <td colspan="2">{{ balance_form.capital_work }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Deferred expenditure
                                                    </th>
                                                    <td>{{ balance_form.deferred_expenditure_1 }}</td>
                                                    <td>{{ balance_form.deferred_expenditure_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Investment
                                                    </th>
                                                    <td>{{ balance_form.investment_1 }}</td>
                                                    <td>{{ balance_form.investment_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Drainage Maintenance
                                                    </th>
                                                    <td>{{ balance_form.drainage_maintenance_1 }}</td>
                                                    <td>{{ balance_form.drainage_maintenance_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Subtotal
                                                    </th>
                                                    <td>{{ balance_form.balance_subtotal_1 }}</td>
                                                    <td>{{ balance_form.balance_subtotal_2 }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--end::Table-->
                                        <h4 class="font-weight-bold text-dark py-5">Current assets
                                        </h4>
                                        <!--begin::Table-->
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-sm nowrap">
                                                <thead>
                                                <tr class="text-center">
                                                    <th>Current assets</th>
                                                    <th colspan="2">Amount(in taka)</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Investors
                                                    </th>
                                                    <td>{{ balance_form.investors_1 }}</td>
                                                    <td>{{ balance_form.investors_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Rates receivable
                                                    </th>
                                                    <td>{{ balance_form.rates_receivable_1 }}</td>
                                                    <td>{{ balance_form.rates_receivable_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Advances deposits
                                                    </th>
                                                    <td>{{ balance_form.advances_deposits_1 }}</td>
                                                    <td>{{ balance_form.advances_deposits_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Prepayments
                                                    </th>
                                                    <td>{{ balance_form.prepayments_1 }}</td>
                                                    <td>{{ balance_form.prepayments_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Cash and bank balance
                                                    </th>
                                                    <td>{{ balance_form.cash_bank_balance_1 }}</td>
                                                    <td>{{ balance_form.cash_bank_balance_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Subtotal
                                                    </th>
                                                    <td>{{ balance_form.current_subtotal_1 }}</td>
                                                    <td>{{ balance_form.current_subtotal_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Total assets
                                                    </th>
                                                    <td>{{ balance_form.current_total_assests_1 }}</td>
                                                    <td>{{ balance_form.current_total_assests_2 }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--end::Table-->


                                        <h4 class="font-weight-bold text-dark py-5">Equity &
                                            liabilities</h4>
                                        <!--begin::Table-->
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-sm nowrap">
                                                <thead>
                                                <tr class="text-center">
                                                    <th>Capital & reserves</th>
                                                    <th colspan="2">Amount(in taka)</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Capital fund
                                                    </th>
                                                    <td>{{ balance_form.capital_fund_1 }}</td>
                                                    <td>{{ balance_form.capital_fund_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Grants and other funds
                                                    </th>
                                                    <td>{{ balance_form.other_fund_1 }}</td>
                                                    <td>{{ balance_form.other_fund_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Surplus on revaluation of assets
                                                    </th>
                                                    <td>{{ balance_form.revaluation_of_assets_1 }}</td>
                                                    <td>{{ balance_form.revaluation_of_assets_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Retained earnings
                                                    </th>
                                                    <td>
                                                        {{ balance_form.retained_earnings_1 }}

                                                    </td>
                                                    <td>{{ balance_form.retained_earnings_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Subtotal
                                                    </th>
                                                    <td>{{ balance_form.equity_subtotal_1 }}</td>
                                                    <td>{{ balance_form.equity_subtotal_2 }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--end::Table-->


                                        <h4 class="font-weight-bold text-dark py-5">Non-current
                                            liabilities</h4>
                                        <!--begin::Table-->
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-sm nowrap">
                                                <thead>
                                                <tr class="text-center">
                                                    <th>Long term Liabilities</th>
                                                    <th colspan="2">Amount(in taka)</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Liabilities for other finance
                                                    </th>
                                                    <td>{{ balance_form.liabilities_for_other_finance_1 }}</td>
                                                    <td>{{ balance_form.liabilities_for_other_finance_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Vat and tax payable
                                                    </th>
                                                    <td>{{ balance_form.vat_tax_payable_1 }}</td>
                                                    <td>{{ balance_form.vat_tax_payable_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Subtotal
                                                    </th>
                                                    <td>{{ balance_form.non_current_subtotal_1 }}</td>
                                                    <td>{{ balance_form.non_current_subtotal_2 }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="font-weight-medium">
                                                        Total equity & liabilities
                                                    </th>
                                                    <td>{{ balance_form.total_equity_1 }}</td>
                                                    <td>{{ balance_form.total_equity_2 }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--end::Table-->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold"
                                                data-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--end::Input-->
                </div>
                <!--end: Wizard Step 3-->
                <!--begin: Wizard Actions-->
                <div
                        class="d-flex justify-content-between border-top mt-5 pt-10">
                    <div class="mr-2">
                        {% comment %} <a href="wizard-step-02.html"
                           class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4"
                           data-wizard-type="action-prev">Previous</a>
                       {% endcomment %}

                        {% if type == 'enrollment' %}

                        <a href="{% url 'enrollment-step-2' %}"  type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Previous
                        </a>
                        {% elif type == 'renewal' %}

                        <a href="{% url 'renewal-step-2' %}"  type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Previous
                        </a>

                        {% else %}

                        <a href="{% url 'license-upgrade-step-2' %}"  type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Previous
                        </a>

                        {% endif %}


                    </div>
                    <div>
                        
                        <button id="step3_submit" type="button"
                                class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Next
                        </button>
<!--                        <a href="wizard-step-04.html"-->
<!--                           class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4"-->
<!--                           data-wizard-type="action-next">Next</a>-->
                    </div>
                </div>
                <!--end: Wizard Actions-->
            </form>
        </div>
        <!--end: Wizard-->
    </div>
    <!--end: Wizard Form-->
</div>
<!--end: Wizard Body-->