{% extends 'frontend/base.html' %}

{% block navbar_wizard %}
{% include 'snippets/custom-navbar-wizard.html' %}
{% endblock navbar_wizard %}

{% block content %}
<!--<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>-->

<div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
    <h3>License List:</h3>
    <hr>
    <div class="table-responsive">




    <table id="example" class="table  table-bordered">
        <thead>
            <tr>
                <th>SL</th>
                <th>Chalan Type</th>
                <th>Issue Date</th>
                <th>Last Submission</th>
                <th>Payment</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>

         {% for chalan in ChalanList %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ chalan.contractor.applied_for }}</td>
                <td>{{ chalan.issue_date.date }}</td>
                <td>{{ chalan.last_submission_date.date }}</td>
                  {% if  chalan.contractor.layer.chalan_payment %}
               <td style="text-align:center">

                  <span class="tag label label-warning" style="width:60px;border-radius:0px;font-weight:bold;padding:5px;">PAID</span>
               </td>

                {% else %}

  <td style="text-align:center">
                 <span class="tag label label-warning" style="width:60px;border-radius:0px;font-weight:bold;padding:5px;">
                                        UNPAID
                                     </span>
                   {% endif %}
                </td>

                <td><a href="{% url 'contractor_license' chalan.id %}">View</a></td>

            </tr>
        {% endfor %}

        </tbody>

    </table>





    </div>

    </div>


{% endblock content %}

{% block extra_script %}
<script>
             $("#users").addClass("mm-active");
             $("#role-list").addClass("mm-active");
             $('#chalan').addClass('active');
             $(document).ready(function() {
             $('#naimvai').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
              });
            });

            $('#download').addClass('active');

</script>

{% endblock extra_script %}