<div id="class_upgradation">

                            <div class="row">
                       <div class="col-md-8">স্মারক  নং- 46.113.212.00.00.22.<span class="license_issue_memorandum_no"></span></div>
                       <div class="col-md-4">তারিখঃ <span class="license_issue_issue_date"></span> </div>
                    </div>

                    <div class="row">
                       <div class="col-md-12 mt-2">বিষয়ঃ তালিকাভুক্ত ঠিকাদারী লাইসেন্স শ্রেণী উন্নতিকরণ প্রসঙ্গে ।</div>
                       <div class="col-md-12 mt-5">
                       আপনার / আপনাদের ফার্মের নাম <span class="license_issue_fiscal_year"></span> সালের জন্য ঢাকা ওয়াসার অধীনে সিভিল গ্রুপের <span class="license_issue_class_type" class="fw-bold"></span> শ্রেণীতে উত্তীর্ণ করার সিদ্ধান্ত গৃহীত হয়েছে । আপনার / আপনাদের ফার্মের তালিকাভুক্তি ফি বাবদ <span class="license_issue_fee"></span> টাকা  (অফেরৎযোগ্য) ঢাকা ওয়াসার হিসাব বিভাগে ১৩ তলা সর্বশেষ <span class="license_issue_last_submission"></span> তারিখের মধ্যে অস্ত্র চালান ফরম এর মাধ্যমে জমা দেওয়ার জন্য অনুরোধ করা হলো ।  নির্ধারিত সময়ের মধ্যে তালিকাভুক্তি  ফি পরিশোধ করতে ব্যর্থ হলে আপনার এ তালিকাভুক্তি বাতিল বলে গণ্য হবে এবং এ বিষয়ে পরবর্তী কোন আবেদন বিবেচনা করা হবে না ।  উল্লেখ্য থাকে যে ঢাকা ওয়াসা তালিকাভুক্ত ঠিকাদারী প্রতিষ্ঠান e-GP ( ই-টেন্ডারিং)  এর আওতায় দরপত্রে অংশগ্রহণের জন্য CPTU তে রেজিস্ট্রেশন করা বাঞ্ছনীয় ।
                       
                       </div>

                       <div class="col-md-12 mt-5">
                       উল্লেখ্য যে লাইসেন্স ইস্যু করার নিমিত্ত চালানের মাধ্যমে হিসাব বিভাগে জমাকৃত টাকার  মূল রশিদ এবং হিসাব বিভাগ,  ক্যাশ শাখা হতে  নগদ ১৫০ /- (একশত পঞ্চাশ) টাকা মূল্যে লাইসেন্স বহি ক্রয়   করতঃ রশিদসহ চলতি সালের ট্রেড লাইসেন্স  (মূল কপি),  ভ্যাট রেজিস্ট্রেশন সার্টিফিকেট মূল কপি,  টি.আই.এন সার্টিফিকেট মূল কপি,  ব্যাংক সলভেন্সি সার্টিফিকেট মূল কপি,  স্ট্যাম্প সাইজ 2(দুই) কপি ছবি সহ অফিসে দাখিল করতে হবে  । মূল কপি যাচাইয়ান্তে তাৎক্ষণিকভাবে ফেরত দেওয়া হবে। আপনার আপনাদের উক্ত তারিখের মধ্যে লাইসেন্স ফি গ্রহণ করার অনুরোধ করা হল।
                       
                       </div>
                       
                    </div>

                    <div class="row">
                      <div class="col-md-9">&nbsp;</div>
                      <div class="col-md-3 mt-4">
                          <div class="row">
                            <div class="col-md-12">ব্যবস্থাপনা পরিচালক এর অনুমোদনক্রমে</div>
                            <div class="col-md-12"> <img src="{{ authorized_person.signature.url }}" id="auth-signature-for-upgradation" width="150" height="150"> </div>
                            <div class="col-md-12">  {{ authorized_person.name }}</div>
                            <div class="col-md-12">উপ-সচিব ( চ:  দা:)</div>
                            <div class="col-md-12">প্রশাসন বিভাগ - ২
                            <p>ঢাকা ওয়াসা |</p>
                            <span>ও</span>
                            <span>সদস্য-সচিব, এনলিস্টমেন্ট কমিটি |</span>
                            <span>ফোন  নং - ৯১৩৩৬০৬</span>

                            
                            </div>
                          </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-12">অনুলিপি:</div>
                    </div>

</div>