{% load static %}
<div id="license_renewal">

                            <div class="row">
                                <div class="col-md-8">স্মারক  নং - <span id="memorandum_no"></span></div>
                                <div class="col-md-4">তারিখঃ <span id="issue_date"></span> </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-2"><span id="address"></span></div>
                        <div class="col-md-12 mt-2"><span id="contractor_name"></span></div>

                        <div class="col-md-12 mt-2"><span id="address9">Adress</span></div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 mt-2">বিষয়ঃ <span id="fiscal_year"></span> সালের জন্য ঠিকাদারী লাইসেন্স নবায়ন ফি পরিশোধ করণ প্রসঙ্গে |</div>
                       <div class="col-md-12 mt-5">
                           ঢাকা ওয়াসার অধীনে আপনার <span id="class_type" class="fw-bold"></span> শ্রেণীর সিভিল গ্রুপের ঠিকাদারী লাইসেন্স নং <span id="license_no"></span>  এর <span id="previous_year"></span> সালের নবায়নের জন্য নবায়ন ফি বাবদ <span id="fee"></span> টাকা |  এছাড়া <span id="not_renewal_fiscal_year"></span> অর্থবছরের জন্য ( প্রতি বছরের জন্য) <span id="fine_rate"></span> % হারে জরিমানা বাবদ <span id="total_fine"></span> টাকা সর্বমোট  <span id="total_taka"></span>   টাকা  অফেরৎযোগ্য নগদে ঢাকা ওয়াসার হিসাব বিভাগে  ১৩ম তালা সর্বশেষ <span id="last_submission"></span> তারিখের মধ্যে অস্ত্র চালান ফরম এর মাধ্যমে জমা দেওয়ার জন্য অনুরোধ করা হলো |  এছাড়া প্রত্যেক প্রতিষ্ঠানকে তাদের  ডিমান্ডনোটের মূল টাকা নির্ধারিত ১৫%  হারে ভ্যাট ট্রেজারী চালানের মাধ্যমে বাংলাদেশ ব্যাংক অথবা সোনালী ব্যাংকের যে কোন শাখায়--------------------- পরিশোধ পূর্বক চালানের মূলকপি অত্র দপ্তরে জমা প্রদান করতে হবে |  এছাড়া অস্ত্র চালানের টাকা জমাদানের 15 দিনের মধ্যে লাইসেন্স নবায়ন করতে অনুরোধ করা হল |  উল্লেখ থাকে যে,  ঢাকা ওয়াসা তালিকাভুক্ত ঠিকাদারি প্রতিষ্ঠান অনুকূলে e-GP ( ই-টেন্ডারিং)  এর আওতায় দরপত্রে অংশগ্রহণের জন্য CPTU তে রেজিস্ট্রেশন করা বাঞ্ছনীয় |
                       
                       </div>

                       <div class="col-md-12 mt-5">
                       লাইসেন্স নবায়নের প্রাক্কালে আপনার লাইসেন্স  বহি,  ২০১৮-১৯ অর্থ  বছরের নবায়নকৃত ট্রেড লাইসেন্স,  ভ্যাট রেজিস্ট্রেশন সার্টিফিকেট, টি.আই.এন সার্টিফিকেট, (২০১৮-১৯ অর্থ  বছরের)  এর মূল    কপিসহ  জমাকৃত  টাকার চালান অত্র অফিসের দাখিল করার জন্য অনুরোধ করা হলো |  মূল কপি যাচাইয়ান্তে তাৎক্ষণিকভাবে ফেরত দেওয়া হবে | 
                       
                       </div>
                       
                    </div>

                    <div class="row">
                      <div class="col-md-9">&nbsp;</div>
                      <div class="col-md-3 mt-4">
                          <div class="row">
                            <div class="col-md-12">ব্যবস্থাপনা পরিচালক এর অনুমোদনক্রমে</div>
                             <div class="col-md-12"> <img src="{{ authorized_person.signature.url }}" id="auth-signature-for-renewal" width="150" height="150">  </div>
                            <div class="col-md-12">  {{ authorized_person.name }}</div>
                            <div class="col-md-12">উপ-সচিব ( চ:  দা:)</div>
                            <div class="col-md-12">প্রশাসন বিভাগ - ২
                            <p>ঢাকা ওয়াসা |</p>
                            <span>ও</span>
                            <span>সদস্য-সচিব, এনলিস্টমেন্ট কমিটি |</span>
                            <span>ফোন  নং - ৯১৩৩৬০৬</span>

                            
                            </div>
                          </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-12">অনুলিপি:</div>
                    </div>

</div>