{% extends 'base.html' %}
{% load static %}


{% block content %}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div class="body-content px-3 py-3">
    <div class="text-right">
        <center> <button class="btn btn-success btn-sm mr-1" id="btnPrint"><i class="fas fa-print mr-1"></i>Print</button></center>
                    </div>
<div id="license_renewal" class="dvContainer">

                            <div style="background-color: #e8e8e8;height: 200vh;padding: 30px;">
      <div style="max-width: 720px;margin-right: auto;margin-left: auto;background-color: #fff;padding: 50px;">
        <div style="margin-bottom: 20px; display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;justify-content: center;">
            <div style="-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;position: relative;width: 100%;text-align: center;">
                <h1 style="font-size: 19px;font-weight: 500;margin-bottom: 0;">ঢাকা
                    পানি সরবরাহ ও পয়ঃনিষ্কাশন কর্তৃপক্ষ </h1>
                <div style="font-size: 17px;font-weight: 500;margin-bottom: 10px;">ব্যবস্থাপনা
                    পরিচালকের কার্যালয় </div>
                <p style="font-size: 13px;margin-bottom: 0;color: #9a9a9a;"> ওয়াসা ভবন, ৯৮,কাজী
                    নজরুল ইসলাম
                    এভিনিউ<br>
                    কাওরান বাজার, ঢাকা-১২১৫. </p>
                <div>Website: <span style="text-decoration: underline;">www.dwasa.org.com.bd</span></div>
            </div>
        </div>
<!--        <div style="margin-bottom: 30px;font-size: 14px;display: flex;justify-content: space-between;">-->
<!--            <div>স্মারক নং - ৪৬.১১৩.২১২.০০.০০.০২২.২০১১/২০৪/ প্রঃ -২</div>-->
<!--            <div>তারিখ: ২৮/০৫/২০২১</div>-->
<!--        </div>-->
<!--        <div style="font-size: 14px;">-->
<!--           অ্যাডভান্স সফটওয়্যার  লিমিটেড<br>-->
<!--           প্রো:  মোঃ আব্দুল জলিল <br>-->
<!--           ঠিকানা:-->
<!--        </div>-->

           <div class="row">
                                <div class="col-md-8">স্মারক  নং -  <span id="memorandum_no">{{  contractor_chalan.memorandum_no }}</span></div>
                                <div class="col-md-4">তারিখঃ <span id="issue_date">{{  contractor_chalan.issue_date }}</span> </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-2"><span id="address">{{  contractor_chalan.contractor.address }}</span></div>
                        <div class="col-md-12 mt-2"><span id="contractor_name">{{  contractor_chalan.contractor.contractor_name }}</span></div>

                        <div class="col-md-12 mt-2"><span id="address9">Adress</span></div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 mt-2">বিষয়ঃ <span id="fiscal_year">{{  contractor_chalan.fiscal_year }}</span> সালের জন্য ঠিকাদারী লাইসেন্স নবায়ন ফি পরিশোধ করণ প্রসঙ্গে |</div>
                       <div class="col-md-12 mt-5">
                           ঢাকা ওয়াসার অধীনে আপনার <span id="class_type" class="fw-bold">{% if contractor_chalan.class_type == 'first_class' %}১ম {% elif contractor_chalan.class_type == 'second_class' %}২য়{% else %} ৩য়{% endif %}</span> শ্রেণীর সিভিল গ্রুপের ঠিকাদারী লাইসেন্স নং <span id="license_no">{{  contractor_chalan.fiscal_year }}</span>  এর ২০১৯-২০২০ সালের নবায়নের জন্য নবায়ন ফি বাবদ <span id="fee">{{  contractor_chalan.fee }}</span> টাকা |  এছাড়া <span id="not_renewal_fiscal_year">{{  contractor_chalan.not_renewal_fiscal_year }}</span> অর্থবছরের জন্য ( প্রতি বছরের জন্য) <span id="fine_rate">{{  contractor_chalan.fine_rate }}</span> % হারে জরিমানা বাবদ <span id="total_fine">{{  contractor_chalan.total_fine }}</span> টাকা সর্বমোট  <span id="total_taka">{{  contractor_chalan.total_taka }}</span>   টাকা  অফেরৎযোগ্য নগদে ঢাকা ওয়াসার হিসাব বিভাগে  ১৩ম তালা সর্বশেষ <span id="last_submission">{{  contractor_chalan.last_submission_date }}</span> তারিখের মধ্যে অস্ত্র চালান ফরম এর মাধ্যমে জমা দেওয়ার জন্য অনুরোধ করা হলো |  এছাড়া প্রত্যেক প্রতিষ্ঠানকে তাদের  ডিমান্ডনোটের মূল টাকা নির্ধারিত ১৫%  হারে ভ্যাট ট্রেজারী চালানের মাধ্যমে বাংলাদেশ ব্যাংক অথবা সোনালী ব্যাংকের যে কোন শাখায়--------------------- পরিশোধ পূর্বক চালানের মূলকপি অত্র দপ্তরে জমা প্রদান করতে হবে |  এছাড়া অস্ত্র চালানের টাকা জমাদানের 15 দিনের মধ্যে লাইসেন্স নবায়ন করতে অনুরোধ করা হল |  উল্লেখ থাকে যে,  ঢাকা ওয়াসা তালিকাভুক্ত ঠিকাদারি প্রতিষ্ঠান অনুকূলে e-GP ( ই-টেন্ডারিং)  এর আওতায় দরপত্রে অংশগ্রহণের জন্য CPTU তে রেজিস্ট্রেশন করা বাঞ্ছনীয় |

                       </div>

                       <div class="col-md-12 mt-5">
                       লাইসেন্স নবায়নের প্রাক্কালে আপনার লাইসেন্স  বহি,  ২০১৮-১৯ অর্থ  বছরের নবায়নকৃত ট্রেড লাইসেন্স,  ভ্যাট রেজিস্ট্রেশন সার্টিফিকেট, টি.আই.এন সার্টিফিকেট, (২০১৮-১৯ অর্থ  বছরের)  এর মূল    কপিসহ  জমাকৃত  টাকার চালান অত্র অফিসের দাখিল করার জন্য অনুরোধ করা হলো |  মূল কপি যাচাইয়ান্তে তাৎক্ষণিকভাবে ফেরত দেওয়া হবে |

                       </div>

                    </div>

                    <div class="row">
                      <div class="col-md-9">&nbsp;</div>
                      <div class="col-md-3 mt-4">
                          <div class="row">
                            <div class="col-md-12">ব্যবস্থাপনা পরিচালক এর অনুমোদনক্রমে</div>
                             <div class="col-md-12"> <img src="{{ authorized_person.signature.url }}" width="150" height="150">  </div>
                            <div class="col-md-12">  {{ authorized_person.name }}</div>
                            <div class="col-md-12">উপ-সচিব ( চ:  দা:)</div>
                            <div class="col-md-12">প্রশাসন বিভাগ - ২
                            <p>ঢাকা ওয়াসা |</p>
                            <span>ও</span>
                            <span>সদস্য-সচিব, এনলিস্টমেন্ট কমিটি |</span>
                            <span>ফোন  নং - ৯১৩৩৬০৬</span>


                            </div>
                          </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-12">অনুলিপি:</div>
                    </div>




      </div>
    </div>





</div>
</div>



{% endblock content %}

{% block custom_js %}

<script>
    $("#btnPrint").on("click", function () {
            var divContents = $(".dvContainer").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>DIV Contents</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
</script>

 {% endblock custom_js %}