{% load static %}
<link rel="shortcut icon" href="assets/dist/img/favicon.png">
        <!--Global Styles(used by all pages)-->
<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!--<link href="assets/plugins/bootstrap/css/rtl/bootstrap-rtl.min.css" rel="stylesheet">-->
<link href="{% static 'assets/plugins/metisMenu/metisMenu.css' %}" rel="stylesheet">
        <!--<link href="assets/plugins/metisMenu/metisMenu-rtl.css" rel="stylesheet" type="text/css"/>-->
<link href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/typicons/src/typicons.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/themify-icons/themify-icons.min.css' %}" rel="stylesheet">
<!--<link href="{% static 'assets/plugins/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet">-->


        <!-- Datatables all css -->

<link href="{% static 'assets/plugins/datatables/dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/datatables/responsive.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/datatables/buttons.bootstrap4.min.css' %}" rel="stylesheet">
        <!--Third party Styles(used by this page)-->

        <!--Start Your Custom Style Now-->
<link href="{% static 'assets/dist/css/style.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/dist/css/custom.css' %}" rel="stylesheet">

<link href="{% static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/select2-bootstrap4/dist/select2-bootstrap4.min.css' %}" rel="stylesheet">


<link href="{% static 'css/style.css' %}" rel="stylesheet">
<!--tagsinput css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/>
<link rel="shortcut icon" href="{% static 'frontend/assets/css/dataTables.checkboxes.css' %}"/>