 {% load static %}

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>-->

 <!--Global script(used by all pages)-->
 <script src="{% static 'assets/plugins/jQuery/jquery.min.js' %}"></script>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

<!-- <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>-->
 <script src="{% static 'assets/plugins/metisMenu/metisMenu.min.js' %}"></script>
 <script src="{% static 'assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
 <!-- Third Party Scripts(used by this page)-->
 <script src="{% static 'assets/plugins/chartJs/Chart.min.js' %}"></script>
 <script src="{% static 'assets/plugins/sparkline/sparkline.min.js' %}"></script>


 <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
 <script src="{% static 'assets/plugins/qrcode/qrcode.js' %}"></script>
 <script src="{% static 'assets/plugins/qrcode/qrcode.min.js' %}"></script>


  <!-- Datatables js file -->
 <script src="{% static 'assets/plugins/datatables/dataTables.min.js' %}"></script>
 <script src="{% static 'assets/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
 <script src="{% static 'assets/plugins/datatables/dataTables.responsive.min.js' %}"></script>
 <script src="{% static 'assets/plugins/datatables/responsive.bootstrap4.min.js' %}"></script>
 <script src="{% static 'assets/plugins/datatables/dataTables.buttons.min.js' %}"></script>
 <script src="{% static 'assets/plugins/datatables/buttons.bootstrap4.min.js' %}"></script>
 <script src="{% static 'assets/plugins/datatables/jszip.min.js' %}"></script>
 <script src="{% static 'assets/plugins/datatables/pdfmake.min.js' %}"></script>
 <script src="{% static 'assets/plugins/datatables/vfs_fonts.js' %}"></script>
 <script src="{% static 'assets/plugins/datatables/buttons.html5.min.js' %}"></script>
 <script src="{% static 'assets/plugins/datatables/buttons.print.min.js' %}"></script>
 <script src="{% static 'assets/plugins/datatables/data-bootstrap4.active.js' %}"></script>


 <script src="{% static 'assets/plugins/jQuery-slimScroll-1.3.8/jquery.slimscroll.js' %}"></script>
 <script src="{% static 'assets/plugins/jQuery-slimScroll-1.3.8/jquery.slimscroll.min.js' %}"></script>




 <!--Page Active Scripts(used by this page)-->
<!-- <script src="{% static 'assets/dist/js/pages/dashboard.js' %}"></script>-->
 <!--Page Scripts(used by all page)-->
 <script src="{% static 'assets/dist/js/sidebar.js' %}"></script>

 <script src="{% static 'assets/plugins/bootstrap-wizard/form.scripts.js' %}"></script>

 <script src="{% static 'assets/plugins/select2/dist/js/select2.min.js' %}"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>-->

<!-- tagsinput js-->

 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-angular.min.js"></script>

 <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

  <script src="{% static 'js/custom.js' %}"></script>
 <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
 <script src="{% static 'frontend/assets/js/dataTables.checkboxes.min.js' %}"></script>