{% extends 'base.html' %}

{% block content %}

<div class="body-content px-3 py-3">
    <div class="row">
        <div class="col-md-7 col-lg-7">
            <h3>Contractor List Forward:</h3>

            <hr>
            <br>

            <form id="frm-example" method="POST" action="/backend/send-application-list/">

                <table id="contractor_list" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Firm Name</th>
                        <th>Contractor Name</th>
                        <th>Phone</th>
                        <th>Tracking No.</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for application in application %}
                    <tr>
                        <td>{{ application.id }}</td>
                        <td>{{ application.contractor.contractor_name }}</td>
                        <td>{{ application.contractor.proprietor_name }}</td>
                        <td>{{ application.contractor.user.phone }}</td>
                        <td>{{ application.contractor.layer.tracking_id }}</td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </form>

        </div>
        <div class="col-md-5 col-lg-5">
            <div class="card">
                <div class="card-header py-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="fs-17 font-weight-600 mb-0">Send Application To User</h6>
                        </div>
                        <!--                        <div class="text-right">-->
                        <!--                            <a href=""-->
                        <!--                               class="btn btn-success btn-sm mr-1"><i class="fas fa-align-justify mr-1"></i>User Role-->
                        <!--                                Lists</a>-->
                        <!--                        </div>-->
                    </div>
                </div>


                {% include 'snippets/assign_role_form.html' %}


            </div>
        </div>

    </div>
</div>

{% endblock %}


{% block custom_js %}
<script>

    $("#users").addClass("mm-active");
    $("#send-application-list").addClass("mm-active");
     $(document).ready(function() {
        $('.select2').select2({
            theme: "classic"
        });
    });
    $(document).ready(function(){
        $(".placeholder-multiple").select2({
            theme: "classic",
            placeholder: "Select a Layer User"
        });

    });

 $(document).ready(function() {
   var table = $('#contractor_list').DataTable({
      'columnDefs': [
         {
            'targets': 0,
            'checkboxes': {
               'selectRow': true
            }
         }
      ],
      'select': {
         'style': 'multi'
      },
      'order': [[1, 'asc']]
   });

   // Handle form submission event
   $('#forward_application_btn').on('click', function(e){
      e.preventDefault();
      var form = $('#frm-example');

      var rows_selected = table.column(0).checkboxes.selected();


      // Iterate over all selected checkboxes
      $.each(rows_selected, function(index, rowId){
         // Create a hidden element
         $(form).append(
             $('<input>')
                .attr('type', 'hidden')
                .attr('name', 'selected_rows[]')
                .val(rowId)
         );
      });

      selected_rows = $(form).serialize();
      selected_rows_id = rows_selected.join("");
       $('#send_application').append(
             $('<input>')
                .attr('type', 'hidden')
                .attr('name', 'selected_rows')
                .val(selected_rows_id)
         );

           $('#send_application').submit();

   });





});



</script>
{% endblock %}