{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
        <meta name="author" content="Bdtask">
        <title>Admin Deshboard</title>
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/dist/img/favicon.png">
        <!--Global Styles(used by all pages)-->
        <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!--<link href="assets/plugins/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet">-->
        <link href="{% static 'assets/plugins/metisMenu/metisMenu.css' %}" rel="stylesheet">
        <!--<link href="assets/plugins/metisMenu/metisMenu-rtl.css" rel="stylesheet">-->
        <link href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/plugins/typicons/src/typicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/plugins/themify-icons/themify-icons.min.css' %} " rel="stylesheet">
        <!--Third party Styles(used by this page)-->

        <!--Start Your Custom Style Now-->
        <link href="{% static 'assets/dist/css/style.css' %}" rel="stylesheet">
        <!--<link href="assets/dist/css/style.rtl.css" rel="stylesheet">-->
    </head>
    <body>
        {% block login %}
        {% endblock login %}
        <!-- /.End of form wrapper -->
        <!--Global script(used by all pages)-->
        <script src="{% static 'assets/plugins/jQuery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/plugins/metisMenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
        <!-- Third Party Scripts(used by this page)-->

        <!--Page Active Scripts(used by this page)-->

        <!--Page Scripts(used by all page)-->
        <script src="{% static 'assets/dist/js/sidebar.js' %}"></script>
    </body>
</html>