{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="card">
  <h5 class="card-header">Edit Role</h5>
  <div class="card-body">
    <div class="row">




      <form action="{% url 'edit-role' group_details.role_id %}" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="form-group row pb-2">
          <label for="inputRole" class="col-sm-2 col-form-label">Role Name*</label>
          <div class="col-sm-10">
            <input type="text" name="role" class="form-control" id="inputRole" placeholder="Role Name" required
              value="{{group_details.group_name}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" name="description" id="inputDescription" rows="3"
              placeholder="Role Description">{{group_details.group_desc}}</textarea>
          </div>
        </div>

        {% for modules in model_info %}
        <h4 class="mt-5">{{modules.module_name}}</h4>
        <table class="table table-bordered table-hover" style="text-align: center; vertical-align: middle;">
          <thead>
            <tr>
              <th scope="col">SL</th>
              <th scope="col">Table Name</th>
              <th scope="col">Can Add</th>
              <th scope="col">Can Edit</th>
              <th scope="col">Can View</th>
              <th scope="col">Can Delete</th>
            </tr>
          </thead>

          {% for model in modules.permission_info %}
          <tbody>
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{model.name}}</td>
              <td>

                {% with modules.module_name|add:".add_"|add:model.name|lower as template %}
                {% if template in all_perms %}
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="permission_type"
                    id="{{modules.module_name}}_{{model.name}}_can_add"
                    value="{{modules.module_name}}_{{model.name}}_can_add" {% if model.can_add %} checked{% endif %}>
                  <label class="form-check-label" for="{{modules.module_name}}_{{model.name}}_1"></label>
                </div>

                {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with modules.module_name|add:".change_"|add:model.name|lower as template %}
                {% if template in all_perms %}
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="permission_type"
                    id="{{modules.module_name}}_{{model.name}}_can_edit"
                    value="{{modules.module_name}}_{{model.name}}_can_edit" {% if model.can_edit %} checked{% endif %}>
                  <label class="form-check-label" for="{{modules.module_name}}_{{model.name}}_2"></label>
                </div>
                {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with modules.module_name|add:".view_"|add:model.name|lower as template %}
                {% if template in all_perms %}
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="permission_type"
                    id="{{modules.module_name}}_{{model.name}}_can_view"
                    value="{{modules.module_name}}_{{model.name}}_can_view" {% if model.can_view %} checked{% endif %}>
                  <label class="form-check-label" for="{{modules.module_name}}_{{model.name}}_3"></label>
                </div>
                {% endif %}
                {% endwith %}
              </td>
              <td>
                {% with modules.module_name|add:".delete_"|add:model.name|lower as template %}
                {% if template in all_perms %}
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="permission_type"
                    id="{{modules.module_name}}_{{model.name}}_can_delete"
                    value="{{modules.module_name}}_{{model.name}}_can_delete" {% if model.can_delete %} checked
                    {%endif%}>
                  <label class="form-check-label" for="{{modules.module_name}}_{{model.name}}_4"></label>
                </div>
                {% endif %}
                {% endwith %}
              </td>

            </tr>

          </tbody>













<!--          <tbody>-->
<!--            <tr>-->
<!--              <th scope="row">{{ forloop.counter }}</th>-->
<!--              <td>{{model.name}}</td>-->
<!--              <td>-->
<!--                <div class="form-check form-check-inline">-->
<!--                  <input class="form-check-input" type="checkbox" name="permission_type"-->
<!--                    id="{{modules.module_name}}_{{model.name}}_can_add"-->
<!--                    value="{{modules.module_name}}_{{model.name}}_can_add" {% if model.can_add %} checked{% endif %}>-->
<!--                  <label class="form-check-label" for="{{modules.module_name}}_{{model.name}}_1"></label>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td>-->
<!--                <div class="form-check form-check-inline">-->
<!--                  <input class="form-check-input" type="checkbox" name="permission_type"-->
<!--                    id="{{modules.module_name}}_{{model.name}}_can_edit"-->
<!--                    value="{{modules.module_name}}_{{model.name}}_can_edit" {% if model.can_edit %} checked{% endif %}>-->
<!--                  <label class="form-check-label" for="{{modules.module_name}}_{{model.name}}_2"></label>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td>-->
<!--                <div class="form-check form-check-inline">-->
<!--                  <input class="form-check-input" type="checkbox" name="permission_type"-->
<!--                    id="{{modules.module_name}}_{{model.name}}_can_view"-->
<!--                    value="{{modules.module_name}}_{{model.name}}_can_view" {% if model.can_view %} checked{% endif %}>-->
<!--                  <label class="form-check-label" for="{{modules.module_name}}_{{model.name}}_3"></label>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td>-->
<!--                <div class="form-check form-check-inline">-->
<!--                  <input class="form-check-input" type="checkbox" name="permission_type"-->
<!--                    id="{{modules.module_name}}_{{model.name}}_can_delete"-->
<!--                    value="{{modules.module_name}}_{{model.name}}_can_delete" {% if model.can_delete %} checked-->
<!--                    {% endif %}>-->
<!--                  <label class="form-check-label" for="{{modules.module_name}}_{{model.name}}_4"></label>-->
<!--                </div>-->
<!--              </td>-->

<!--            </tr>-->

<!--          </tbody>-->

          {% endfor %}
        </table>
        {% endfor %}
        <div class="float-end">
          <a href="#" class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>

      </form>

    </div>
  </div>
</div>

{% endblock %}


{% block custom_js %}
<script>
             $("#users").addClass("mm-active");
             $("#role-list").addClass("mm-active");

</script>

{% endblock custom_js %}