{% extends 'accounts/base-login.html'%}
{% load static %}
{% block login %}


<div class="d-flex align-items-center justify-content-center text-center h-100vh">
    <div class="form-wrapper m-auto">
        <div class="form-container my-4">
            <!--                    <div class="register-logo text-center mb-4">-->
            <!--                        <img src="{% static 'assets/dist/img/logo.png' %}" alt="">-->
            <!--                    </div>-->
            <div class="panel">
                <div class="panel-header text-center mb-3">
                    <h3 class="fs-24">Dhaka WASA</h3>
                    <p class="text-muted text-center mb-0">Welcome to Dhaka WASA Admin Panel</p>
                </div>
                <!--                        <div class="d-grid gap-2">-->
                <!--                            <a class="btn linkedin-btn bg-white text-start font-weight-normal position-relative mb-3"  href="#">-->
                <!--                                <span>Sign up with LinkedIn</span>-->
                <!--                            </a>-->
                <!--                            <a class="btn google-btn bg-white text-start font-weight-normal position-relative mb-3" href="#">-->
                <!--                                <span>Sign up with Google</span>-->
                <!--                            </a>-->
                <!--                        </div>-->
                <!--                        <p class="text-muted text-center">We won't post anything without your permission and your personal details are kept private</p>-->
                <div class="divider fw-bold text-uppercase text-dark d-table text-center my-3"></div>
                <form class="register-form" method="POST">
                    {% csrf_token %}
                    <div class="text-danger"><b>{{ form.non_field_errors }}</b></div>
                    <div class="text-danger"><b> {{ form.field_errors }} </b></div>
                    {% for message in messages %}
                    <div class="text-danger"><b>{{message}}</b></div>
                    {% endfor %}


                    <div class="mb-3">
                        <!--                                <input type="username" class="form-control is-invalid" id="username" placeholder="Enter username" name="username">-->
                        {{ form.username }}
                        <div class="invalid-feedback text-start">Enter your username</div>
                    </div>
                    <div class="mb-3">
                        {{ form.password }}
                        <!--                                <input type="password" class="form-control" id="pass" placeholder="Password" name="password">-->
                    </div>
                    <div class="form-check mb-3 text-start">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Remember me next time
                        </label>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Sign in</button>
                </form>
            </div>
<!--            <div class="bottom-text text-center my-3">-->
<!--                Don't have an account? <a href="register.html" class="fw-medium">Sign Up</a><br>-->
<!--                Remind <a href="forget_password.html" class="fw-medium">Password</a>-->
<!--            </div>-->
        </div>
    </div>
</div>
{% endblock login %}