{% extends 'base.html' %}

{% block content %}
<div class="body-content px-3 py-3">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header py-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="fs-17 font-weight-600 mb-0">Add User</h6>
                        </div>
                        <div class="text-right">
                            <a href=""
                               class="btn btn-success btn-sm mr-1"><i class="fas fa-align-justify mr-1"></i>User
                                List</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    {% include 'snippets/forms.html' %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block custom_js %}
<script>
           $("#users").addClass("mm-active");
           $("#add-user").addClass("mm-active");

            $(document).ready(function() {
             $('.select2').select2({
                    theme: "classic"
                });
             });

</script>

{% endblock custom_js %}

























