{% extends 'base.html' %}


{% block content %}
<div class="body-content px-3 py-3">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header py-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="fs-17 font-weight-600 mb-0">Assign Role To User</h6>
                        </div>
                        <div class="text-right">
                            <a href=""
                               class="btn btn-success btn-sm mr-1"><i class="fas fa-align-justify mr-1"></i>User Role
                                Lists</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    {% include 'snippets/edit-assign-role-form.html' %}

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}


{% block custom_js %}
<script>

    $("#users").addClass("mm-active");
    $("#assign-role").addClass("mm-active");
    $(document).ready(function(){
        $(".placeholder-multiple").select2({
            placeholder: "Select a role"
        });

    });


</script>
{% endblock %}