{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-md-12">
        <div class="card ">
            <div class="card-header py-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="fs-17 font-weight-600 mb-0">User Role List</h6>
                    </div>

                    {% if request.user.is_admin %}
                    <div class="text-right">
                        <a href="{% url 'assign-role' %}"
                           class="btn btn-success btn-sm mr-1"><i class="fas fa-plus mr-1"></i>Assign a Role</a>
                    </div>
                    {% endif %}


                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                        </div>
                        <table class="table display table-bordered table-striped table-hover custom-table dataTable dtr-inline"
                               cellspacing="0" width="100%" id="roleList" role="grid"
                               style="width: 100%;">
                            <thead>
                            <tr role="row">
                                <th scope="col">SL</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Role Name</th>
<!--                                <th scope="col">Role Created By</th>-->

                                <th scope="col">Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                             {% if user.groups.all %}
                            <tr>

                                <th scope="row">{{ forloop.counter }}</th>
                                <td>

                                    {{ user.email }}
                                    {% if user.is_restaurant_owner %}
                                        <span class="tag label label-info"> Restaurant Owner's </span>
                                    {% endif %}
                                </td>

                                <td>
                                     {% for role in user.groups.all %}
                                    <span class="tag label label-info"> {{ role.name }} </span>

                                    {% endfor %}
                                </td>

<!--                                <td> {{ user.created_by }}</td>-->

                                <td style="text-align: center">
                                     {% if request.user.is_admin or not user.id == request.user.id %}

                                    <a href="{% url 'user-role-edit' user.id %}"
                                       class="btn btn-info btn-sm m-b-5 custom_btn mr-2" data-toggle="tooltip"
                                       data-placement="left"
                                       title="Update"><i class="ti-pencil-alt pl-1 pr-1" aria-hidden="true"></i></a>

                                </td>
                                 {% else %}
                                   <a href="{% url 'user-role-list' %}" style="margin-left:5px" title="view mode"
                                       class="btn btn-success-soft btn-sm me-1"><i class="far fa-eye"></i></a>

                                {% endif %}

                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block custom_js %}
<script>
             $("#users").addClass("mm-active");
             $("#user-role-list").addClass("mm-active");
             $(document).ready(function() {
             $('#roleList').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
              });
            });





</script>

{% endblock custom_js %}