{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-md-12">
        <div class="card ">
            <div class="card-header py-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="fs-17 font-weight-600 mb-0">User List</h6>
                    </div>

                    {% if request.user.is_admin %}
                    <div class="text-right">
                        <a href="{% url 'add-user' %}"
                           class="btn btn-success btn-sm mr-1"><i class="fas fa-plus mr-1"></i>Create User</a>
                    </div>
                    {% endif %}


                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                        </div>
                        <table class="table display table-bordered table-striped table-hover dataTable dtr-inline"
                               cellspacing="0" width="100%" id="roleList" role="grid"
                               style="width: 100%;">
                            <thead>
                               {% if request.user.is_admin %}
                            <tr role="row">
                                <th scope="col">SL</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Email</th>
                                <th scope="col">Admin</th>
                                <th>Roles</th>
                                <th scope="col">Action</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for user in users %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>

                                <td>{{ user.username }}</td>
                                <td>{{ user.department }}</td>
                                <td>{{ user.designation }}</td>
                                <td>{{ user.email }}</td>

                                <td>{{ user.is_admin }}</td>

                                <td>

                                    <span class="tag label label-info"> {{ user.roles }} </span>

                                </td>



                                <td style="text-align: center">
                                    {% if request.user.is_admin %}
                                    <a href="{% url 'edit-user' user.id %}"
                                       class="btn btn-info btn-sm m-b-5 custom_btn mr-2"
                                       data-toggle="tooltip" data-placement="left" title="Update"><i
                                            class="ti-pencil-alt pl-1 pr-1"
                                            aria-hidden="true"></i></a>
                                    <a href="{% url 'delete-user' user.id %}"
                                       class="btn btn-danger btn-sm m-b-5 custom_btn"
                                       data-toggle="tooltip" data-placement="right" title="Delete"><i
                                            class="ti-trash pl-1 pr-1"
                                            aria-hidden="true"></i></a>
                                    {% else %}
                                    <a href="#" style="margin-left:50px" title="view mode"
                                       class="btn btn-success-soft btn-sm me-1"><i class="far fa-eye"></i></a>
                                    {% endif %}
                                </td>


                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr role="row">
                                <th scope="col">SL</th>
                                <th scope="col">User Name</th>
                                <th scope="col">email</th>
                                <th>Roles</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>
                               {% for user in users %}

                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>

                                    {% for roles in user.groups.all %}
                                    <span class="tag label label-info"> {{ roles }} </span>
                                    {% endfor %}


                                </td>


                                <td style="text-align: center">
                                    <a href="{% url 'edit-user' user.id %}"
                                       class="btn btn-info btn-sm m-b-5 custom_btn mr-2"
                                       data-toggle="tooltip" data-placement="left" title="Update"><i
                                            class="ti-pencil-alt pl-1 pr-1"
                                            aria-hidden="true"></i></a>

                                    <a href="{% url 'delete-user' user.id %}"
                                       class="btn btn-danger btn-sm m-b-5 custom_btn"
                                       data-toggle="tooltip" data-placement="right" title="Delete"><i
                                            class="ti-trash pl-1 pr-1"
                                            aria-hidden="true"></i></a>

<!--                                    <a href="#"-->
<!--                                       class="btn btn-danger btn-sm m-b-5 custom_btn"-->
<!--                                       data-toggle="tooltip" data-placement="right" title="Delete"><i-->
<!--                                            class="ti-trash pl-1 pr-1"-->
<!--                                            aria-hidden="true"></i></a>-->
                                </td>


                            </tr>
                            {% endfor %}

                            {% endif %}


                            </tbody>
                        </table>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block custom_js %}
<script>
             $("#users").addClass("mm-active");
             $("#user-list").addClass("mm-active");
             $(document).ready(function() {
             $('#roleList').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
              });
            });




</script>

{% endblock custom_js %}