<!DOCTYPE html>

<head>
    <meta name="author" content="SSLCommerz">
    <title>Successful Transaction - SSLCommerz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="row" style="margin-top: 10%;">
        <div class="col-md-8 offset-md-2">

            <h2 class="text-center text-success">Congratulations! Your Transaction is Successful.</h2>
            <br>
            <table border="1" class="table table-striped">
                <thead class="thead-dark">
                <tr class="text-center">
                    <th colspan="2">Payment Details</th>
                </tr>
                </thead>

                <tr>
                    <td class="text-right">Tracking ID</td>
                    <td> {{ trans_obj.contractor.layer.tracking_id }}</td>
                </tr>

                <tr>
                    <td class="text-right">Transaction ID</td>
                    <td> {{ trans_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">Transaction Time</td>
                    <td>{{ trans_time }}</td>
                </tr>
                <tr>
                    <td class="text-right">Payment Method</td>
                    <td> {{ card_issuer }}</td>
                </tr>
                <tr>
                    <td class="text-right">Bank Transaction ID</td>
                    <td>{{ bank_tran_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">Amount</td>
                    <td> {{ amount }}</td>
                </tr>
            </table>

            <a class="btn-success p-3 float-right" href="{% url 'profile-page' %}">Back To Home</a>

            

        </div>
    </div>
</div>
</body>

