<div class="modal fade" id="Annex_F" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary"
                    id="exampleModalLabel">Annex-F</h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true"
                       class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="font-weight-bold text-dark mb-10">
                    Litigation
                    history of the applicant</h4>
                <!--begin: Repeater Nine-->
                <div id="kt_repeater_9">
                    <div class="form-group">
                        {{ annexf_form.management_form }}
                        <div id="form_set_annex_f">

                            {% for annex_f in annexf_form %}

                            {{ annex_f.id }}

                            <div class="form-group row align-items-center">
                                <div class="col-md-5 mb-3">
                                    <label>Year</label>

                                    {{ annex_f.year }}
                                    <!--                                    <input type="text" class="form-control form-control-solid"/>-->
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Award for or
                                        against the
                                        applicant</label>

                                    {{ annex_f.award }}
                                    <!--                                    <input type="email" class="form-control form-control-solid"/>-->
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Name of the
                                        client, course of
                                        litigation, and
                                        matter in
                                        dispute</label>

                                    {{ annex_f.course_of_litigation }}
                                    <!--                                    <input type="email" class="form-control form-control-solid"/>-->
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Disputed amount
                                        (In taka)</label>

                                    {{ annex_f.amount }}
                                    <!--                                    <input type="email"-->
                                    <!--                                           class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>
<!--                                <div class="col-md-5 mb-3">-->
<!--                                    <label>Action</label>-->
<!--                                    <div><a class="btn font-weight-bolder btn-light-danger annex_f_delete" data-id="{{ annex_f.id.value }}">-->
<!--                                        <i class="la la-trash-o"></i>Delete</a>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>

                            {% endfor %}

                            <div id="annex_f_empthy" style="display:none">
                                 <div class="form-group row align-items-center">
                                <div class="col-md-5 mb-3">
                                    <label>Year</label>

                                    {{ annexf_form.empty_form.year }}
                                    <!--                                    <input type="text" class="form-control form-control-solid"/>-->
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Award for or
                                        against the
                                        applicant</label>

                                    {{ annexf_form.empty_form.award }}
                                    <!--                                    <input type="email" class="form-control form-control-solid"/>-->
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Name of the
                                        client, course of
                                        litigation, and
                                        matter in
                                        dispute</label>

                                    {{ annexf_form.empty_form.course_of_litigation }}
                                    <!--                                    <input type="email" class="form-control form-control-solid"/>-->
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Disputed amount
                                        (In taka)</label>

                                    {{ annexf_form.empty_form.amount }}
                                    <!--                                    <input type="email"-->
                                    <!--                                           class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>Action</label>
                                    <div>
                                         <a class="btn font-weight-bolder btn-light-danger annex_f_delete" data-id="{{ annexf_form.empty_form.id.value }}">
                                             <i class="la la-trash-o"></i>Delete</a>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>


                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <a class="btn font-weight-bolder btn-light-primary annex_f_add">
                                <i class="la la-plus"></i>Add</a>
                        </div>
                    </div>
                </div>
                <!--end: Repeater Nine-->
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-light-primary font-weight-bold"
                        data-dismiss="modal">Close
                </button>
                <button type="button"
                        class="btn btn-primary font-weight-bold" data-dismiss="modal">Save
                </button>
            </div>
        </div>
    </div>
</div>