<div class="modal fade" id="aneex-e2"
     tabindex="-1" role="dialog"
     aria-labelledby="aneex-e2Label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="aneex-e2Label">
                    Modal Title</h5>
                <button type="button" data-dismiss="modal"
                        class="close close-btn"
                        aria-label="Close">
                    <i aria-hidden="true"
                       class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4
                        class="font-weight-bold text-dark mb-10">
                    C.V of
                    technical personnel</h4>
                <div class="row">
                    <div
                            class="col-md-6 mb-3">
                        <label>Name</label>
                        <input type="text"
                               class="form-control form-control-solid"/>
                    </div>
                    <div
                            class="col-md-6 mb-3">
                        <label>Position</label>
                        <input type="text"
                               class="form-control form-control-solid"/>
                    </div>
                    <div
                            class="col-md-12 mb-3">
                        <label>Father's
                            name</label>
                        <input type="text"
                               class="form-control form-control-solid"/>
                    </div>
                    <div
                            class="col-md-12 mb-3">
                        <label>Permanent
                            address
                        </label>
                        <div class="row">
                            <div
                                    class="col-sm-6 col-md-3 mb-3">
                                <label>Village</label>
                                <input
                                        type="text"
                                        class="form-control form-control-solid"/>
                            </div>
                            <div
                                    class="col-sm-6 col-md-3 mb-3">
                                <label>P.O</label>
                                <input
                                        type="text"
                                        class="form-control form-control-solid"/>
                            </div>
                            <div
                                    class="col-sm-6 col-md-3 mb-3">
                                <label>P.S</label>
                                <input
                                        type="text"
                                        class="form-control form-control-solid"/>
                            </div>
                            <div
                                    class="col-sm-6 col-md-3 mb-3">
                                <label>District</label>
                                <input
                                        type="text"
                                        class="form-control form-control-solid"/>
                            </div>
                        </div>
                    </div>
                    <div
                            class="col-md-6 mb-3">
                        <label>Date of
                            birth</label>
                        <input type="text"
                               class="form-control form-control-solid kt_datepicker_1"/>
                    </div>
                    <div
                            class="col-md-6 mb-3">
                        <label>Religion</label>
                        <input type="text"
                               class="form-control form-control-solid"/>
                    </div>
                    <div
                            class="col-md-6 mb-3">
                        <label>Nationality</label>
                        <input type="text"
                               class="form-control form-control-solid"/>
                    </div>
                    <div
                            class="col-md-6 mb-3">
                        <label>Marital
                            status</label>
                        <input type="text"
                               class="form-control form-control-solid"/>
                    </div>
                </div>
                <!--begin: Repeater Eight-->
                <div id="kt_repeater_8">
                    <div class="form-group">
                        <label>Academic
                            qualification</label>
                        <div
                                data-repeater-list="">
                            <div data-repeater-item=""
                                 class="form-group row align-items-center">
                                <div
                                        class="col-md-3 mb-3">
                                    <label>Examination</label>
                                    <input
                                            type="text"
                                            class="form-control form-control-solid"/>
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div
                                        class="col-md-5 mb-3">
                                    <label>Board/Univ.</label>
                                    <select
                                            class="form-control form-control-solid"
                                            id="exampleSelect1">
                                        <option>
                                            Dhaka
                                        </option>
                                        <option>
                                            Cumilla
                                        </option>
                                        <option>
                                            Rangpur
                                        </option>
                                    </select>
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div
                                        class="col-md-4 mb-3">
                                    <label>Passing
                                        Year</label>
                                    <select
                                            class="form-control form-control-solid"
                                            id="exampleSelect1">
                                        <option>
                                            2010
                                        </option>
                                        <option>
                                            2011
                                        </option>
                                        <option>
                                            2012
                                        </option>
                                        <option>
                                            2013
                                        </option>
                                        <option>
                                            2013
                                        </option>
                                    </select>
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div
                                        class="col-md-6 mb-3">
                                    <label>Class/Div./GPA</label>
                                    <input
                                            type="email"
                                            class="form-control form-control-solid"/>
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div
                                        class="col-md-3 mb-3">
                                    <label>Action</label>
                                    <div>
                                        <a
                                                class="btn font-weight-bolder btn-light-danger">
                                            <i
                                                    class="la la-trash-o"></i>Delete</a>
                                    </div>
                                </div>
                                <div
                                        class="col-sm-12">
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                            class="form-group row">
                        <div
                                class="col-lg-4">
                            <a href="javascript:;"
                               data-repeater-create=""
                               class="btn font-weight-bolder btn-light-primary">
                                <i
                                        class="la la-plus"></i>Add</a>
                        </div>
                    </div>
                </div>
                <!--end: Repeater Eight-->
                <div class="mb-3">
                    <label>Description of
                        experiences:</label>
                    <textarea
                            class="form-control form-control-solid form-control-lg kt_autosize_1"
                            rows="2"></textarea>
                </div>
                <div>
                    <label>Years with
                        present
                        employer:</label>
                    <textarea
                            class="form-control form-control-solid form-control-lg kt_autosize_1"
                            rows="2"></textarea>
                </div>
                <div class="row mt-10">
                    <div class="col-md-5">
                    </div>
                    <div
                            class="col-md-7 text-center">
                        <!--begin::File Upload-->
                        <div class="mb-3">
                            <input
                                    type="file"
                                    class="form-control-file"
                                    id="exampleFormControlFile1">
                        </div>
                        <!--end::File Upload-->
                        <span
                                class="form-text text-muted mb-3">Picture
                                                                                                        must
                                                                                                        be between 300 X
                                                                                                        80. And
                                                                                                        the size must be
                                                                                                        within
                                                                                                        60kb.</span>
                        <hr>
                        <label>Signature of
                            the
                            employee</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-light-primary font-weight-bold close-btn"
                >Close
                </button>
                <button type="button"
                        class="btn btn-primary font-weight-bold">Save
                </button>
            </div>
        </div>
    </div>
</div>