<div class="modal fade" id="listOfEqipment" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel5"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary"
                    id="exampleModalLabel5">Annex-D1</h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true"
                       class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="font-weight-bold text-dark mb-10">
                    List of
                    machinery & equipment</h4>
                <!--begin: Repeater Five-->
                <div class="form-group">
                        {% csrf_token %}
                        {{ ListOfMachineryForm.management_form }}
                        <div id="form_set_listofeqipment">

                            {% for listofmachinery in ListOfMachineryForm %}

                            {{ listofmachinery.id }}

                            <div class="form-group row align-items-center">
                                <div class="col-md-5 mb-3">
                                    <label>Name of the equipment:</label>

                                    {{ listofmachinery.name_of_eqipment }}
                                    <!--                                        <input type="text" class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Manufacture:</label>
                                    {{ listofmachinery.manufacture }}
                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Capacity:</label>
                                    {{ listofmachinery.capacity }}
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Year of
                                        manufacture &
                                        model:</label>

                                    {{ listofmachinery.year_of_model }}


                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Current
                                        status:</label>

                                    {{ listofmachinery.status }}

                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Ownership
                                        (Own/Leased/Rental):</label>
                                    {{ listofmachinery.ownership }}
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Remarks:</label>
                                    {{ listofmachinery.remarks }}
                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
<!--                                <div class="col-md-3 mb-3">-->
<!--                                    <label>Action</label>-->
<!--                                    <div>-->
<!--                                        <a class="btn font-weight-bolder btn-light-danger delete_listofmachinery_e1"-->
<!--                                        data-id="{{ listofmachinery.id.value }}">-->
<!--                                            <i class="la la-trash-o"></i>Delete</a>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="col-sm-12">
                                    <hr>
                                </div>

                            </div>
                            {% endfor %}

                            <div id="empty_form_list_machinery" style="display:none">
                                <div class="form-group row align-items-center">

                                    {{ ListOfMachineryForm.empty_form.id }}

                                    <div class="col-md-5 mb-3">
                                        <label>Name of the equipment:</label>

                                        {{ ListOfMachineryForm.empty_form.name_of_eqipment }}
                                        <!--                                        <input type="text" class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2">
                                        </div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label>Manufacture:</label>
                                        {{ ListOfMachineryForm.empty_form.manufacture }}
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label>Capacity:</label>
                                        {{ ListOfMachineryForm.empty_form.capacity }}
                                        <div class="d-md-none mb-2">
                                        </div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label>Year of
                                            manufacture &
                                            model:</label>

                                        {{ ListOfMachineryForm.empty_form.year_of_model }}


                                        <div class="d-md-none mb-2">
                                        </div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label>Current
                                            status:</label>

                                        {{ ListOfMachineryForm.empty_form.status }}

                                        <div
                                                class="d-md-none mb-2">
                                        </div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label>Ownership
                                            (Own/Leased/Rental):</label>
                                        {{ ListOfMachineryForm.empty_form.ownership }}
                                        <div
                                                class="d-md-none mb-2">
                                        </div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label>Remarks:</label>
                                        {{ ListOfMachineryForm.empty_form.remarks }}
                                        <div class="d-md-none mb-2">
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Action</label>
                                        <div>
                                            <a class="btn font-weight-bolder btn-light-danger delete_listofmachinery_d1">
                                                <i class="la la-trash-o"></i>Delete</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <hr>
                                    </div>

                                </div>

                            </div>


                        </div>

                    <div class="form-group row">
                        <div class="col-lg-4">
                            <a class="btn font-weight-bolder btn-light-primary add_listofmachinery_d1">
                                <i class="la la-plus"></i>Add</a>
                        </div>
                    </div>
                </div>
                <!--end: Repeater Five-->

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-light-primary font-weight-bold"
                            data-dismiss="modal">Close
                    </button>
                    <button type="button" id="step2-listeqipment-submit" data-dismiss="modal"
                            class="btn btn-primary font-weight-bold">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>