<div class="modal fade" id="listtechnical" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel7"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary"
                    id="exampleModalLabel7">Annex-E1</h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true"
                       class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="font-weight-bold text-dark mb-10">
                    List of the technical personnel in payroll with the applicant employed.</h4>
                <!--begin: Repeater Seven-->
                <div id="kt_repeater_7">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ ListOfTechnicalForm.management_form }}
                        <div id="form_set_listtechnical">
                            {% for listtech in ListOfTechnicalForm %}

                            {{ listtech.id }}

                            <div class="form-group row align-items-end">
                                <div class="col-md-5 mb-3">
                                    <label>Name of
                                        the
                                        employee:</label>

                                    {{ listtech.name_of_employee }}
                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Designation:</label>
                                    {{ listtech.designation }}
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3 mt-3">
                                    <!--begin::File Upload-->
                                    <div class="input-group">
                                        <div class="custom-file custom-file-lg">

                                            {{ listtech.file }}
                                        </div>
                                    </div>
                                    <!--end::File Upload-->
                                </div>
<!--                                <div class="col-md-2 mb-3">-->
<!--                                    <label>Action</label>-->
<!--                                    <div>-->
<!--                                        <a class="btn font-weight-bolder btn-light-danger listtech_delete" data-id="{{ listtech.id.value }}">-->
<!--                                            <i class="la la-trash-o"></i>Delete</a>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <!--                                        <div class="col-md-2 mb-3">-->
                                <!--                                            <div id="headingTwo">-->
                                <!--                                                <h2 class="mb-0">-->
                                <!--                                                    <button-->
                                <!--                                                            type="button"-->
                                <!--                                                            class="btn btn-primary font-weight-bold"-->
                                <!--                                                            data-toggle="modal"-->
                                <!--                                                            data-target="#aneex-e2">Annex-E2-->
                                <!--                                                    </button>-->
                                <!--                                                </h2>-->
                                <!--                                            </div>-->
                                <!--                                        </div>-->
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>

                            {% endfor %}

                            <div id="empty_list_tech" style="display:none">

                                {{ ListOfTechnicalForm.empty_form.id }}
                                <div class="form-group row align-items-end">

                                    <div class="col-md-5 mb-3">
                                        <label>Name of
                                            the
                                            employee:</label>

                                        {{ ListOfTechnicalForm.empty_form.name_of_employee }}
                                        <!--                                            <input type="text"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div
                                                class="d-md-none mb-2">
                                        </div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label>Designation:</label>
                                        {{ ListOfTechnicalForm.empty_form.designation }}
                                        <div
                                                class="d-md-none mb-2">
                                        </div>
                                    </div>
                                    <div class="col-md-8 mb-3">
                                        <!--begin::File Upload-->
                                        <div
                                                class="input-group">
                                            <div class="custom-file custom-file-lg">

                                                {{ ListOfTechnicalForm.empty_form.file }}

                                            </div>
                                        </div>
                                        <!--end::File Upload-->
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Action</label>
                                        <div>
                                            <a class="btn font-weight-bolder btn-light-danger listtech_delete"
                                               data-id="{{ ListOfTechnicalForm.empty_form.value }}">
                                                <i class="la la-trash-o"></i>Delete</a>
                                        </div>
                                    </div>
                                    <!--                                            <div class="col-md-2 mb-3">-->
                                    <!--                                                <div>-->
                                    <!--                                                    <h2 class="mb-0">-->
                                    <!--                                                        <button-->
                                    <!--                                                                type="button"-->
                                    <!--                                                                class="btn btn-primary font-weight-bold"-->
                                    <!--                                                                data-toggle="modal"-->
                                    <!--                                                                data-target="#aneex-e2">Annex-E2-->
                                    <!--                                                        </button>-->
                                    <!--                                                    </h2>-->
                                    <!--                                                </div>-->
                                    <!--                                            </div>-->
                                    <div class="col-sm-12">
                                        <hr>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <a class="btn font-weight-bolder btn-light-primary listtech_add">
                                    <i class="la la-plus"></i>Add</a>
                            </div>
                        </div>
                    </div>
                    <!--end: Repeater Seven-->

                    <!-- Modal-->

                    {% include 'modals/annex_e2.html' %}

                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-light-primary font-weight-bold"
                            data-dismiss="modal">Close
                    </button>
                    <button type="button" data-dismiss="modal"
                            class="btn btn-primary font-weight-bold">Save
                    </button>
                </div>
            </div>
        </div>
    </div>