<div class="modal fade" id="listOfEqipmentd2" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel5"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary"
                    id="exampleModalLabel5">Annex-D2</h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true"
                       class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="font-weight-bold text-dark mb-10">
                    Description Of Workshop: </h4>
                <!--begin: Repeater Five-->
                <div class="form-group">
                    {% csrf_token %}
                    {{ ListOfMachineryFormd2.management_form }}
                    <div id="form_set_listofeqipmentd2">

                        {% for listofmachineryd2 in ListOfMachineryFormd2 %}

                        {{ listofmachineryd2.id }}

                        <div class="form-group row align-items-center">
                            <div class="col-md-5 mb-3">
                                <label>Name of the equipment:</label>

                                {{ listofmachineryd2.name_of_eqipment }}
                                <!--                                        <input type="text" class="form-control form-control-solid"/>-->
                                <div class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-5 mb-3">
                                <label>Manufacture:</label>
                                {{ listofmachineryd2.manufacture }}
                                <div class="d-md-none mb-2"></div>
                            </div>
                            <div class="col-md-5 mb-3">
                                <label>Capacity:</label>
                                {{ listofmachineryd2.capacity }}
                                <div
                                        class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-5 mb-3">
                                <label>Year of
                                    manufacture &
                                    model:</label>

                                {{ listofmachineryd2.year_of_model }}


                                <div class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-5 mb-3">
                                <label>Current
                                    status:</label>

                                {{ listofmachineryd2.status }}

                                <div
                                        class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-5 mb-3">
                                <label>Ownership
                                    (Own/Leased/Rental):</label>
                                {{ listofmachineryd2.ownership }}
                                <div
                                        class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-5 mb-3">
                                <label>Remarks:</label>
                                {{ listofmachineryd2.remarks }}
                                <div class="d-md-none mb-2">
                                </div>
                            </div>
<!--                            <div class="col-md-3 mb-3">-->
<!--                                <label>Action</label>-->
<!--                                <div>-->
<!--                                    <a class="btn font-weight-bolder btn-light-danger delete_listofmachinery_d2"-->
<!--                                       data-id="{{ listofmachineryd2.id.value }}">-->
<!--                                        <i class="la la-trash-o"></i>Delete</a>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="col-sm-12">
                                <hr>
                            </div>

                        </div>
                        {% endfor %}

                        <div id="empty_form_list_machineryd2" style="display:none">
                            <div class="form-group row align-items-center">

                                {{ ListOfMachineryFormd2.empty_form.id }}

                                <div class="col-md-5 mb-3">
                                    <label>Name of the equipment:</label>

                                    {{ ListOfMachineryFormd2.empty_form.name_of_eqipment }}
                                    <!--                                        <input type="text" class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Manufacture:</label>
                                    {{ ListOfMachineryFormd2.empty_form.manufacture }}
                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Capacity:</label>
                                    {{ ListOfMachineryFormd2.empty_form.capacity }}
                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Year of
                                        manufacture &
                                        model:</label>

                                    {{ ListOfMachineryFormd2.empty_form.year_of_model }}


                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Current
                                        status:</label>

                                    {{ ListOfMachineryFormd2.empty_form.status }}

                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Ownership
                                        (Own/Leased/Rental):</label>
                                    {{ ListOfMachineryFormd2.empty_form.ownership }}
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Remarks:</label>
                                    {{ ListOfMachineryFormd2.empty_form.remarks }}
                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>Action</label>
                                    <div>
                                        <a class="btn font-weight-bolder btn-light-danger delete_listofmachinery_d2"
                                           data-id="{{ ListOfMachineryFormd2.empty_form.id.value }}">
                                            <i class="la la-trash-o"></i>Delete</a>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <hr>
                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <a class="btn font-weight-bolder btn-light-primary add_listofmachinery_d2">
                                <i class="la la-plus"></i>Add</a>
                        </div>
                    </div>
                </div>
                <!--end: Repeater Five-->

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-light-primary font-weight-bold"
                            data-dismiss="modal">Close
                    </button>
                    <button type="button" data-dismiss="modal"
                            class="btn btn-primary font-weight-bold">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>