<div class="modal fade" id="listWorkModalc2" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary"
                    id="exampleModalLabel2">Annex-C2</h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true"
                       class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="mb-10 font-weight-bold text-dark">
                    List of work/supply of goods in
                    progress: </h4>
                <!--begin: Repeater Three-->
                <div>
                    <div class="form-group">
                        {% csrf_token %}
                        {{ worklist_formset_c2.management_form }}
                        <div id="form_set_list_work_c2">

                            {% for list_work in worklist_formset_c2 %}

                            {{ list_work.id }}

                            <div class="form-group row align-items-center">
                                <div class="col-md-6 mb-3">
                                    <label>Name of the work/procurement:</label>
                                    {{ list_work.name_of_work }}
                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Contract no.:</label>
                                    {{ list_work.contact_no }}

                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Client:</label>
                                    {{ list_work.client }}

                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label>Contract amount (Taka):</label>

                                    {{ list_work.contact_amount }}

                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>


                                <div class="col-md-6 mb-3">
                                    <label>Start date:</label>

                                    {{ list_work.start_date }}

                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Stipulated completion/delivery date:</label>

                                    {{ list_work.delivery_date }}

                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Present status:</label>

                                    {{ list_work.status }}


                                    <!--                                            <input type="email"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-6 mb-3">
                                        <label>Progress Certificate:</label>

                                        {{ worklist_formset_c2.empty_form.progress_certificate }}


                                        <!--                                            <input type="email"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>
<!--                                <div class="col-md-3 mb-3">-->
<!--                                    <label>Action</label>-->
<!--                                    <div>-->
<!--                                        <a class="btn font-weight-bolder btn-light-danger delete_worklist_c2"-->
<!--                                           data-id="{{ list_work.id.value }}">-->
<!--                                            <i class="la la-trash-o"></i>Delete</a>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>
                            {% endfor %}

                            <div id="empty_form_work_list_c2" style="display:none">
                                <div class="form-group row align-items-center">

                                    {{ worklist_formset_c2.empty_form.id }}

                                    <div class="col-md-6 mb-3">
                                        <label>Name of the work/procurement:</label>
                                        {{ worklist_formset_c2.empty_form.name_of_work }}
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Contract no.:</label>
                                        {{ worklist_formset_c2.empty_form.contact_no }}

                                        <!--                                            <input type="text"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Client:</label>
                                        {{ worklist_formset_c2.empty_form.client }}

                                        <!--                                            <input type="text"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label>Contract amount (Taka):</label>

                                        {{ worklist_formset_c2.empty_form.contact_amount }}

                                        <!--                                            <input type="text"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>


                                    <div class="col-md-6 mb-3">
                                        <label>Start date:</label>

                                        {{ worklist_formset_c2.empty_form.start_date }}

                                        <!--                                            <input type="text"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Stipulated completion/delivery date:</label>

                                        {{ worklist_formset_c2.empty_form.delivery_date }}

                                        <!--                                            <input type="text"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Present status:</label>

                                        {{ worklist_formset_c2.empty_form.status }}


                                        <!--                                            <input type="email"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label>Progress Certificate:</label>

                                        {{ worklist_formset_c2.empty_form.progress_certificate }}


                                        <!--                                            <input type="email"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label>Action</label>
                                        <div>
                                            <a class="btn font-weight-bolder btn-light-danger delete_worklist_c2"
                                               data-id="{{ worklist_formset_c2.empty_form.id.value }}">
                                                <i class="la la-trash-o"></i>Delete</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <hr>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <!--                                <input type="submit" class="btn btn-primary font-weight-bold" value="submit">-->
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <a class="btn font-weight-bolder btn-light-primary add_worklist_c2">
                                <i class="la la-plus"></i>Add</a>
                        </div>
                    </div>

                </div>
                <!--end: Repeater Three-->
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-light-primary font-weight-bold"
                        data-dismiss="modal">Close
                </button>
                <button type="button" id="step2-worklistc2-submit" data-dismiss="modal"
                        class="btn btn-primary font-weight-bold">Save
                </button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
