<div class="modal fade" id="listWorkModal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary"
                    id="exampleModalLabel2">Annex-C1</h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true"
                       class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="mb-10 font-weight-bold text-dark">
                    List of work executed/delivered goods
                    for the last five (5) years: </h4>
                <!--begin: Repeater Three-->
                <div>
                    <div class="form-group">
                        {% csrf_token %}
                        {{ worklist_formset.management_form }}
                        <div id="form_set_list_work">
                        <div class="alert alert-danger" role="alert" id="start_end_date">
                           Please Choose Delivery Date After Start Date
                        </div>

                            {% for list_work in worklist_formset %}

                            {{ list_work.id }}
                            

                            <div class="form-group row align-items-center">
                                <div class="col-md-5 mb-3">
                                    <label>Name of the
                                        work/supply of
                                        goods:</label>
                                    {{ list_work.name_of_work }}
                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Contact No:</label>
                                    {{ list_work.contact_no }}


                                    <div class="d-md-none mb-2"></div>
                                </div>


                                <div class="col-md-5 mb-3">
                                    <label>Client:</label>
                                    {{ list_work.client }}


                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Contract amount
                                        (Taka):</label>
                                    {{ list_work.contractor_amount }}

                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Start date:</label>

                                    {{ list_work.start_date }}

                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Completion/Delivery date:</label>

                                    {{ list_work.delivery_date }}

                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label>Remarks:</label>

                                    {{ list_work.remarks }}


                                    <!--                                            <input type="email"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>


                                 <div class="col-md-5 mb-3">
                                    <label>Completion Certificate:</label>

                                    {{ list_work.completion_certificate }}


                                    <!--                                            <input type="email"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>
<!--                                <div class="col-md-3 mb-3">-->
<!--                                    <label>Action</label>-->
<!--                                    <div>-->
<!--                                        <a class="btn font-weight-bolder btn-light-danger delete_worklist"-->
<!--                                           data-id="{{ list_work.id.value }}">-->
<!--                                            <i class="la la-trash-o"></i>Delete</a>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>
                            {% endfor %}

                            <div id="empty_form_work_list" style="display:none">
                                <div class="form-group row align-items-center">

                                    {{ worklist_formset.empty_form.id }}

                                    <div class="col-md-5 mb-3">
                                        <label>Name of the
                                            work/supply of
                                            goods:</label>
                                        {{ worklist_formset.empty_form.name_of_work }}
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                     <div class="col-md-5 mb-3">
                                        <label>Contact No:</label>
                                        {{ worklist_formset.empty_form.contact_no }}

                                        <!--                                            <input type="text"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label>Client:</label>
                                        {{ worklist_formset.empty_form.client }}

                                        <!--                                            <input type="text"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label>Contract amount
                                            (Taka):</label>
                                        {{ worklist_formset.empty_form.contractor_amount }}

                                        <!--                                            <input type="text"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label>Start date:</label>

                                        {{ worklist_formset.empty_form.start_date }}

                                        <!--                                            <input type="text"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label>Completion/Delivery date:</label>

                                        {{ worklist_formset.empty_form.delivery_date }}

                                        <!--                                            <input type="text"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label>Remarks:</label>

                                        {{ worklist_formset.empty_form.remarks }}


                                        <!--                                            <input type="email"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>

                                    <div class="col-md-5 mb-3">
                                        <label>Completion Certificate:</label>
                                        {{ worklist_formset.empty_form.completion_certificate }}

                                        <!--                                            <input type="text"-->
                                        <!--                                                   class="form-control form-control-solid"/>-->
                                        <div class="d-md-none mb-2"></div>
                                    </div>

<!--                                    <div class="col-md-3 mb-3">&nbsp;</div>-->
                                    <div class="col-md-6 mb-3">
                                        <label>Action</label>
                                        <div>
                                            <a class="btn font-weight-bolder btn-light-danger delete_worklist"
                                               data-id="{{ worklist_formset.empty_form.id.value }}">
                                                <i class="la la-trash-o"></i>Delete</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <hr>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <!--                                <input type="submit" class="btn btn-primary font-weight-bold" value="submit">-->

                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <a class="btn font-weight-bolder btn-light-primary add_worklist">
                                <i class="la la-plus"></i>Add</a>
                        </div>
                    </div>

                </div>
                <!--end: Repeater Three-->
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-light-primary font-weight-bold"
                        data-dismiss="modal">Close
                </button>
                <button type="button"  class="btn btn-primary font-weight-bold" id="annex-c1">Save</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
