<div class="modal fade" id="listWorkModalc3" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary"
                    id="exampleModalLabel3">Annex-C3</h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true"
                       class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="font-weight-bold text-dark text-center">
                    Details of Works/Procurement Completed and in Progress: </h4>
                <hr/>
                <h5 class="mb-15  text-center">
                    Use separate sheet for each work/procurement
                </h5>
                <!--begin: Repeater Three-->

                <div class="form-group">
                    {% csrf_token %}
                    {{ worklist_formset_c3.management_form }}
                    <div id="form_set_list_work_c3">

                        {% for list_work_c3 in worklist_formset_c3 %}

                        {{ list_work_c3.id }}

                        <div class="form-group row align-items-center">
                            <div class="col-md-6 mb-3">
                                <label>Name of the
                                    contract</label>
                                {{ list_work_c3.contact_name }}
                                <div class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Contract
                                    number:</label>

                                {{ list_work_c3.contact_number }}
                                <div class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Name of the client:</label>

                                {{ list_work_c3.name_of_client }}
                                <div class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Work Order Date:</label>

                                {{ list_work_c3.date }}
                                <!--                                            <input type="text"-->
                                <!--                                                   class="form-control form-control-solid kt_datepicker_1"-->
                                <!--                                                   placeholder="dd/mm/yyyy"/>-->
                                <div
                                        class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-5 mb-3">
                                <label>Address of the
                                    client:</label>
                                {{ list_work_c3.address }}
                                <div
                                        class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label>Role of the
                                    applicant: (tik
                                    one):</label>


                                <div class="radio-inline mb-3">
                                  {% for radio in list_work_c3.role %}
                                        <label class="radio mb-5">
                                            {{ radio.tag }}
                                            <span></span>
                                            {{ radio.choice_label|safe }}

                                        </label>
                                    {% endfor %}
                                </div>


                                <!--                                            <div class="radio-inline">-->
                                <!--                                                {{ list_work_c3.role }}-->
                                <!--                                                &lt;!&ndash;                                                <label class="radio">&ndash;&gt;-->
                                <!--                                                &lt;!&ndash;                                                    <input type="radio" name="radios2"/>&ndash;&gt;-->
                                <!--                                                &lt;!&ndash;                                                    <span></span>Prime&ndash;&gt;-->
                                <!--                                                &lt;!&ndash;                                                    contractor/supplier</label>&ndash;&gt;-->
                                <!--                                                &lt;!&ndash;                                                <label class="radio">&ndash;&gt;-->
                                <!--                                                &lt;!&ndash;                                                    <input type="radio" name="radios2"/>&ndash;&gt;-->
                                <!--                                                &lt;!&ndash;                                                    <span></span>Subcontractor/partner</label>&ndash;&gt;-->
                                <!--                                                &lt;!&ndash;                                                <label class="radio">&ndash;&gt;-->
                                <!--                                                &lt;!&ndash;                                                    <input type="radio" name="radios2"/>&ndash;&gt;-->
                                <!--                                                &lt;!&ndash;                                                    <span></span>Partner&ndash;&gt;-->
                                <!--                                                &lt;!&ndash;                                                    in JVC</label>&ndash;&gt;-->
                                <!--                                                <div class="d-md-none mb-2">-->
                                <!--                                                </div>-->
                                <!--                                            </div>-->
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Amount of total
                                    contract(in
                                    taka):</label>

                                {{ list_work_c3.amount_of_contact }}
                                <!--                                            <input type="text"-->
                                <!--                                                   class="form-control form-control-solid"/>-->
                                <div class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Applicant's share
                                    (in taka):</label>

                                {{ list_work_c3.applicant_share }}
                                <!--                                            <input type="text"-->
                                <!--                                                   class="form-control form-control-solid"/>-->
                                <div class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label>If contract value
                                    increases or
                                    decreases from
                                    the original
                                    contract amount,
                                    please give the
                                    reason:</label>

                                {{ list_work_c3.reason }}
                                <!--                                            <textarea class="form-control form-control-solid form-control-lg kt_autosize_1"-->
                                <!--                                                    rows="2"></textarea>-->
                                <div class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Date of
                                    commencement
                                    contract:</label>

                                {{ list_work_c3.date_commencement_contract }}
                                <!--                                            <input type="text"-->
                                <!--                                                   class="form-control form-control-solid"/>-->
                                <div
                                        class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Stipulated time
                                    for completion of
                                    the
                                    contract:</label>

                                {{ list_work_c3.time_for_completion }}
                                <!--                                            <input type="text"-->
                                <!--                                                   class="form-control form-control-solid"/>-->
                                <div
                                        class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Completion
                                    date:</label>

                                {{ list_work_c3.completation_date }}
                                <!--                                            <input type="text"-->
                                <!--                                                   class="form-control form-control-solid kt_datepicker_1"-->
                                <!--                                                   placeholder="dd/mm/yyyy"/>-->
                                <div
                                        class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label>If the contract
                                    completed ahead of
                                    or behind
                                    the stipulated time,
                                    please provide the
                                    explanation:</label>

                                {{ list_work_c3.explanation }}
                                <!--                                            <textarea-->
                                <!--                                                    class="form-control form-control-solid form-control-lg kt_autosize_1"-->
                                <!--                                                    rows="2"></textarea>-->
                                <div
                                        class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label>Short description
                                    of the
                                    work/supply:</label>

                                {{ list_work_c3.description_of_work }}
                                <!--                                            <textarea-->
                                <!--                                                    class="form-control form-control-solid form-control-lg kt_autosize_1"-->
                                <!--                                                    rows="2"></textarea>-->
                                <div
                                        class="d-md-none mb-2">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>If the applicant
                                    1 role is not as
                                    prime
                                    contractor/supplier,
                                    please specify the
                                    responsibility hold
                                    in the
                                    contract:</label>
                                {{ list_work_c3.responsibility }}

                                <!--                                            <textarea class="form-control form-control-solid form-control-lg kt_autosize_1" rows="2"></textarea>-->
                                <div class="d-md-none mb-2">
                                </div>
                            </div>
<!--                            <div class="col-md-3 mb-3">-->
<!--                                <label>Action</label>-->
<!--                                <div>-->
<!--                                    <a class="btn font-weight-bolder btn-light-danger delete_worklist_c3"-->
<!--                                       data-id="{{ list_work_c3.id.value }}">-->
<!--                                        <i class="la la-trash-o"></i>Delete</a>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="col-sm-12">
                                <hr>
                            </div>
                        </div>
                        {% endfor %}

                        <div id="empty_form_work_list_c3" style="display:none">
                             <h5 class="mb-15  text-center">
                    Use separate sheet for each work/procurement
                </h5>

                            <div class="form-group row align-items-center">
                                <div class="col-md-6 mb-3">
                                    <label>1. Name of the
                                        contract</label>
                                    {{ worklist_formset_c3.empty_form.contact_name }}
                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>2. Contract
                                        number:</label>

                                    {{ worklist_formset_c3.empty_form.contact_number }}
                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>3. Name of the client:</label>

                                    {{ worklist_formset_c3.empty_form.name_of_client }}
                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Work Order Date:</label>

                                    {{ worklist_formset_c3.empty_form.date }}
                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid kt_datepicker_1"-->
                                    <!--                                                   placeholder="dd/mm/yyyy"/>-->
                                    <div class="d-md-none mb-2"></div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>4. Address of the
                                        client:</label>
                                    {{ worklist_formset_c3.empty_form.address }}
                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label>5. Role of the
                                        applicant: (tik
                                        one):</label>

                                       <div class="radio-inline mb-3">
                                  {% for radio in worklist_formset_c3.empty_form.role %}
                                        <label class="radio mb-5">
                                            {{ radio.tag }}
                                            <span></span>
                                            {{ radio.choice_label|safe }}

                                        </label>
                                    {% endfor %}
                                </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>6. Amount of total
                                        contract(in
                                        taka):</label>

                                    {{ worklist_formset_c3.empty_form.amount_of_contact }}
                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Applicant's share
                                        (in taka):</label>

                                    {{ worklist_formset_c3.empty_form.applicant_share }}
                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label>If contract value
                                        increases or
                                        decreases from
                                        the original
                                        contract amount,
                                        please give the
                                        reason:</label>

                                    {{ worklist_formset_c3.empty_form.reason }}
                                    <!--                                            <textarea class="form-control form-control-solid form-control-lg kt_autosize_1"-->
                                    <!--                                                    rows="2"></textarea>-->
                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>7. Date of
                                        commencement
                                        contract:</label>

                                    {{ worklist_formset_c3.empty_form.date_commencement_contract }}
                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Stipulated time
                                        for completion of
                                        the
                                        contract:</label>

                                    {{ worklist_formset_c3.empty_form.time_for_completion }}
                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid"/>-->
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Completion
                                        date:</label>

                                    {{ worklist_formset_c3.empty_form.completation_date }}
                                    <!--                                            <input type="text"-->
                                    <!--                                                   class="form-control form-control-solid kt_datepicker_1"-->
                                    <!--                                                   placeholder="dd/mm/yyyy"/>-->
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label>If the contract
                                        completed ahead of
                                        or behind
                                        the stipulated time,
                                        please provide the
                                        explanation:</label>

                                    {{ worklist_formset_c3.empty_form.explanation }}
                                    <!--                                            <textarea-->
                                    <!--                                                    class="form-control form-control-solid form-control-lg kt_autosize_1"-->
                                    <!--                                                    rows="2"></textarea>-->
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label>8. Short description
                                        of the
                                        work/supply:</label>

                                    {{ worklist_formset_c3.empty_form.description_of_work }}
                                    <!--                                            <textarea-->
                                    <!--                                                    class="form-control form-control-solid form-control-lg kt_autosize_1"-->
                                    <!--                                                    rows="2"></textarea>-->
                                    <div
                                            class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>9. If the applicant
                                        1 role is not as
                                        prime
                                        contractor/supplier,
                                        please specify the
                                        responsibility hold
                                        in the
                                        contract:</label>

                                    {{ worklist_formset_c3.empty_form.responsibility }}

                                    <!--                                            <textarea class="form-control form-control-solid form-control-lg kt_autosize_1" rows="2"></textarea>-->
                                    <div class="d-md-none mb-2">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>Action</label>
                                    <div>
                                        <a class="btn font-weight-bolder btn-light-danger delete_worklist_c3"
                                           data-id="{{ worklist_formset_c3.empty_form.id.value }}">
                                            <i class="la la-trash-o"></i>Delete</a>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>


                        </div>

                    </div>
                    <!--                                <input type="submit" class="btn btn-primary font-weight-bold" value="submit">-->

                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <a class="btn font-weight-bolder btn-light-primary add_worklist_c3">
                            <i class="la la-plus"></i>Add</a>
                    </div>
                </div>


                <!--end: Repeater Three-->
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-light-primary font-weight-bold"
                        data-dismiss="modal">Close
                </button>
                <button type="button" id="step2-worklistc3-submit" data-dismiss="modal"
                        class="btn btn-primary font-weight-bold">Save
                </button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->


