<!--begin::Modal-->
<div class="modal fade" id="step2-registration-modal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary"
                    id="exampleModalLabel">Annex-B</h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="mb-10 font-weight-bold text-dark">
                    Details of Registration in Govt.Dept./Semi Govt. Dept. Or Any Other
                    Agency. </h4>
                <!--begin: Repeater Two-->

                <div id="kt_repeater_2_form">

                    <div class="form-group">
                        <div data-repeater-list="">

                            <form action="" id="reg_modal_form" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ formset.management_form }}
                                <div id="form_set_reg">

                                    {% for reg in formset %}
                                    <div class="form-group row align-items-center">

                                        {{ reg.id }}

                                        <div class="col-md-5 mb-3">
                                            <label>Name of department/agency:</label>
                                            {{ reg.name_of_dept }}
                                            <div class="d-md-none mb-2"></div>
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label>Class in which enlisted :</label>
                                            {{ reg.enlisted_class}}
                                            <div class="d-md-none mb-2"></div>
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label>Place & date of 1st enlistment and registration
                                                no:</label>

                                            {{ reg.enlistment_date_RegNo }}

                                            <div class="d-md-none mb-2"></div>
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label>last date renewal:</label>

                                            {{ reg.last_renewal_date }}
                                            <!--                                                        <input name="last_renewal_date"-->
                                            <!--                                                               value="{{ form.last_renewal_date }}"-->
                                            <!--                                                               class="form-control form-control-solid kt_datepicker_1"/>-->

                                            <div class="d-md-none mb-2"></div>
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <label for="exampleFormControlFile1">
                                                Attach your file</label>

                                            {{ reg.file_attachment }}

                                            <!--                                                        <input type="file" name="file_attachment"-->
                                            <!--                                                               value="{{ form.file_attachment }}"-->
                                            <!--                                                               class="form-control-file">-->


                                        </div>
<!--                                        <div class="col-md-2 mb-3">-->
<!--                                            <label>Action</label>-->
<!--                                            <div>-->
<!--                                                <a class="btn font-weight-bolder btn-light-danger delete_reg"  data-id="{{ reg.id.value }}">-->
<!--                                                    <i class="la la-trash-o"></i>Delete</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div id="empty_form_reg" style="display:none">
                                        <div class="form-group row align-items-center">
                                            {{ formset.empty_form.id }}

                                            <div class="col-md-5 mb-3">
                                                <label>Name of department/agency:</label>
                                                {{ formset.empty_form.name_of_dept }}
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-5 mb-3">
                                                <label>Class in which enlisted :</label>
                                                {{ formset.empty_form.enlisted_class}}
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-5 mb-3">
                                                <label>Place & date of 1st enlistment and registration
                                                    no:</label>

                                                {{ formset.empty_form.enlistment_date_RegNo }}

                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-5 mb-3">
                                                <label>last date renewal:</label>

                                                {{ formset.empty_form.last_renewal_date }}
                                                <!--                                                        <input name="last_renewal_date"-->
                                                <!--                                                               value="{{ form.last_renewal_date }}"-->
                                                <!--                                                               class="form-control form-control-solid kt_datepicker_1"/>-->

                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="col-md-5 mb-3">
                                                <label>
                                                    Attach your file</label>

                                                {{ formset.empty_form.file_attachment }}

                                            </div>
                                            <div class="col-md-2 mb-3">
                                                <label>Action</label>
                                                <div>
                                                    <a class="btn font-weight-bolder btn-light-danger delete_reg"  data-id="{{ formset.empty_form.id.value }}">
                                                        <i class="la la-trash-o"></i>Delete</a>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <hr>
                                            </div>


                                        </div>


                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <a class="btn font-weight-bolder btn-light-primary add_dept">
                                <i class="la la-plus"></i>Add</a>
                        </div>
                    </div>

                </div>


                <!--end: Repeater Two-->
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-light-primary font-weight-bold"
                        data-dismiss="modal">Close
                </button>
                <button type="button" id="step2-registration-submit"
                        class="btn btn-primary font-weight-bold" data-dismiss="modal">Save
                </button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->