@font-face {
  font-family: "solaimanlipi";
  src: url("../fonts/solaimanlipi/solaimanlipi.woff") format("woff"),
    url("../fonts/solaimanlipi/solaimanlipi.woff2") format("woff2"),
    url("../fonts/solaimanlipi/solaimanlipi.svg#solaimanlipi") format("svg"),
    url("../fonts/solaimanlipi/solaimanlipi.eot"),
    url("../fonts/solaimanlipi/solaimanlipi.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/solaimanlipi/solaimanlipi.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-solaimanlipi {
  font-family: "solaimanlipi";
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}

.header-menu .menu-nav > .menu-item .menu-link .menu-text {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  font-family: "solaimanlipi";
}

.nowrap {
  white-space: nowrap;
}
.font-weight-medium {
  font-weight: 600;
}

.wizard.wizard-2
  .wizard-nav
  .wizard-steps
  .wizard-step[data-wizard-state="current"] {
  background-color: #6993ff;
}
.wizard.wizard-2
  .wizard-nav
  .wizard-steps
  .wizard-step[data-wizard-state="current"]
  .wizard-label
  .wizard-title,
.wizard.wizard-2
  .wizard-nav
  .wizard-steps
  .wizard-step[data-wizard-state="current"]
  .wizard-label
  .wizard-desc {
  color: #fff;
}
.wizard.wizard-2
  .wizard-nav
  .wizard-steps
  .wizard-step[data-wizard-state="current"]:after {
  border-left-color: #6993ff;
}
.wizard.wizard-2
  .wizard-nav
  .wizard-steps
  .wizard-step[data-wizard-state="current"]
  .wizard-icon
  .svg-icon
  svg
  g
  [fill] {
  fill: #fff !important;
}
.notice-table {
  font-size: 14px;
}

.policy-ul {
  list-style: lower-roman;
}

.license-box {
  padding: 20px;
  border: 1px solid #ebedf3;
}
.monogram {
  height: 62px;
  width: 62px;
  font-size: 12px;
  padding: 13px 5px;
  text-align: center;
  background-color: #ebedf3;
  color: #3f4254;
}
.address-text {
  flex: 1;
  font-size: 13px;
}
.custom-file.custom-file-lg {
  height: calc(1.5em + 1.65rem + 2px);
}
.custom-file-input.custom-file-input-lg,
.custom-file-label.custom-file-label-lg {
  height: calc(1.5em + 1.65rem + 2px);
  padding: 0.825rem 1.42rem;
  font-size: 1.08rem;
  line-height: 1.5;
  border-radius: 0.42rem;
}
/* .custom-file-input.custom-file-input-lg{
    height: calc(1.5em + 1.65rem);
}
.custom-file-label.custom-file-label-lg{
    height: calc(1.5em + 1.65rem + 2px);
} */
.custom-file-label.custom-file-label-lg::after {
  height: calc(1.5em + 1.65rem);
  padding: 0.825rem 1.42rem;
  font-size: 1.08rem;
  line-height: 1.5;
}
.custom-file-label.custom-file-label-solid {
  background-color: #f3f6f9;
  border-color: #f3f6f9;
  color: #3f4254;
  -webkit-transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, box-shadow 0.15s ease,
    -webkit-box-shadow 0.15s ease;
}
.custom-file-label.custom-file-label-solid::after {
  background-color: #e4e6ef;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "File Upload";
}
/* New css */
@media (max-width: 767px) {
  body {
    background-size: 100% 420px;
  }
}
.subheader-logo img {
  height: 110px;
}
@media (max-width: 767px) {
  .subheader-logo img {
    height: 70px;
  }
}

.subheader2 {
  background-color: #003a6a;
}
.subheader2 {
  font-family: "solaimanlipi";
}
.subheader2 h1 {
  font-size: 3rem;
}
.subheader2 p {
  font-size: 1.4rem;
}

.wizard.wizard-2 .wizard-nav .wizard-steps .wizard-step {
  background-color: #21a3d0;
  margin-bottom: 10px;
}
.wizard.wizard-2
  .wizard-nav
  .wizard-steps
  .wizard-step
  .wizard-label
  .wizard-title {
  color: #fff;
}

.wizard.wizard-2
  .wizard-nav
  .wizard-steps
  .wizard-step[data-wizard-state="current"] {
  background-color: #a92413;
}
.wizard.wizard-2
  .wizard-nav
  .wizard-steps
  .wizard-step[data-wizard-state="current"]:after {
  border-left-color: #a92413;
}

.footer {
  background-color: #003a6a;
}

.header-menu .menu-nav > .menu-item > .menu-link {
  margin: 0 50px;
}






.custom-file.custom-file-lg{
    height: calc(1.5em + 1.65rem + 2px);
}
.custom-file-input.custom-file-input-lg,
.custom-file-label.custom-file-label-lg {
    height: calc(1.5em + 1.65rem + 2px);
    padding: 0.825rem 1.42rem;
    font-size: 1.08rem;
    line-height: 1.5;
    border-radius: 0.42rem;
}
/* .custom-file-input.custom-file-input-lg{
    height: calc(1.5em + 1.65rem);
}
.custom-file-label.custom-file-label-lg{
    height: calc(1.5em + 1.65rem + 2px);
} */
.custom-file-label.custom-file-label-lg::after {
    height: calc(1.5em + 1.65rem);
    padding: 0.825rem 1.42rem;
    font-size: 1.08rem;
    line-height: 1.5;
}
.custom-file-label.custom-file-label-solid {
    background-color: #F3F6F9;
    border-color: #F3F6F9;
    color: #3F4254;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}
.custom-file-label.custom-file-label-solid::after{
    background-color: #e4e6ef;
}

#panel {
  padding: 50px;
  display: none;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Upload Document";
}

.active {
    background-color: #2980b5;
    border-radius: 20%;
    height: min-content;
    margin-top: 13px;
}


img.signature-img {
    max-height: 100px;
    max-width: 150px;
}