{% load static %}
<link rel="canonical" href="https://keenthemes.com/metronic"/>
<!--begin::Fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
<!--end::Fonts-->
<!--begin::Page Vendors Styles(used by this page)-->
<link href="{% static 'frontend/assets/plugins/wizard/wizard-2.css' %}" rel="stylesheet" type="text/css"/>
<!--end::Page Vendors Styles-->
<!--begin::Global Theme Styles(used by all pages)-->
<link href="{% static 'frontend/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'frontend/assets/plugins/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'frontend/assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
<!--end::Global Theme Styles-->
<!--begin::Layout Themes(used by all pages)-->
<link href="{% static 'frontend/assets/css/custom.css' %}" rel="stylesheet">
<!--end::Layout Themes-->
<link rel="shortcut icon" href="{% static 'frontend/assets/media/logos/favicon.ico' %}"/>




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/>