{% load static %}
<script src="{% static 'frontend/assets/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'frontend/assets/plugins/prismjs/prismjs.bundle.js' %}"></script>
<script src="{% static 'frontend/assets/js/scripts.bundle.js' %}"></script>
<!--end::Global Theme Bundle-->
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'frontend/assets/plugins/wizard/wizard-2.js' %}"></script>
<script src="{% static 'frontend/assets/plugins/file-upload/dropzonejs.js' %}"></script>
<script src="{% static 'frontend/assets/plugins/datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'frontend/assets/js/form-repeater.js' %}"></script>
<script src="{% static 'frontend/assets/js/autosize.js' %}"></script>
<script src="{% static 'frontend/assets/js/dataTables.checkboxes.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/custom.js' %}"></script>

<!--datepicker-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


 <script src="{% static 'js/jQuery.print.min.js' %}"></script>
        <!--end::Page Vendors-->
        <!--begin::Page Scripts(used by this page)-->
        <!--end::Page Scripts-->
        <script>
            $('.print-btn').on('click', function() { 
                // select print button with class "print," then on click run callback function
                $.print(".print-content"); // inside callback function the section with class "content" will be printed
            });
        </script>