<form class="square" method="post" id="send_application">
    {% csrf_token %}
    <div class="card-body" data-select2-id="8">
        <div class="row" data-select2-id="7">
            <div class="col-sm-12" data-select2-id="6">
                <!--                <div class="form-group row" data-select2-id="20">-->
                <!--                    <label for="user_id" class="col-sm-2 col-form-label">Application<i class="text-danger"> * </i></label>-->
                <!--                    <div class="col-sm-8">-->
                <!--                        <select class="form-control placeholder-multiple select2-hidden-accessible" multiple=""-->
                <!--                                data-select2-id="select2-role" tabindex="-1" aria-hidden="true" name="selected_application">-->
                <!--                            <optgroup label="Users" data-select2-id="select2-application">-->
                <!--                                {% for application in application %}-->
                <!--                                <option value="{{ application.id }}"> {{ application }}</option>-->
                <!--                                {% endfor %}-->
                <!--                            </optgroup>-->
                <!--                        </select>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="form-group row mt-2">

                    <label for="role_id" class="col-sm-2 col-form-label">Roles<i class="text-danger"> * </i></label>
                    <div class="col-sm-8">

                        <select class="form-control" data-select2-id="select2-roles" tabindex="-1" aria-hidden="true"
                                name="roles" id="contractor_role">
                            <optgroup label="Roles" data-select2-id="select2-roles">
                                <option> Select ROLES</option>
                                <option value="AS_ADMIN"> AS ADMIN</option>
                                <option value="OS_ADMIN"> OS ADMIN</option>
                                <option value="CO_ADMIN"> CO ADMIN</option>
                            </optgroup>
                        </select>
                    </div>
                </div>

                <div class="form-group row mt-2">


                    <label for="role_id" class="col-sm-2 col-form-label">Users<i class="text-danger"> * </i></label>
                    <div class="col-sm-8">


                        <select class="form-control placeholder-multiple select2-hidden-accessible" multiple=""
                                data-select2-id="select2-data-13-5pt4" tabindex="-1" aria-hidden="true"
                                name="send_user" id="option_list_users">
                            <optgroup label="Users" data-select2-id="select2-data-27-g7lm">

<!--                                                                {% for user in users %}-->
<!--                                                                <option value="{{ user.id }}"> {{ user }}</option>-->
<!--                                                                {% endfor %}-->
                            </optgroup>
                        </select>

                        <!-- {% if forloop.counter < 5 %} selected {% endif %} -->
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-md-10 text-end">
                        <div class="">
                            <button type="submit" class="btn btn-success" id="forward_application_btn">
                                Send
                            </button>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</form>

