<form class="square" action="{% url 'user-role-edit' user_id %}" method="post">
    {% csrf_token %}
    <div class="card-body" data-select2-id="8">
        <div class="row" data-select2-id="7">
            <div class="col-sm-8" data-select2-id="6">
                <div class="form-group row" data-select2-id="20">
                    <label for="user_id" class="col-sm-2 col-form-label">User<i class="text-danger"> * </i></label>
                    <div class="col-sm-8">
                          <input type="text" class="form-control" id="user_name" value="{{ name }}" name="user_name">
<!--                        <select class="form-control from-select" aria-label="Default select " name="user_id" required>-->
<!--                            <option selected disabled>&#45;&#45; Select One &#45;&#45;</option>-->
<!--                            {% for user in users %}-->
<!--                            <option value="{{user.id}}">{{ user }}</option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="role_id" class="col-sm-2 col-form-label">Role<i class="text-danger"> * </i></label>
                    <div class="col-sm-8">
                        <select class="form-control placeholder-multiple select2-hidden-accessible" multiple=""
                                data-select2-id="select2-data-13-5pt4" tabindex="-1" aria-hidden="true"
                                name="selected_roles">
                            <optgroup label="Roles" data-select2-id="select2-data-27-g7lm">
                                {% for roles in role_info %}
                                <option value="{{roles.role_id}}" {% if roles.is_group %} selected {% endif %}>
                                    {{roles.role_name}}
                                </option>
                                {% endfor %}
                            </optgroup>
                        </select>

                        <!-- {% if forloop.counter < 5 %} selected {% endif %} -->
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-md-10 text-end">
                        <div class="">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</form>

