<form action="{% url 'role_create' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="form-group row pb-2">
        <label for="inputRole" class="col-sm-2 col-form-label">Role Name*</label>
        <div class="col-sm-10">
            <input type="text" name="role" class="form-control" id="inputRole" value="{{group_details.group_name}}" placeholder="Role Name" required>
        </div>
    </div>
    <div class="form-group row pb-2">
        <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="description" id="inputDescription" rows="3"
                    placeholder="Role Description">{{group_details.group_desc}}</textarea>
        </div>
    </div>

    <!--    {% if request.user.is_admin %}-->
    <!--    <div class="form-group row">-->
    <!--        <label for="inputRestaurants" class="col-sm-2 col-form-label">Restaurants</label>-->
    <!--        <div class="col-sm-10">-->
    <!--            <select name="restaurants" class="form-control" id="">-->
    <!--                <option>Option -1 </option>-->

    <!--            </select>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    {% endif %}-->

    {% for model in all_models %}
    <h4 class="mt-5">{{model.name}}</h4>
    <table class="table table-bordered table-hover" style="text-align: center; vertical-align: middle;">
        <thead>
        <tr>
            <th scope="col">SL</th>
            <th scope="col">Table Name</th>
            <th scope="col">Can Add</th>
            <th scope="col">Can Edit</th>
            <th scope="col">Can View</th>
            <th scope="col">Can Delete</th>
        </tr>
        </thead>

        {% for table in model.tables %}

        <tbody>
        <tr>
            <th scope="row">{{ forloop.counter }}</th>


            <!-- <td>{{template}}</td> -->
            <td>{{ table.name }}
            </td>



            <td>
                {% with model.name|add:".add_"|add:table.name|lower as template %}
                {% if template in all_perms %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="{{model.name}}_{{table.name}}_1"
                           id="{{model.name}}_{{table.name}}_1" value="{{model.name}}_{{table.name}}_1">
                    <label class="form-check-label" for="{{model.name}}_{{table.name}}_1"></label>
                </div>
                {% endif %}
                {% endwith %}

            </td>
            <td>
                {% with model.name|add:".change_"|add:table.name|lower as change_data %}
                {% if change_data in all_perms %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="{{model.name}}_{{table.name}}_2"
                           id="{{model.name}}_{{table.name}}_2" value="{{model.name}}_{{table.name}}_2">
                    <label class="form-check-label" for="{{model.name}}_{{table.name}}_2"></label>
                </div>
                {% endif %}
                {% endwith %}
            </td>
            <td>
                {% with model.name|add:".view_"|add:table.name|lower as view_data %}
                {% if view_data in all_perms %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="{{model.name}}_{{table.name}}_3"
                           id="{{model.name}}_{{table.name}}_3" value="{{model.name}}_{{table.name}}_3">
                    <label class="form-check-label" for="{{model.name}}_{{table.name}}_3"></label>
                </div>
                {% endif %}
                {% endwith %}
            </td>
            <td>
                {% with model.name|add:".delete_"|add:table.name|lower as delete_data %}
                {% if delete_data in all_perms %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="{{model.name}}_{{table.name}}_4"
                           id="{{model.name}}_{{table.name}}_4" value="{{model.name}}_{{table.name}}_4">
                    <label class="form-check-label" for="{{model.name}}_{{table.name}}_4"></label>
                </div>
                {% endif %}
                {% endwith %}
            </td>


        </tr>

        </tbody>

        {% endfor %}
    </table>
    {% endfor %}

    <div class="mb-3 row">
        <div class="col-md-12 text-end">
            <div class="">
                <button type="submit" class="btn btn-success">
                    Save
                </button>
            </div>
        </div>
    </div>

</form>
