{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="card-body">
{% include 'snippets/forms.html' %}
</div>

<div style="background-color: #e8e8e8;height: 100vh;padding: 30px;font-size: 14px;" >
            <div style="max-width: 960px;margin-right: auto;margin-left: auto;">
                <div style="text-align: right;margin-bottom: 20px">
                    <input type="button" onclick="printDiv('printableArea')" value="Print a div!" />
                </div>
                <div style="background-color: #fff;padding: 50px;" id="printableArea">
                    <div style="display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -30px;margin-left: -30px;">
                        <div style="-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;position: relative;width: 100%;padding-right: 30px;padding-left: 30px;align-items: flex-start;display: flex;flex-direction: column;border-right: 1px solid #ddd;">
                            <img id="applicant_id"   alt="" style="height: 80px;border: 1px solid #ddd;margin: 0 auto 10px;display: block">
                            {% comment %} <div style="margin: 0 auto 25px;text-align: center;font-weight: 600;">আবেদনকারীর নাম:</div> {% endcomment %}
                            <ul style="list-style: none;padding: 0;margin: 0 0 30px;">
                            <li style="font-weight: 600; margin-bottom: 5px;">মালিক/স্বত্বাধিকারীর নামঃ </li>
                                <li style="font-weight: 600; margin-bottom: 10px;">জনাবঃ&nbsp;<span style="font-weight: normal;border-bottom: 1px dashed #000;" id="proprietor_name"></span></li>
                                <li style="font-weight: 600; margin-bottom: 10px;">পিতার নামঃ&nbsp;<span style="font-weight: normal;border-bottom: 1px dashed #000;" id="contractor_father"></span></li>
                                <li style="font-weight: 600; margin-bottom: 10px;">মাতার নামঃ&nbsp;<span style="font-weight: normal;border-bottom: 1px dashed #000;" id="contractor_mother"></span></li>
                                <li style="font-weight: 600; margin-bottom: 10px;">নমুনা স্বাক্ষরঃ</li>
                                <li style="font-weight: 600; margin-bottom: 10px;display: flex;align-items: center;"><span>১।</span>&nbsp;<img class="signature-img" src="img/signature-01.png" alt="" style="max-width: 100%;height: 24px;border-bottom: 1px dashed #000;"></li>
                                <li style="font-weight: 600; margin-bottom: 10px;display: flex;align-items: center;"><span>২।</span>&nbsp;<img class="signature-img" src="img/signature-02.png" alt="" style="max-width: 100%;height: 24px;border-bottom: 1px dashed #000;"></li>
                                <li style="font-weight: 600; margin-bottom: 10px;display: flex;align-items: center;"><span>৩।</span>&nbsp;<img class="signature-img" src="img/signature-03.png" alt="" style="max-width: 100%;height: 24px;border-bottom: 1px dashed #000;"></li>
                                <li style="font-weight: 600; margin-bottom: 10px;">তারিখঃ&nbsp;<span style="font-weight: normal;border-bottom: 1px dashed #000;">২৭-২-২০১৯</span></li>
                            </ul>
                            <div style="margin-left: auto;margin-top: auto;">
                                <div style="display: inline-block;text-align: center;font-weight: 600;font-size: 13px;">
                                    <img class="signature-img" src="img/signature-03.png" alt="" style="max-width: 100%;height: 24px;display: block;margin: 0 auto 10px;">
                                    ২৭-২-২০১৯<br>
                                    উপ-সচিব <br>
                                    প্রশাসন বিভাগ - ২, ঢাকা ওয়াসা<br>
                                    ও<br>
                                    সদস্য-সচিব,<br>
                                    এনলিস্টমেন্ট কমিটি।
                                </div>
                            </div>
                        </div>
                        <div style="-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;position: relative;width: 100%;padding-right: 30px;padding-left: 30px;align-items: flex-start;display: flex;flex-direction: column;">
                            <ul style="list-style: none;padding: 0;margin: 0 0 30px;">
                                <li style="font-weight: 600; margin-bottom: 10px;">১। ঠিকাদারি প্রতিষ্ঠানের নামঃ&nbsp;<span style="font-weight: normal;border-bottom: 1px dashed #000;" id="contractor_name"> </span></li>
                                <li style="font-weight: 600; margin-bottom: 10px;">২।ঠিকানাঃ</li>
                                <li style="font-weight: 600; margin-bottom: 10px;">
                                    <ul style="list-style: none;margin: 0;">
                                        <li style="font-weight: 600; margin-bottom: 10px;"><span>(ক) বর্তমানঃ</span>&nbsp;<span style="font-weight: normal;border-bottom: 1px dashed #000;">ওয়াসা ভবন, ৯৮,কাজী নজরুল ইসলাম এভিনিউ কাওরান বাজার, ঢাকা-১২১৫.</span></li>
                                        <li style="font-weight: 600; margin-bottom: 10px;"><span>(খ) স্থায়ীঃ</span>&nbsp;<span style="font-weight: normal;border-bottom: 1px dashed #000;">৫১/৩, মানিকনগর, সবুজবাগ, ঢাকা।</span></li>
                                    </ul>
                                </li>
                                <li style="font-weight: 600; margin-bottom: 10px;">৩। শ্রেণীঃ&nbsp;<span style="font-weight: normal;border-bottom: 1px dashed #000;" id="class_name"> </span></li>
                                <li style="font-weight: 600; margin-bottom: 10px;">৪।  পূর্ত কাজ/ সরবরাহ কাজ/ <del>বৈদ্যুতিক ও যান্ত্রিক কাজ</del></li>
                                <li style="font-weight: 600; margin-bottom: 10px;">৫। নিবন্ধন সংখ্যা/ নম্বরঃ&nbsp;<span style="font-weight: normal;border-bottom: 1px dashed #000;" id="endlishment_no"> </span></li>
                                <li style="font-weight: 600; margin-bottom: 10px;">৬। তালিকাভুক্তির বৎসরঃ&nbsp;<span style="font-weight: normal;border-bottom: 1px dashed #000;" id="enlishment_year"></span></li>
                                <li style="font-weight: 600; margin-bottom: 10px;">৭। শ্রেণী উন্নীতকরণ/ নবায়নঃ&nbsp;<span style="font-weight: normal;border-bottom: 1px dashed #000;" id="class_upgradation">  </span> পর্যন্ত।</li>
                            </ul>
                            <div style="margin-left: auto;margin-top: auto;">
                                <div style="display: inline-block;text-align: center;font-weight: 600;font-size: 13px;">
                                    <img class="signature-img" src="img/signature-02.png" alt="" style="max-width: 100%;height: 24px;display: block;margin: 0 auto 10px;">
                                    ২৭-২-২০১৯<br>
                                    উপ-সচিব <br>
                                    প্রশাসন বিভাগ - ২, ঢাকা ওয়াসা<br>
                                    ও<br>
                                    সদস্য-সচিব,<br>
                                    এনলিস্টমেন্ট কমিটি।
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        -->
        <script>
                         function printDiv(divName) {
                             var printContents = document.getElementById(divName).innerHTML;
                             var originalContents = document.body.innerHTML;
                             document.body.innerHTML = printContents;
                             window.print();
                             document.body.innerHTML = originalContents;
                         }
        </script>
{%  endblock content %}

{% block custom_js %}

<script>

             $("#chalan").addClass("mm-active");
             $("#add-license").addClass("mm-active");

             $(document).ready(function() {
             $('.select2').select2({
                    theme: "classic"
                });

             $('#id_enlishment_no').keyup(function () {
                $('#endlishment_no').text($(this).val());
             });

             $('#id_enlishment_year').keyup(function () {
                $('#enlishment_year').text($(this).val());
             });

             $('#id_upgradataion_or_renewal_year').keyup(function () {
                $('#class_upgradation').text($(this).val());
             });


             //Ajax

             $('#id_contractor').change(function(){
                 var contractor_id = $(this).val();

                 //alert(contractor_id);

                       $.ajax({
                            method: 'GET',
                            'contentType': 'application/json',
                            url: '/getContractorInfo/'+contractor_id + '/',

                            dataType: 'json',
                            success: function (data) {
                              if (data.contractor_info) {
                                console.log(data.contractor_info[0].applied_for);
                                $('#contractor_father').text(data.contractor_info[0].fathers_name);
                                $('#contractor_mother').text(data.contractor_info[0].mothers_name);





                                $('#contractor_name').text(data.contractor_info[0].contractor_name);
                                $('#proprietor_name').text(data.contractor_info[0].proprietor_name);
                                //$('#applicant_id').src = (data.contractor_info[0].photograph.url);
                                //$('#applicant_id').src = 'hi';
                                  var photoGraph = (data.contractor_info[0].photograph);


                                var base_url = window.location.origin;

                                photoGraph = (base_url+'/media/'+photoGraph);

                                 $("#applicant_id").attr("src",photoGraph);

                                //alert(base_url);

                                if(data.contractor_info[1].class_name ==='second_class'){

                                    $('#class_name').text('দ্বিতীয়');
                                }
                                else if(data.contractor_info[1].class_name ==='third_class'){
                                    $('#class_name').text('তৃতীয়');

                                }

                                else if(data.contractor_info[1].class_name ==='first_class'){
                                    $('#class_name').text('প্রথম');

                                }
                                else{

                                    $('#class_name').text();
                                }
                              }
                            }
                          });

              });


             //End
             });
</script>

{% endblock custom_js %}