{% extends 'frontend/base.html' %}

{% block navbar_wizard %}
{% include 'snippets/custom-navbar-wizard.html' %}
{% endblock navbar_wizard %}

{% block content %}
<!--<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>-->

<div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
    <h3>License List:</h3>
    <hr>
    <div class="table-responsive">




    <table id="example" class="table  table-bordered">
        <thead>
            <tr>
                <th>SL</th>
                <th>Enlishment No.</th>
                <th>Enlishment Year</th>
                <th>Upgradataion Or Renewal Year</th>

                <th>Details</th>
            </tr>
        </thead>
        <tbody>

        {% for license in licenseList %}
            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td scope="row">{{ license.enlishment_no }}</td>
                <td>{{ license.enlishment_year }}</td>
                <td>{{ license.upgradataion_or_renewal_year }}</td>

                <td><a href="{% url 'frontend_print_license' license.id %}">View</a></td>

            </tr>
        {% endfor %}

        </tbody>

    </table>





    </div>

    </div>


{% endblock content %}

{% block extra_script %}
<script>
             $('#license').addClass('active');
             $("#users").addClass("mm-active");
             $("#role-list").addClass("mm-active");
             $(document).ready(function() {
             $('#naimvai').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
              });
            });

            $('#download').addClass('active');


</script>

{% endblock extra_script %}